Repository harness/developer-hub, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pratmit, @wei-harness, @rohanmaharjan100, @ravilach, @Ompragash, @krishi0408, @SushrutHarness, @vishal-av, @pranaykaikini, @prasadsatamharness, @thisrohangupta, @shylajas, @nofarblue, @rustd, @dewan-ahmed, @shivloka-harness, @pwolf-harness, @hitesharinga, @tejakummarikuntla, @priteshchandaliya, @navaneeth, @Rohit-Kaliki, @joeyouss, @nikunj-badjatya, @raviyadalam, @iamanmolm, @sdsingh07, @sandyydk, @abhinavsingh-ccm, @M-Tsur, @sunilgupta-harness, @umamukkara, @neelanjan00, @SmritiSatya, @shovanmaity, @Jonsy13, @Saranya-jena, @Adarshkumar14, @ispeakc0de, @amityt, @uditgaurav, @S-ayanide, @vanshBhatia-A4k9, @ksatchit, @GokulBansal0, @abhishekharness, @ivikramsahu, @anshul-harness, @SudarshanPurohit, @Debanitrkl, @OrkoHunter, @manishas, @pranay-harness, @RickCraig, @richardblack-Harness, @allofthesepeople, @scottyw-harness, @nassergonzalez, @HarnessTheChaos, @jenniferopal, @laura-mannus, @Kira-Jennings, @laura135, @codewdhruv, @batraprashant, @stephenatwell, @archit-harness, @khushisharmaharness, @shankaranandh, @shivagowda, @dtk-DaveKarow, @kleinjoshuaa, @deej-split, @ankit-harness, @yogi-harness, @deepanshuHarness, @jimin-harness, @guna-harness, @okosun-j, @rssnyder, @suranc, @RajiKoppala

add suggestion from code review
  docs/continuous-delivery/cd-integrations.md
  release-notes/continuous-delivery.md
Owners: @krishi0408, @SushrutHarness, @vishal-av, @pranaykaikini, @prasadsatamharness, @thisrohangupta, @shylajas

Update docs/continuous-delivery/x-platform-cd-features/cd-steps/notify-users-of-pipeline-events.md
  docs/continuous-delivery/x-platform-cd-features/cd-steps/notify-users-of-pipeline-events.md
Owners: @krishi0408, @SushrutHarness, @vishal-av, @pranaykaikini, @prasadsatamharness, @thisrohangupta, @shylajas

Update upgrade-infra.md
  docs/chaos-engineering/use-harness-ce/infrastructures/upgrade-infra.md
Owners: @neelanjan00, @SmritiSatya, @shovanmaity, @Jonsy13, @Saranya-jena, @Adarshkumar14, @ispeakc0de, @amityt, @uditgaurav, @S-ayanide, @vanshBhatia-A4k9, @ksatchit, @umamukkara

Update upgrade-infra.md
  docs/chaos-engineering/use-harness-ce/infrastructures/upgrade-infra.md
Owners: @neelanjan00, @SmritiSatya, @shovanmaity, @Jonsy13, @Saranya-jena, @Adarshkumar14, @ispeakc0de, @amityt, @uditgaurav, @S-ayanide, @vanshBhatia-A4k9, @ksatchit, @umamukkara

Added unlisted to the docs
  static/robots.txt
Owners: @rohanmaharjan100, @wei-harness

Added hideable to hide the adoption playbook from sidebar
  docusaurus.config.ts
Owners: @wei-harness, @rohanmaharjan100

Update centralized and distributed delegate docs
  docs/chaos-engineering/use-harness-ce/infrastructures/custom-sa.md
  docs/chaos-engineering/use-harness-ce/infrastructures/static/delegate/centralized-delegate.png
  docs/chaos-engineering/use-harness-ce/infrastructures/static/delegate/delegate-perms.png
  docs/chaos-engineering/use-harness-ce/infrastructures/static/delegate/delegate-setup.png
  docs/chaos-engineering/use-harness-ce/infrastructures/static/delegate/edit-infra-sa.png
  docs/chaos-engineering/use-harness-ce/infrastructures/static/delegate/sa-3.png
  docs/chaos-engineering/use-harness-ce/infrastructures/static/delegate/setup-1.png
  docs/chaos-engineering/use-harness-ce/infrastructures/static/delegate/setup-2.png
Owners: @neelanjan00, @SmritiSatya, @shovanmaity, @Jonsy13, @Saranya-jena, @Adarshkumar14, @ispeakc0de, @amityt, @uditgaurav, @S-ayanide, @vanshBhatia-A4k9, @ksatchit, @umamukkara

Update anchore-enterprise-scanner-reference.md
  docs/security-testing-orchestration/sto-techref-category/anchore-enterprise-scanner-reference.md
Owners: @tejakummarikuntla, @priteshchandaliya

Fix Kebab case check
  docs/security-testing-orchestration/sto-techref-category/shared/wiz-policy-failure-results.md
  docs/security-testing-orchestration/sto-techref-category/wiz/artifact-scans-with-wiz.md
  docs/security-testing-orchestration/sto-techref-category/wiz/iac-scans-with-wiz.md
  docs/security-testing-orchestration/sto-techref-category/wiz/repo-scans-with-wiz.md
Owners: @tejakummarikuntla, @priteshchandaliya

Fix broken links
  docs/security-testing-orchestration/sto-techref-category/built-in-scanners.md
  release-notes/security-testing-orchestration.md
Owners: @tejakummarikuntla, @priteshchandaliya

Document STO Policy Template: Block based on external policy failures
  docs/security-testing-orchestration/sto-techref-category/sonarqube-sonar-scanner-reference.md
  docs/security-testing-orchestration/use-sto/shared/security-tests-policy-samples.md
Owners: @tejakummarikuntla, @priteshchandaliya

Dummy commit to reinitiate the kebab check
  docs/security-testing-orchestration/sto-techref-category/shared/wiz-policy-failure-results.md
Owners: @tejakummarikuntla, @priteshchandaliya

Add scanner versions
  docs/security-testing-orchestration/sto-techref-category/built-in-scanners.md
Owners: @tejakummarikuntla, @priteshchandaliya

Added unlisted to the docs
  docs/internal-developer-portal/adoption/adoption-playbook.md
  docusaurus.config.ts
Owners: @Debanitrkl, @OrkoHunter, @manishas, @wei-harness, @rohanmaharjan100

Tech review
  docs/chaos-engineering/use-harness-ce/infrastructures/upgrade-infra.md
Owners: @neelanjan00, @SmritiSatya, @shovanmaity, @Jonsy13, @Saranya-jena, @Adarshkumar14, @ispeakc0de, @amityt, @uditgaurav, @S-ayanide, @vanshBhatia-A4k9, @ksatchit, @umamukkara

added eu & prod3 base url's
  docs/software-engineering-insights/get-started/migrate-propelo-to-harness/migrate-propelo-to-harness-sei.md
  docs/software-engineering-insights/sei-technical-reference/sei-api-reference/sei-api-guide.md
Owners: @codewdhruv, @batraprashant

Update faqs.md
  kb/continuous-delivery/faqs.md
Owners: @deepanshuHarness, @jimin-harness, @guna-harness

Restructure Built-in scanner docs
  docs/security-testing-orchestration/sto-techref-category/built-in-scanners.md
  docs/security-testing-orchestration/sto-techref-category/built-in/_category_.json
  docs/security-testing-orchestration/sto-techref-category/built-in/containers.md
  docs/security-testing-orchestration/sto-techref-category/built-in/dast.md
  docs/security-testing-orchestration/sto-techref-category/built-in/iac.md
  docs/security-testing-orchestration/sto-techref-category/built-in/sast.md
  docs/security-testing-orchestration/sto-techref-category/built-in/sca.md
  docs/security-testing-orchestration/sto-techref-category/built-in/secrets.md
  docs/security-testing-orchestration/sto-techref-category/static/built-in-pass-cli-flags.png
Owners: @tejakummarikuntla, @priteshchandaliya

Address reviews
  docs/security-testing-orchestration/sto-techref-category/built-in-scanners.md
Owners: @tejakummarikuntla, @priteshchandaliya

tech review
  docs/chaos-engineering/use-harness-ce/infrastructures/custom-sa.md
  docs/chaos-engineering/use-harness-ce/infrastructures/static/delegate/sa-3.png
  docs/chaos-engineering/use-harness-ce/infrastructures/static/delegate/setup-2.png
Owners: @neelanjan00, @SmritiSatya, @shovanmaity, @Jonsy13, @Saranya-jena, @Adarshkumar14, @ispeakc0de, @amityt, @uditgaurav, @S-ayanide, @vanshBhatia-A4k9, @ksatchit, @umamukkara

Update wiz-policy-failure-results.md
  docs/security-testing-orchestration/sto-techref-category/shared/wiz-policy-failure-results.md
Owners: @tejakummarikuntla, @priteshchandaliya

Add the sample link to Wiz and Anchore docs
  docs/security-testing-orchestration/sto-techref-category/anchore-enterprise-scanner-reference.md
  docs/security-testing-orchestration/sto-techref-category/shared/_wiz-policy-failure-results.md
Owners: @tejakummarikuntla, @priteshchandaliya

Add Built-in scanner sections to each scanner docs
  docs/security-testing-orchestration/sto-techref-category/built-in-scanners.md
  docs/security-testing-orchestration/sto-techref-category/checkov-iac-scan.md
  docs/security-testing-orchestration/sto-techref-category/gitleaks-scanner-reference.md
  docs/security-testing-orchestration/sto-techref-category/grype/grype-scanner-reference.md
  docs/security-testing-orchestration/sto-techref-category/osv-scanner-reference.md
  docs/security-testing-orchestration/sto-techref-category/owasp-scanner-reference.md
  docs/security-testing-orchestration/sto-techref-category/semgrep/semgrep-scanner-reference.md
  docs/security-testing-orchestration/sto-techref-category/trivy/aqua-trivy-scanner-reference.md
  docs/security-testing-orchestration/sto-techref-category/zap/zap-scanner-reference.md
Owners: @tejakummarikuntla, @priteshchandaliya

Update upgrade-infra.md
  docs/chaos-engineering/use-harness-ce/infrastructures/upgrade-infra.md
Owners: @neelanjan00, @SmritiSatya, @shovanmaity, @Jonsy13, @Saranya-jena, @Adarshkumar14, @ispeakc0de, @amityt, @uditgaurav, @S-ayanide, @vanshBhatia-A4k9, @ksatchit, @umamukkara

Update helm-canary-delete.md
  docs/continuous-delivery/deploy-srv-diff-platforms/helm/step-reference/helm-canary-delete.md
Owners: @krishi0408, @SushrutHarness, @vishal-av, @pranaykaikini, @prasadsatamharness, @thisrohangupta, @shylajas

Update kubernetes-patch-step.md
  docs/continuous-delivery/deploy-srv-diff-platforms/kubernetes/cd-k8s-ref/kubernetes-patch-step.md
Owners: @krishi0408, @SushrutHarness, @vishal-av, @pranaykaikini, @prasadsatamharness, @thisrohangupta, @shylajas

Update helm-canary-deploy.md
  docs/continuous-delivery/deploy-srv-diff-platforms/helm/step-reference/helm-canary-deploy.md
Owners: @krishi0408, @SushrutHarness, @vishal-av, @pranaykaikini, @prasadsatamharness, @thisrohangupta, @shylajas

Update helm-bg-swap.md
  docs/continuous-delivery/deploy-srv-diff-platforms/helm/step-reference/helm-bg-swap.md
Owners: @krishi0408, @SushrutHarness, @vishal-av, @pranaykaikini, @prasadsatamharness, @thisrohangupta, @shylajas

Update helm-bg-deploy.md
  docs/continuous-delivery/deploy-srv-diff-platforms/helm/step-reference/helm-bg-deploy.md
Owners: @krishi0408, @SushrutHarness, @vishal-av, @pranaykaikini, @prasadsatamharness, @thisrohangupta, @shylajas

Terminology clarification
  docs/continuous-integration/use-ci/set-up-build-infrastructure/vm-build-infrastructure/set-up-an-aws-vm-build-infrastructure.md
Owners: @nofarblue, @rustd, @dewan-ahmed, @SushrutHarness, @shivloka-harness

add demo video for event relay
  docs/platform/triggers/trigger-pipelines-using-generic-events.md
Owners: @krishi0408, @vishal-av, @SudarshanPurohit

test 1
  .github/workflows/eslint.yml
  .github/workflows/textlint.yml.nonghextension
Owners: @pratmit, @wei-harness

Added OPA Limitation on Filter evaluation
  docs/continuous-delivery/x-platform-cd-features/advanced/cd-governance/add-a-governance-policy-step-to-a-pipeline.md
Owners: @krishi0408, @SushrutHarness, @vishal-av, @pranaykaikini, @prasadsatamharness, @thisrohangupta, @shylajas

HDH-346-upgrade-hdh-to-node-22
  .github/workflows/textlint.yml.nonghextension
Owners: @pratmit, @wei-harness

test 1
  package.json
Owners: @wei-harness

Add parity options to spec sample
  docs/continuous-delivery/gitops/connect-and-manage/manage-argo-configs.md
Owners: @krishi0408, @SushrutHarness, @vishal-av, @pranaykaikini, @prasadsatamharness, @thisrohangupta, @shylajas

fargate limitations
  docs/continuous-integration/use-ci/set-up-build-infrastructure/vm-build-infrastructure/set-up-an-aws-vm-build-infrastructure.md
Owners: @nofarblue, @rustd, @dewan-ahmed, @SushrutHarness, @shivloka-harness

chore:typescript update
  package.json
  src/components/Feedback/index.tsx
  src/pages/index.tsx
Owners: @wei-harness, @rohanmaharjan100

HDH-346-upgrade-hdh-to-node-22
  package.json
  src/pages/index.tsx
  yarn.lock
Owners: @wei-harness, @rohanmaharjan100

Update prerequisite
  docs/chaos-engineering/use-harness-ce/infrastructures/custom-sa.md
Owners: @neelanjan00, @SmritiSatya, @shovanmaity, @Jonsy13, @Saranya-jena, @Adarshkumar14, @ispeakc0de, @amityt, @uditgaurav, @S-ayanide, @vanshBhatia-A4k9, @ksatchit, @umamukkara

.github/CODEOWNERS:

# HDH Codeowners file.
# Created October 2023 - https://harness.atlassian.net/browse/HDH-189
# Applies to Repository Structure, not URL per-se.
# Learn more at: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global Owners of the HDH Repository
*       @pratmit @wei-harness

# Configuration Files in DS are JS.
*.js    @wei-harness @rohanmaharjan100
*.ts    @wei-harness @rohanmaharjan100
*.jsx    @wei-harness @rohanmaharjan100
*.tsx    @wei-harness @rohanmaharjan100

# Changes to Lock File
*.lock  @wei-harness

# Changes to Config Files
*.ini  @wei-harness
*.json  @wei-harness
*.toml  @wei-harness
*ignore @wei-harness
/_server-redirect @wei-harness

# Changes to Netlify Files
/netlify/ @wei-harness

# Contributing
CONTRIBUTING.md @pratmit
README.md @pratmit
/docs/hdh/ @pratmit

# University
/university/ @ravilach
/src/components/HomepageUniversity/ @ravilach
/src/components/University/ @ravilach

# Community
/community/ @Ompragash

# Redirect Archives
/archive/  @pratmit @wei-harness

# Documentation ###

# All Static files (images etc.)
static/  @rohanmaharjan100 @wei-harness

# All Data files - Please add global reviewers who are familiar with js/ts
# data/*.ts @global-data-file-owners

# Continuous Delivery Docs
/docs/continuous-delivery/ @krishi0408 @SushrutHarness @vishal-av @pranaykaikini @prasadsatamharness @thisrohangupta @shylajas
/release-notes/continuous-delivery.md @krishi0408 @SushrutHarness @vishal-av @pranaykaikini @prasadsatamharness @thisrohangupta @shylajas
/src/components/Roadmap/data/cdData.ts @krishi0408 @SushrutHarness @vishal-av @thisrohangupta @shylajas
/src/components/Docs/data/continuousDeliveryData*  @krishi0408 @SushrutHarness @vishal-av @thisrohangupta
# FirstGen CD Docs
/docs/category/continuous-delivery/ @krishi0408 @SushrutHarness @vishal-av @thisrohangupta
# CD FAQs
/docs/faqs/continuous-delivery-faqs @krishi0408 @SushrutHarness @vishal-av
# GitEx FAQs
/docs/faqs/git-exp-vs-config-as-code/ @krishi0408 @SushrutHarness @vishal-av


# Continuous Integration Docs
/docs/continuous-integration/ @nofarblue @rustd @dewan-ahmed @SushrutHarness @shivloka-harness
/release-notes/continuous-integration.md @nofarblue @rustd @dewan-ahmed @SushrutHarness @shivloka-harness
/src/components/Roadmap/data/ciData.ts @nofarblue @rustd @dewan-ahmed @SushrutHarness @shivloka-harness
/src/components/Docs/data/continuousIntegrationData.ts @nofarblue @rustd @dewan-ahmed @SushrutHarness @shivloka-harness

# CODE Docs
/docs/code-repository/ @pwolf-harness @hitesharinga @dewan-ahmed
/release-notes/code-repository.md @pwolf-harness @hitesharinga @dewan-ahmed
/src/components/Roadmap/data/codeData.ts @pwolf-harness @hitesharinga @dewan-ahmed
/src/components/Docs/data/codeRepositoryData.tsx @pwolf-harness @hitesharinga @dewan-ahmed

# STO Docs
/docs/security-testing-orchestration/ @tejakummarikuntla @priteshchandaliya
/docs/faqs/security-testing-orchestration/ @tejakummarikuntla @priteshchandaliya
/release-notes/security-testing-orchestration.md @tejakummarikuntla @priteshchandaliya
/src/components/Roadmap/data/stoData.ts @tejakummarikuntla @priteshchandaliya
/src/components/Docs/data/securityTestingOrchestrationData.ts @tejakummarikuntla @priteshchandaliya
# STO FAQs
/docs/faqs/security-testing-orchestration/ @tejakummarikuntla

# CCM Docs
/docs/cloud-cost-management/ @navaneeth @Rohit-Kaliki @joeyouss @nikunj-badjatya @raviyadalam @iamanmolm @sdsingh07 @sandyydk @abhinavsingh-ccm
/release-notes/cloud-cost-management.md @raviyadalam
/src/components/Roadmap/data/ccmData.ts @navaneeth @Rohit-Kaliki @joeyouss
/src/components/Docs/data/cloudCostManagementData.ts @navaneeth @Rohit-Kaliki @joeyouss
# FirstGen CCM Docs
/docs/category/cloud-cost-management/ @navaneeth @Rohit-Kaliki @joeyouss
# CCM FAQs
/docs/faqs/cloud-cost-management-faqs/ @navaneeth @Rohit-Kaliki @joeyouss

# CET Docs
/docs/continuous-error-tracking/ @M-Tsur
/release-notes/continuous-error-tracking.md @M-Tsur
/src/components/Docs/data/cloudCostManagementData.ts @M-Tsur

# SRM Docs
/docs/service-reliability-management/ @sunilgupta-harness @umamukkara
/release-notes/service-reliability-management.md @sunilgupta-harness @umamukkara
/src/components/Roadmap/data/srmData.ts @sunilgupta-harness
/src/components/Docs/data/serviceReliabilityManagementData.ts @sunilgupta-harness

# Chaos Docs
/docs/chaos-engineering/ @neelanjan00 @SmritiSatya @shovanmaity @Jonsy13 @Saranya-jena @Adarshkumar14 @ispeakc0de @amityt @uditgaurav @S-ayanide @vanshBhatia-A4k9 @ksatchit @umamukkara
/release-notes/chaos-engineering.md @neelanjan00 @SmritiSatya @Jonsy13
/src/components/Roadmap/data/ceData.ts @krishi0408 @neelanjan00 @SmritiSatya @vishal-av @SushrutHarness
/src/components/Docs/data/chaosEngineeringData* @krishi0408 @neelanjan00 @SmritiSatya @vishal-av @SushrutHarness
# Chaos FAQs
/kb/chaos-engineering/chaos-engineering-faq @neelanjan00 @SmritiSatya @ksatchit @umamukkara

# Platform Docs
/docs/platform/ @pratmit @krishi0408 @GokulBansal0 @abhishekharness @ivikramsahu
/release-notes/delegate.md @pratmit @abhishekharness @anshul-harness @ivikramsahu
/release-notes/platform.md @pratmit @GokulBansal0 @abhishekharness @ivikramsahu
/release-notes/self-managed-enterprise-edition.md @pratmit @abhishekharness @ivikramsahu
/src/components/Roadmap/data/platformData.ts @pratmit @abhishekharness @ivikramsahu
/src/components/Docs/data/platformData.ts @pratmit @abhishekharness @ivikramsahu
# FirtGen Platform Docs
/docs/category/platform-firstgen/ @pratmit @abhishekharness @ivikramsahu
# FirstGen SMP Docs
/docs/category/self-managed-enterprise-edition-fg/ @pratmit @abhishekharness @ivikramsahu
/docs/self-managed-enterprise-edition/ @pratmit @abhishekharness @ivikramsahu
# Delegate FAQs
/docs/faqs/harness-delegate-faqs/ @pratmit @abhishekharness @ivikramsahu
# SMP FAQs
/docs/faqs/self-managed-ee-faq/ @pratmit @abhishekharness @ivikramsahu

# Pipeline Docs
/docs/platform/pipelines/ @krishi0408 @vishal-av @SudarshanPurohit
/docs/platform/git-experience/ @krishi0408 @vishal-av @prasadsatamharness
/docs/platform/templates/ @krishi0408 @vishal-av @SudarshanPurohit
/docs/platform/variables-and-expressions/ @krishi0408 @vishal-av @SudarshanPurohit
/docs/platform/triggers/ @krishi0408 @vishal-av @SudarshanPurohit
/docs/platform/approvals/ @krishi0408 @vishal-av 
/docs/platform/connectors/ @krishi0408 @vishal-av

# IDP Docs
/docs/internal-developer-portal/ @Debanitrkl @OrkoHunter @manishas
/release-notes/internal-developer-portal.md @Debanitrkl @OrkoHunter @manishas
/src/components/Roadmap/data/idpData.ts @Debanitrkl @OrkoHunter @manishas
/src/components/Docs/data/internalDeveloperPortal.ts @Debanitrkl @OrkoHunter @manishas

# SCS Docs
/docs/software-supply-chain-assurance/ @sunilgupta-harness @tejakummarikuntla @pranay-harness
/release-notes/software-supply-chain-assurance.md @sunilgupta-harness @tejakummarikuntla @pranay-harness
/src/components/Roadmap/data/sscaData.ts @sunilgupta-harness @tejakummarikuntla @pranay-harness
/src/components/Docs/data/softwareSupplyChainAssuranceData.tsx @sunilgupta-harness @tejakummarikuntla @pranay-harness

# IACM Docs
/docs/infra-as-code-management/ @RickCraig @richardblack-Harness @allofthesepeople @scottyw-harness @nassergonzalez
/src/components/Roadmap/data/iacmData.ts @RickCraig @richardblack-Harness
/src/components/Docs/data/iacmData.ts @RickCraig @richardblack-Harness

# FF Docs
/docs/feature-flags/ @HarnessTheChaos @jenniferopal @laura-mannus @Kira-Jennings @laura135
/release-notes/feature-flags.md @HarnessTheChaos @jenniferopal
/src/components/Roadmap/data/ffData.ts @HarnessTheChaos @jenniferopal
/src/components/Docs/data/featureFlagsData.ts @HarnessTheChaos @jenniferopal
# FF FAQs
/docs/faqs/harness-feature-flag-faqs/ @HarnessTheChaos @jenniferopal

# SEI Docs
/docs/software-engineering-insights/ @codewdhruv @batraprashant
/release-notes/software-engineering-insights.md @codewdhruv @batraprashant
/src/components/Roadmap/data/seiData.ts @codewdhruv
/src/components/Docs/data/softwareEngineeringInsightsData.ts @codewdhruv

# DB DevOps Docs
/docs/database-devops/ @jenniferopal @stephenatwell @HarnessTheChaos @archit-harness @anshul-harness
/release-notes/database-devops.md @stephenatwell @jenniferopal @HarnessTheChaos @archit-harness @anshul-harness
/src/components/Docs/data/databaseDevOpsData.ts @stephenatwell @jenniferopal @HarnessTheChaos @archit-harness @anshul-harness
# DB DevOps FAQs
/docs/faqs/db-devops-faqs/ @jenniferopal @stephenatwell @HarnessTheChaos @archit-harness @anshul-harness

# CDE Docs
/docs/cloud-development-environments/ @manishas @khushisharmaharness
/src/components/Docs/data/cloudDevelopmentEnvironmentData.ts @manishas @khushisharmaharness

# AI QA Assistant Docs
/docs/ai-qa-assistant/ 

# Artifact Registry Docs
/docs/artifact-registry/ @shankaranandh @shivagowda @richardblack-Harness
/src/components/Docs/data/artifactRegistryData.ts @shankaranandh @shivagowda @richardblack-Harness

#FME Docs
/src/components/Roadmap/data/fmeData.ts @dtk-DaveKarow @kleinjoshuaa @deej-split

# Open Source Docs
/docs/open-source/ @dewan-ahmed @rustd @SushrutHarness
/src/components/Docs/data/openSourceData.tsx @dewan-ahmed @rustd @SushrutHarness

# Cloud Operations Docs
/docs/harness-cloud-operations/ @ankit-harness @yogi-harness

# Knowledge Base ###

# Overall KB
/kb/ @deepanshuHarness @jimin-harness @guna-harness
/src/components/KnowledgeBase/data/ @deepanshuHarness @jimin-harness @guna-harness

#Armory KB
/kb/armory @okosun-j @jimin-harness @deepanshuHarness @guna-harness

#RA
/kb/reference-architectures/ @rssnyder @suranc @jimin-harness @deepanshuHarness @guna-harness

# DB DevOps
/kb/database-devops/ @jenniferopal @stephenatwell @HarnessTheChaos @archit-harness @anshul-harness

#Reference Architectures
/kb/reference-architectures @RajiKoppala @rssnyder
