Repository harness/developer-hub, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pratmit, @wei-harness, @rohanmaharjan100, @ravilach, @Ompragash, @krishi0408, @SushrutHarness, @vishal-av, @pranaykaikini, @prasadsatamharness, @thisrohangupta, @shylajas, @nofarblue, @rustd, @dewan-ahmed, @shivloka-harness, @pwolf-harness, @hitesharinga, @tejakummarikuntla, @priteshchandaliya, @navaneeth, @Rohit-Kaliki, @joeyouss, @nikunj-badjatya, @raviyadalam, @iamanmolm, @sdsingh07, @sandyydk, @abhinavsingh-ccm, @M-Tsur, @sunilgupta-harness, @umamukkara, @neelanjan00, @SmritiSatya, @shovanmaity, @Jonsy13, @Saranya-jena, @Adarshkumar14, @ispeakc0de, @amityt, @uditgaurav, @S-ayanide, @vanshBhatia-A4k9, @ksatchit, @GokulBansal0, @abhishekharness, @ivikramsahu, @anshul-harness, @SudarshanPurohit, @Debanitrkl, @OrkoHunter, @manishas, @pranay-harness, @RickCraig, @richardblack-Harness, @allofthesepeople, @scottyw-harness, @nassergonzalez, @HarnessTheChaos, @jenniferopal, @laura-mannus, @Kira-Jennings, @laura135, @codewdhruv, @batraprashant, @stephenatwell, @archit-harness, @khushisharmaharness, @shankaranandh, @shivagowda, @dtk-DaveKarow, @kleinjoshuaa, @deej-split, @ankit-harness, @yogi-harness, @deepanshuHarness, @jimin-harness, @guna-harness, @okosun-j, @rssnyder, @suranc, @RajiKoppala

HDH-346-upgrade-hdh-to-node-22 test
  src/pages/index.tsx
Owners: @wei-harness, @rohanmaharjan100

Update custom-sa.md
  docs/chaos-engineering/use-harness-ce/infrastructures/custom-sa.md
Owners: @neelanjan00, @SmritiSatya, @shovanmaity, @Jonsy13, @Saranya-jena, @Adarshkumar14, @ispeakc0de, @amityt, @uditgaurav, @S-ayanide, @vanshBhatia-A4k9, @ksatchit, @umamukkara

updated version table
  docs/continuous-delivery/gitops/connect-and-manage/install-a-harness-git-ops-agent.md
Owners: @krishi0408, @SushrutHarness, @vishal-av, @pranaykaikini, @prasadsatamharness, @thisrohangupta, @shylajas

Update custom-sa.md
  docs/chaos-engineering/use-harness-ce/infrastructures/custom-sa.md
Owners: @neelanjan00, @SmritiSatya, @shovanmaity, @Jonsy13, @Saranya-jena, @Adarshkumar14, @ispeakc0de, @amityt, @uditgaurav, @S-ayanide, @vanshBhatia-A4k9, @ksatchit, @umamukkara

add fargate details
  docs/continuous-integration/use-ci/set-up-build-infrastructure/vm-build-infrastructure/set-up-an-aws-vm-build-infrastructure.md
Owners: @nofarblue, @rustd, @dewan-ahmed, @SushrutHarness, @shivloka-harness

[CDS-105926] Added Faqs
  docs/continuous-delivery/cd-infrastructure/provisioning-faqs.md
  docs/continuous-delivery/deploy-srv-diff-platforms/aws/aws-deployment-faqs.md
  docs/continuous-delivery/deploy-srv-diff-platforms/azure/azure-faqs.md
  docs/continuous-delivery/deploy-srv-diff-platforms/google-cloud-functions/google-functions-faqs.md
  docs/continuous-delivery/deploy-srv-diff-platforms/helm/helm-deployment-faqs.md
  docs/continuous-delivery/deploy-srv-diff-platforms/kubernetes/kubernetes-faqs.md
  docs/continuous-delivery/gitops/gitops-faqs.md
  docs/continuous-delivery/manage-deployments/deployment-faqs.md
  docs/continuous-delivery/x-platform-cd-features/advanced/cd-governance/opa-faqs.md
  docs/continuous-delivery/x-platform-cd-features/cd-steps/cd-steps-faqs.md
  docs/continuous-delivery/x-platform-cd-features/cd-steps/utilities/container-step.md
  docs/continuous-delivery/x-platform-cd-features/cd-steps/utilities/shell-script-step.md
  docs/continuous-delivery/x-platform-cd-features/services/cd-artifact-sources-faqs.md
  docs/platform/variables-and-expressions/variables-and-expressions-faqs.md
Owners: @krishi0408, @SushrutHarness, @vishal-av, @pranaykaikini, @prasadsatamharness, @thisrohangupta, @shylajas, @SudarshanPurohit

Release notes gitops version 1.24.0
  release-notes/continuous-delivery.md
Owners: @krishi0408, @SushrutHarness, @vishal-av, @pranaykaikini, @prasadsatamharness, @thisrohangupta, @shylajas

added Artifact Template Limitation
  docs/continuous-delivery/x-platform-cd-features/templates/artifact-source-template.md
Owners: @krishi0408, @SushrutHarness, @vishal-av, @pranaykaikini, @prasadsatamharness, @thisrohangupta, @shylajas

HDH-346-upgrade-hdh-to-node-22
  src/pages/index.tsx
Owners: @wei-harness, @rohanmaharjan100

HDH-346-upgrade-hdh-to-node-22
  src/components/Feedback/index.tsx
Owners: @wei-harness, @rohanmaharjan100

HDH-346-upgrade-hdh-to-node-22
  .github/workflows/eslint.yml
Owners: @pratmit, @wei-harness

test 1
  .github/workflows/eslint.yml
  .github/workflows/textlint.yml.nonghextension
Owners: @pratmit, @wei-harness

Update on formatting.
  docs/open-source/faq.md
Owners: @dewan-ahmed, @rustd, @SushrutHarness

added the overview breakdown
  docs/database-devops/concepts-and-features/static/db-devops-overview.png
  docs/database-devops/concepts-and-features/static/unified-environment-database-devops.png
  docs/database-devops/concepts-and-features/unified-environment-overview.md
  docs/database-devops/use-database-devops/unified-environment-overview.md
Owners: @jenniferopal, @stephenatwell, @HarnessTheChaos, @archit-harness, @anshul-harness

draft
  docs/database-devops/use-database-devops/unified-environment-overview.md
Owners: @jenniferopal, @stephenatwell, @HarnessTheChaos, @archit-harness, @anshul-harness

added final section
  docs/database-devops/concepts-and-features/unified-environment-overview.md
Owners: @jenniferopal, @stephenatwell, @HarnessTheChaos, @archit-harness, @anshul-harness

Got rid of old iframe in AR
  docs/artifact-registry/platform-integrations/ci-ar-integrations.md
Owners: @shankaranandh, @shivagowda, @richardblack-Harness

Update screenshot to include two new options
  docs/continuous-delivery/gitops/use-gitops/static/sync-applications-4.png
Owners: @krishi0408, @SushrutHarness, @vishal-av, @pranaykaikini, @prasadsatamharness, @thisrohangupta, @shylajas

added further pages for ui breakdown
  docs/database-devops/concepts-and-features/static/db-devops-executions-overview.png
  docs/database-devops/concepts-and-features/static/db-devops-pipelines-page.png
  docs/database-devops/concepts-and-features/unified-environment-overview.md
Owners: @jenniferopal, @stephenatwell, @HarnessTheChaos, @archit-harness, @anshul-harness

Add FAQ for airgapped env.
  docs/open-source/faq.md
Owners: @dewan-ahmed, @rustd, @SushrutHarness

Attempted changes to index.ts to add Tango
  docs/artifact-registry/platform-integrations/ci-ar-integrations.md
  src/components/DocVideo/index.tsx
Owners: @shankaranandh, @shivagowda, @richardblack-Harness, @wei-harness, @rohanmaharjan100

Update CONTRIBUTING.md
  CONTRIBUTING.md
Owners: @pratmit

updated img changes made as per comments
  docs/platform/secrets/secrets-management/add-hashicorp-vault.md
  docs/platform/secrets/static/JWT-configure.png
  docs/platform/secrets/static/jwt_configure.png
Owners: @pratmit, @krishi0408, @GokulBansal0, @abhishekharness, @ivikramsahu

fixing kebab case
  docs/platform/secrets/secrets-management/add-hashicorp-vault.md
  docs/platform/secrets/static/jwt-configure.png
Owners: @pratmit, @krishi0408, @GokulBansal0, @abhishekharness, @ivikramsahu

updating node and pushing connectivity mode
  docs/platform/secrets/secrets-management/add-hashicorp-vault.md
  docs/platform/secrets/static/harshicorp-with-delegate.gif
  docs/platform/secrets/static/harshicorp-without-delegate.gif
Owners: @pratmit, @krishi0408, @GokulBansal0, @abhishekharness, @ivikramsahu

rename faq folders
  docs/feature-management-experimentation/30-http-api/docs/faqs/check-if-a-user-id-is-in-a-segment.md
  docs/feature-management-experimentation/30-http-api/docs/faqs/events-not-seen-when-posting-new-events.md
  docs/feature-management-experimentation/30-http-api/docs/faqs/index.mdx
  docs/feature-management-experimentation/30-http-api/docs/faqs/posting-change-request-fails-when-approver-is-specified-with-400-error.md
  docs/feature-management-experimentation/30-http-api/docs/faqs/update-feature-flag-definition-patch-request-fails-with-400-error.md
  docs/feature-management-experimentation/70-admin-account-settings/docs/faqs/can-feature-flags-move-between-workspaces.md
  docs/feature-management-experimentation/70-admin-account-settings/docs/faqs/index.md
  docs/feature-management-experimentation/70-admin-account-settings/docs/faqs/why-cant-i-edit-the-feature-flags-i-create.md
  docs/feature-management-experimentation/70-admin-account-settings/docs/faqs/why-cant-segment-owners-edit-or-add-items.md
  docs/feature-management-experimentation/70-admin-account-settings/docs/set-up-your-account/faqs/can-i-use-google-account-sign-in-to-authenticate-in-split.md
  docs/feature-management-experimentation/70-admin-account-settings/docs/set-up-your-account/faqs/cookies-used-by-split.md
  docs/feature-management-experimentation/70-admin-account-settings/docs/set-up-your-account/faqs/how-long-is-a-new-user-invitation-valid.md
  docs/feature-management-experimentation/70-admin-account-settings/docs/set-up-your-account/faqs/index.md
  docs/feature-management-experimentation/70-admin-account-settings/docs/set-up-your-account/faqs/new-user-fails-to-login-to-fme-using-invitation.md
  docs/feature-management-experimentation/70-admin-account-settings/docs/set-up-your-account/faqs/user-invitation-emails-are-never-received.md
  docs/feature-management-experimentation/70-admin-account-settings/docs/set-up-your-account/faqs/what-are-the-split-cloud-http-endpoints.md
Owners: @pratmit, @wei-harness

New commit
  docs/chaos-engineering/use-harness-ce/chaos-faults/kubernetes/node/node-cpu-hog.md
  docs/chaos-engineering/use-harness-ce/chaos-faults/kubernetes/node/node-drain.md
  docs/chaos-engineering/use-harness-ce/chaos-faults/kubernetes/node/node-memory-hog.md
  docs/chaos-engineering/use-harness-ce/chaos-faults/kubernetes/node/node-network-loss.md
  docs/chaos-engineering/use-harness-ce/chaos-faults/kubernetes/node/node-restart.md
  docs/chaos-engineering/use-harness-ce/chaos-faults/kubernetes/node/probe-validations.md
  docs/chaos-engineering/use-harness-ce/chaos-faults/kubernetes/pod/pod-cpu-hog.md
  docs/chaos-engineering/use-harness-ce/chaos-faults/kubernetes/pod/pod-delete.md
  docs/chaos-engineering/use-harness-ce/chaos-faults/kubernetes/pod/pod-dns-error.md
  docs/chaos-engineering/use-harness-ce/chaos-faults/kubernetes/pod/pod-network-latency.md
  docs/chaos-engineering/use-harness-ce/chaos-faults/kubernetes/pod/pod-network-loss.md
  docs/chaos-engineering/use-harness-ce/chaos-faults/kubernetes/pod/probe-validations.md
  docs/chaos-engineering/use-harness-ce/chaos-faults/kubernetes/pod/time-chaos.md
Owners: @neelanjan00, @SmritiSatya, @shovanmaity, @Jonsy13, @Saranya-jena, @Adarshkumar14, @ispeakc0de, @amityt, @uditgaurav, @S-ayanide, @vanshBhatia-A4k9, @ksatchit, @umamukkara

updated imgs and comments; new PR with node changes updates
  docs/platform/secrets/secrets-management/add-hashicorp-vault.md
  docs/platform/secrets/static/harshicorp-with-delegate.gif
  docs/platform/secrets/static/harshicorp-without-delegate.gif
  docs/platform/secrets/static/harshicorp.gif
  docs/platform/secrets/static/jwt-configure.png
Owners: @pratmit, @krishi0408, @GokulBansal0, @abhishekharness, @ivikramsahu

1.74.x with all commits and conversation resolved
  release-notes/platform.md
Owners: @pratmit, @GokulBansal0, @abhishekharness, @ivikramsahu

new PR due to node issues
  release-notes/self-managed-enterprise-edition.md
Owners: @pratmit, @abhishekharness, @ivikramsahu

gcp changes
  docs/cloud-cost-management/5-use-ccm-cost-governance/asset-governance/Azure/2-harness-concepts.md
  docs/cloud-cost-management/5-use-ccm-cost-governance/asset-governance/GCP/2-harness-concepts.md
  docs/cloud-cost-management/5-use-ccm-cost-governance/asset-governance/static/create-new-rule-set-gcp.png
  docs/cloud-cost-management/5-use-ccm-cost-governance/asset-governance/static/create-new-rule-set.png
  docs/cloud-cost-management/5-use-ccm-cost-governance/asset-governance/static/create_enforcement_azure.png
  docs/cloud-cost-management/5-use-ccm-cost-governance/asset-governance/static/create_enforcement_gcp.png
  docs/cloud-cost-management/5-use-ccm-cost-governance/asset-governance/static/enforcements.png
  docs/cloud-cost-management/5-use-ccm-cost-governance/asset-governance/static/enforcements_gcp.png
  docs/cloud-cost-management/5-use-ccm-cost-governance/asset-governance/static/evaluation_gcp.png
  docs/cloud-cost-management/5-use-ccm-cost-governance/asset-governance/static/evaluation_gcp1.png
  docs/cloud-cost-management/5-use-ccm-cost-governance/asset-governance/static/evaluation_gcp_.png
  docs/cloud-cost-management/5-use-ccm-cost-governance/asset-governance/static/rule_set.png
  docs/cloud-cost-management/5-use-ccm-cost-governance/asset-governance/static/rule_set_gcp.png
  docs/cloud-cost-management/5-use-ccm-cost-governance/asset-governance/static/rule_window.png
  docs/cloud-cost-management/5-use-ccm-cost-governance/asset-governance/static/rule_window_azure.png
  docs/cloud-cost-management/5-use-ccm-cost-governance/asset-governance/static/rule_window_gcp.png
  docs/cloud-cost-management/5-use-ccm-cost-governance/asset-governance/static/rules_azure_selection.png
  docs/cloud-cost-management/5-use-ccm-cost-governance/asset-governance/static/rules_gcp_selection.png
  docs/cloud-cost-management/5-use-ccm-cost-governance/asset-governance/static/set-up-schedule-gcp.png
  docs/cloud-cost-management/5-use-ccm-cost-governance/asset-governance/static/update_and_delete.png
  docs/cloud-cost-management/5-use-ccm-cost-governance/asset-governance/static/update_and_delete_enforcement_gcp.png
  docs/cloud-cost-management/5-use-ccm-cost-governance/asset-governance/static/update_and_delete_gcp.png
Owners: @navaneeth, @Rohit-Kaliki, @joeyouss, @nikunj-badjatya, @raviyadalam, @iamanmolm, @sdsingh07, @sandyydk, @abhinavsingh-ccm

Update helm-deployment-faqs.md
  docs/continuous-delivery/deploy-srv-diff-platforms/helm/helm-deployment-faqs.md
Owners: @krishi0408, @SushrutHarness, @vishal-av, @pranaykaikini, @prasadsatamharness, @thisrohangupta, @shylajas

resolved comments
  docs/platform/secrets/secrets-management/add-hashicorp-vault.md
Owners: @pratmit, @krishi0408, @GokulBansal0, @abhishekharness, @ivikramsahu

Update drone-faqs.md
  kb/continuous-integration/drone-faqs.md
Owners: @deepanshuHarness, @jimin-harness, @guna-harness

[CDE Docs] Devcontainer Features and JetBrains IDEs Docs
  docs/cloud-development-environments/develop-using-cde/container-remote-user.md
  docs/cloud-development-environments/develop-using-cde/extensions.md
  docs/cloud-development-environments/develop-using-cde/features.md
  docs/cloud-development-environments/ides/clion.md
  docs/cloud-development-environments/ides/goland.md
  docs/cloud-development-environments/ides/phpstorm.md
  docs/cloud-development-environments/ides/pycharm.md
  docs/cloud-development-environments/ides/rider.md
  docs/cloud-development-environments/ides/rubymine.md
  docs/cloud-development-environments/ides/static/create-clion.png
  docs/cloud-development-environments/ides/static/create-goland.png
  docs/cloud-development-environments/ides/static/create-phpstorm.png
  docs/cloud-development-environments/ides/static/create-pycharm.png
  docs/cloud-development-environments/ides/static/create-rider.png
  docs/cloud-development-environments/ides/static/create-rubymine.png
  docs/cloud-development-environments/ides/static/create-webstorm.png
  docs/cloud-development-environments/ides/static/gitspace-requirements-latest.png
  docs/cloud-development-environments/ides/static/open-clion-2.png
  docs/cloud-development-environments/ides/static/open-clion.png
  docs/cloud-development-environments/ides/static/open-goland-2.png
  docs/cloud-development-environments/ides/static/open-goland.png
  docs/cloud-development-environments/ides/static/open-phpstorm-2.png
  docs/cloud-development-environments/ides/static/open-phpstorm.jpg
  docs/cloud-development-environments/ides/static/open-pycharm-2.png
  docs/cloud-development-environments/ides/static/open-pycharm.png
  docs/cloud-development-environments/ides/static/open-rider-2.png
  docs/cloud-development-environments/ides/static/open-rider.png
  docs/cloud-development-environments/ides/static/open-rubymine-2.png
  docs/cloud-development-environments/ides/static/open-rubymine.png
  docs/cloud-development-environments/ides/static/open-webstorm-2.png
  docs/cloud-development-environments/ides/static/open-webstorm.png
  docs/cloud-development-environments/ides/webstorm.md
Owners: @manishas, @khushisharmaharness

Update harness-platform-faqs.md
  kb/platform/harness-platform-faqs.md
Owners: @deepanshuHarness, @jimin-harness, @guna-harness

Update pipeline-faq.md
  kb/platform/pipeline-faq.md
Owners: @deepanshuHarness, @jimin-harness, @guna-harness

feat: [CDS-83382]: update terraform doc with parsing with jq encrypted apply outputs
  docs/continuous-delivery/cd-infrastructure/terraform-infra/run-a-terraform-plan-with-the-terraform-apply-step.md
Owners: @krishi0408, @SushrutHarness, @vishal-av, @pranaykaikini, @prasadsatamharness, @thisrohangupta, @shylajas

Update continuous-verification-faqs.md
  docs/continuous-delivery/verify/continuous-verification-faqs.md
Owners: @krishi0408, @SushrutHarness, @vishal-av, @pranaykaikini, @prasadsatamharness, @thisrohangupta, @shylajas

Update kubernetes-faqs.md
  docs/continuous-delivery/deploy-srv-diff-platforms/kubernetes/kubernetes-faqs.md
Owners: @krishi0408, @SushrutHarness, @vishal-av, @pranaykaikini, @prasadsatamharness, @thisrohangupta, @shylajas

.github/CODEOWNERS:

# HDH Codeowners file.
# Created October 2023 - https://harness.atlassian.net/browse/HDH-189
# Applies to Repository Structure, not URL per-se.
# Learn more at: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global Owners of the HDH Repository
*       @pratmit @wei-harness

# Configuration Files in DS are JS.
*.js    @wei-harness @rohanmaharjan100
*.ts    @wei-harness @rohanmaharjan100
*.jsx    @wei-harness @rohanmaharjan100
*.tsx    @wei-harness @rohanmaharjan100

# Changes to Lock File
*.lock  @wei-harness

# Changes to Config Files
*.ini  @wei-harness
*.json  @wei-harness
*.toml  @wei-harness
*ignore @wei-harness
/_server-redirect @wei-harness

# Changes to Netlify Files
/netlify/ @wei-harness

# Contributing
CONTRIBUTING.md @pratmit
README.md @pratmit
/docs/hdh/ @pratmit

# University
/university/ @ravilach
/src/components/HomepageUniversity/ @ravilach
/src/components/University/ @ravilach

# Community
/community/ @Ompragash

# Redirect Archives
/archive/  @pratmit @wei-harness

# Documentation ###

# All Static files (images etc.)
static/  @rohanmaharjan100 @wei-harness

# All Data files - Please add global reviewers who are familiar with js/ts
# data/*.ts @global-data-file-owners

# Continuous Delivery Docs
/docs/continuous-delivery/ @krishi0408 @SushrutHarness @vishal-av @pranaykaikini @prasadsatamharness @thisrohangupta @shylajas
/release-notes/continuous-delivery.md @krishi0408 @SushrutHarness @vishal-av @pranaykaikini @prasadsatamharness @thisrohangupta @shylajas
/src/components/Roadmap/data/cdData.ts @krishi0408 @SushrutHarness @vishal-av @thisrohangupta @shylajas
/src/components/Docs/data/continuousDeliveryData*  @krishi0408 @SushrutHarness @vishal-av @thisrohangupta
# FirstGen CD Docs
/docs/category/continuous-delivery/ @krishi0408 @SushrutHarness @vishal-av @thisrohangupta
# CD FAQs
/docs/faqs/continuous-delivery-faqs @krishi0408 @SushrutHarness @vishal-av
# GitEx FAQs
/docs/faqs/git-exp-vs-config-as-code/ @krishi0408 @SushrutHarness @vishal-av


# Continuous Integration Docs
/docs/continuous-integration/ @nofarblue @rustd @dewan-ahmed @SushrutHarness @shivloka-harness
/release-notes/continuous-integration.md @nofarblue @rustd @dewan-ahmed @SushrutHarness @shivloka-harness
/src/components/Roadmap/data/ciData.ts @nofarblue @rustd @dewan-ahmed @SushrutHarness @shivloka-harness
/src/components/Docs/data/continuousIntegrationData.ts @nofarblue @rustd @dewan-ahmed @SushrutHarness @shivloka-harness

# CODE Docs
/docs/code-repository/ @pwolf-harness @hitesharinga @dewan-ahmed
/release-notes/code-repository.md @pwolf-harness @hitesharinga @dewan-ahmed
/src/components/Roadmap/data/codeData.ts @pwolf-harness @hitesharinga @dewan-ahmed
/src/components/Docs/data/codeRepositoryData.tsx @pwolf-harness @hitesharinga @dewan-ahmed

# STO Docs
/docs/security-testing-orchestration/ @tejakummarikuntla @priteshchandaliya
/docs/faqs/security-testing-orchestration/ @tejakummarikuntla @priteshchandaliya
/release-notes/security-testing-orchestration.md @tejakummarikuntla @priteshchandaliya
/src/components/Roadmap/data/stoData.ts @tejakummarikuntla @priteshchandaliya
/src/components/Docs/data/securityTestingOrchestrationData.ts @tejakummarikuntla @priteshchandaliya
# STO FAQs
/docs/faqs/security-testing-orchestration/ @tejakummarikuntla

# CCM Docs
/docs/cloud-cost-management/ @navaneeth @Rohit-Kaliki @joeyouss @nikunj-badjatya @raviyadalam @iamanmolm @sdsingh07 @sandyydk @abhinavsingh-ccm
/release-notes/cloud-cost-management.md @raviyadalam
/src/components/Roadmap/data/ccmData.ts @navaneeth @Rohit-Kaliki @joeyouss
/src/components/Docs/data/cloudCostManagementData.ts @navaneeth @Rohit-Kaliki @joeyouss
# FirstGen CCM Docs
/docs/category/cloud-cost-management/ @navaneeth @Rohit-Kaliki @joeyouss
# CCM FAQs
/docs/faqs/cloud-cost-management-faqs/ @navaneeth @Rohit-Kaliki @joeyouss

# CET Docs
/docs/continuous-error-tracking/ @M-Tsur
/release-notes/continuous-error-tracking.md @M-Tsur
/src/components/Docs/data/cloudCostManagementData.ts @M-Tsur

# SRM Docs
/docs/service-reliability-management/ @sunilgupta-harness @umamukkara
/release-notes/service-reliability-management.md @sunilgupta-harness @umamukkara
/src/components/Roadmap/data/srmData.ts @sunilgupta-harness
/src/components/Docs/data/serviceReliabilityManagementData.ts @sunilgupta-harness

# Chaos Docs
/docs/chaos-engineering/ @neelanjan00 @SmritiSatya @shovanmaity @Jonsy13 @Saranya-jena @Adarshkumar14 @ispeakc0de @amityt @uditgaurav @S-ayanide @vanshBhatia-A4k9 @ksatchit @umamukkara
/release-notes/chaos-engineering.md @neelanjan00 @SmritiSatya @Jonsy13
/src/components/Roadmap/data/ceData.ts @krishi0408 @neelanjan00 @SmritiSatya @vishal-av @SushrutHarness
/src/components/Docs/data/chaosEngineeringData* @krishi0408 @neelanjan00 @SmritiSatya @vishal-av @SushrutHarness
# Chaos FAQs
/kb/chaos-engineering/chaos-engineering-faq @neelanjan00 @SmritiSatya @ksatchit @umamukkara

# Platform Docs
/docs/platform/ @pratmit @krishi0408 @GokulBansal0 @abhishekharness @ivikramsahu
/release-notes/delegate.md @pratmit @abhishekharness @anshul-harness @ivikramsahu
/release-notes/platform.md @pratmit @GokulBansal0 @abhishekharness @ivikramsahu
/release-notes/self-managed-enterprise-edition.md @pratmit @abhishekharness @ivikramsahu
/src/components/Roadmap/data/platformData.ts @pratmit @abhishekharness @ivikramsahu
/src/components/Docs/data/platformData.ts @pratmit @abhishekharness @ivikramsahu
# FirtGen Platform Docs
/docs/category/platform-firstgen/ @pratmit @abhishekharness @ivikramsahu
# FirstGen SMP Docs
/docs/category/self-managed-enterprise-edition-fg/ @pratmit @abhishekharness @ivikramsahu
/docs/self-managed-enterprise-edition/ @pratmit @abhishekharness @ivikramsahu
# Delegate FAQs
/docs/faqs/harness-delegate-faqs/ @pratmit @abhishekharness @ivikramsahu
# SMP FAQs
/docs/faqs/self-managed-ee-faq/ @pratmit @abhishekharness @ivikramsahu

# Pipeline Docs
/docs/platform/pipelines/ @krishi0408 @vishal-av @SudarshanPurohit
/docs/platform/git-experience/ @krishi0408 @vishal-av @prasadsatamharness
/docs/platform/templates/ @krishi0408 @vishal-av @SudarshanPurohit
/docs/platform/variables-and-expressions/ @krishi0408 @vishal-av @SudarshanPurohit
/docs/platform/triggers/ @krishi0408 @vishal-av @SudarshanPurohit
/docs/platform/approvals/ @krishi0408 @vishal-av 
/docs/platform/connectors/ @krishi0408 @vishal-av

# IDP Docs
/docs/internal-developer-portal/ @Debanitrkl @OrkoHunter @manishas
/release-notes/internal-developer-portal.md @Debanitrkl @OrkoHunter @manishas
/src/components/Roadmap/data/idpData.ts @Debanitrkl @OrkoHunter @manishas
/src/components/Docs/data/internalDeveloperPortal.ts @Debanitrkl @OrkoHunter @manishas

# SCS Docs
/docs/software-supply-chain-assurance/ @sunilgupta-harness @tejakummarikuntla @pranay-harness
/release-notes/software-supply-chain-assurance.md @sunilgupta-harness @tejakummarikuntla @pranay-harness
/src/components/Roadmap/data/sscaData.ts @sunilgupta-harness @tejakummarikuntla @pranay-harness
/src/components/Docs/data/softwareSupplyChainAssuranceData.tsx @sunilgupta-harness @tejakummarikuntla @pranay-harness

# IACM Docs
/docs/infra-as-code-management/ @RickCraig @richardblack-Harness @allofthesepeople @scottyw-harness @nassergonzalez
/src/components/Roadmap/data/iacmData.ts @RickCraig @richardblack-Harness
/src/components/Docs/data/iacmData.ts @RickCraig @richardblack-Harness

# FF Docs
/docs/feature-flags/ @HarnessTheChaos @jenniferopal @laura-mannus @Kira-Jennings @laura135
/release-notes/feature-flags.md @HarnessTheChaos @jenniferopal
/src/components/Roadmap/data/ffData.ts @HarnessTheChaos @jenniferopal
/src/components/Docs/data/featureFlagsData.ts @HarnessTheChaos @jenniferopal
# FF FAQs
/docs/faqs/harness-feature-flag-faqs/ @HarnessTheChaos @jenniferopal

# SEI Docs
/docs/software-engineering-insights/ @codewdhruv @batraprashant
/release-notes/software-engineering-insights.md @codewdhruv @batraprashant
/src/components/Roadmap/data/seiData.ts @codewdhruv
/src/components/Docs/data/softwareEngineeringInsightsData.ts @codewdhruv

# DB DevOps Docs
/docs/database-devops/ @jenniferopal @stephenatwell @HarnessTheChaos @archit-harness @anshul-harness
/release-notes/database-devops.md @stephenatwell @jenniferopal @HarnessTheChaos @archit-harness @anshul-harness
/src/components/Docs/data/databaseDevOpsData.ts @stephenatwell @jenniferopal @HarnessTheChaos @archit-harness @anshul-harness
# DB DevOps FAQs
/docs/faqs/db-devops-faqs/ @jenniferopal @stephenatwell @HarnessTheChaos @archit-harness @anshul-harness

# CDE Docs
/docs/cloud-development-environments/ @manishas @khushisharmaharness
/src/components/Docs/data/cloudDevelopmentEnvironmentData.ts @manishas @khushisharmaharness

# AI QA Assistant Docs
/docs/ai-qa-assistant/ 

# Artifact Registry Docs
/docs/artifact-registry/ @shankaranandh @shivagowda @richardblack-Harness
/src/components/Docs/data/artifactRegistryData.ts @shankaranandh @shivagowda @richardblack-Harness

#FME Docs
/src/components/Roadmap/data/fmeData.ts @dtk-DaveKarow @kleinjoshuaa @deej-split

# Open Source Docs
/docs/open-source/ @dewan-ahmed @rustd @SushrutHarness
/src/components/Docs/data/openSourceData.tsx @dewan-ahmed @rustd @SushrutHarness

# Cloud Operations Docs
/docs/harness-cloud-operations/ @ankit-harness @yogi-harness

# Knowledge Base ###

# Overall KB
/kb/ @deepanshuHarness @jimin-harness @guna-harness
/src/components/KnowledgeBase/data/ @deepanshuHarness @jimin-harness @guna-harness

#Armory KB
/kb/armory @okosun-j @jimin-harness @deepanshuHarness @guna-harness

#RA
/kb/reference-architectures/ @rssnyder @suranc @jimin-harness @deepanshuHarness @guna-harness

# DB DevOps
/kb/database-devops/ @jenniferopal @stephenatwell @HarnessTheChaos @archit-harness @anshul-harness

#Reference Architectures
/kb/reference-architectures @RajiKoppala @rssnyder
