Repository harness/developer-hub, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pratmit, @wei-harness, @rohanmaharjan100, @ravilach, @Ompragash, @krishi0408, @SushrutHarness, @vishal-av, @pranaykaikini, @prasadsatamharness, @thisrohangupta, @shylajas, @nofarblue, @rustd, @dewan-ahmed, @shivloka-harness, @pwolf-harness, @hitesharinga, @tejakummarikuntla, @priteshchandaliya, @navaneeth, @Rohit-Kaliki, @joeyouss, @nikunj-badjatya, @raviyadalam, @iamanmolm, @sdsingh07, @sandyydk, @abhinavsingh-ccm, @M-Tsur, @sunilgupta-harness, @umamukkara, @neelanjan00, @SmritiSatya, @shovanmaity, @Jonsy13, @Saranya-jena, @Adarshkumar14, @ispeakc0de, @amityt, @uditgaurav, @S-ayanide, @vanshBhatia-A4k9, @ksatchit, @GokulBansal0, @abhishekharness, @ivikramsahu, @anshul-harness, @SudarshanPurohit, @Debanitrkl, @OrkoHunter, @manishas, @pranay-harness, @RickCraig, @richardblack-Harness, @allofthesepeople, @scottyw-harness, @nassergonzalez, @HarnessTheChaos, @jenniferopal, @laura-mannus, @Kira-Jennings, @laura135, @codewdhruv, @batraprashant, @stephenatwell, @archit-harness, @khushisharmaharness, @shankaranandh, @shivagowda, @dtk-DaveKarow, @kleinjoshuaa, @deej-split, @ankit-harness, @yogi-harness, @deepanshuHarness, @jimin-harness, @guna-harness, @okosun-j, @rssnyder, @suranc, @RajiKoppala

removing conflict
  .github/workflows/markdown-and-image-file-validation.yaml
Owners: @pratmit, @wei-harness

resolving conflict
  .github/workflows/markdown-and-image-file-validation.yaml
Owners: @pratmit, @wei-harness

removing file that appeared out of nowhere
  kb/newFilenewFilenewFilenewFilenewFilenewFilenewFilenewFilenewFilenewFilenewFilenewFilenewFilenewFilenewFilenewFilenewFilenewFilenewFilenewFilenewFilenewFile.md
Owners: @deepanshuHarness, @jimin-harness, @guna-harness

Sto-faqs-q4
  kb/security-testing-orchestration/security-testing-orchestration-faqs.md
Owners: @deepanshuHarness, @jimin-harness, @guna-harness

cd-faqs-q4
  kb/continuous-delivery/faqs.md
Owners: @deepanshuHarness, @jimin-harness, @guna-harness

pl-q4-faqs
  kb/platform/harness-platform-faqs.md
Owners: @deepanshuHarness, @jimin-harness, @guna-harness

pipe-faqs-q4
  kb/platform/pipeline-faq.md
Owners: @deepanshuHarness, @jimin-harness, @guna-harness

Update harness-platform-faqs.md
  kb/platform/harness-platform-faqs.md
Owners: @deepanshuHarness, @jimin-harness, @guna-harness

sto-faqs-q4
  kb/security-testing-orchestration/security-testing-orchestration-faqs.md
Owners: @deepanshuHarness, @jimin-harness, @guna-harness

Update faqs.md
  kb/continuous-delivery/faqs.md
Owners: @deepanshuHarness, @jimin-harness, @guna-harness

Update continuous-integration.md
  release-notes/continuous-integration.md
Owners: @nofarblue, @rustd, @dewan-ahmed, @SushrutHarness, @shivloka-harness

Updated inputs docs
  docs/internal-developer-portal/flows/flows-input.md
  docs/internal-developer-portal/flows/outputs.md
Owners: @Debanitrkl, @OrkoHunter, @manishas

resolves file naming convention failure
  docs/software-engineering-insights/setup-sei/configure-integrations/github actions/sei-github-actions.md
Owners: @codewdhruv, @batraprashant

CIDR/IP whitelisting
  release-notes/continuous-integration.md
Owners: @nofarblue, @rustd, @dewan-ahmed, @SushrutHarness, @shivloka-harness

Update to correct step name.
  release-notes/continuous-integration.md
Owners: @nofarblue, @rustd, @dewan-ahmed, @SushrutHarness, @shivloka-harness

Updates to 1.63 RN
  release-notes/continuous-integration.md
Owners: @nofarblue, @rustd, @dewan-ahmed, @SushrutHarness, @shivloka-harness

Update messaging and remove Gitness references.
  docs/continuous-delivery/deploy-srv-diff-platforms/community-ed/gitness-community-edition-faqs.md
  docs/open-source/faq.md
  docs/open-source/gitspaces/ide's/vs-code-desktop.md
  docs/open-source/installation/settings.md
  docs/open-source/overview.md
  docs/open-source/reference/api/overview.md
  docs/open-source/registries/overview.md
  docs/open-source/repositories/cloning.md
  docs/open-source/repositories/overview.md
  docs/open-source/repositories/pull_requests.md
  docs/open-source/repositories/security.md
  docs/open-source/repositories/webhooks.md
Owners: @krishi0408, @SushrutHarness, @vishal-av, @pranaykaikini, @prasadsatamharness, @thisrohangupta, @shylajas, @dewan-ahmed, @rustd

Make consistent naming for IDEs folder.
  docs/open-source/gitspaces/ides/_category_.json
  docs/open-source/gitspaces/ides/static/hoss-1'.png
  docs/open-source/gitspaces/ides/static/hoss-10'.png
  docs/open-source/gitspaces/ides/static/hoss-11.png
  docs/open-source/gitspaces/ides/static/hoss-2'.png
  docs/open-source/gitspaces/ides/static/hoss-3'.png
  docs/open-source/gitspaces/ides/static/hoss-4'.png
  docs/open-source/gitspaces/ides/static/hoss-5'.png
  docs/open-source/gitspaces/ides/static/hoss-8'.png
  docs/open-source/gitspaces/ides/static/hoss-9'.png
  docs/open-source/gitspaces/ides/static/hoss1.png
  docs/open-source/gitspaces/ides/static/hoss2.png
  docs/open-source/gitspaces/ides/static/hoss3.png
  docs/open-source/gitspaces/ides/static/hoss4.png
  docs/open-source/gitspaces/ides/static/hoss5.png
  docs/open-source/gitspaces/ides/static/hoss6.png
  docs/open-source/gitspaces/ides/static/logs-gitspace.png
  docs/open-source/gitspaces/ides/static/vs-browser-1.png
  docs/open-source/gitspaces/ides/static/vsbrowser-2.png
  docs/open-source/gitspaces/ides/static/vsbrowser-3.png
  docs/open-source/gitspaces/ides/static/vscode'1.png
  docs/open-source/gitspaces/ides/vs-code-browser.md
  docs/open-source/gitspaces/ides/vs-code-desktop.md
Owners: @dewan-ahmed, @rustd, @SushrutHarness

Update release-notes/continuous-integration.md
  release-notes/continuous-integration.md
Owners: @nofarblue, @rustd, @dewan-ahmed, @SushrutHarness, @shivloka-harness

Enforce kebab-case naming for files and folders.
  docs/open-source/gitspaces/ides/static/hoss-10a.png
  docs/open-source/gitspaces/ides/static/hoss-1a.png
  docs/open-source/gitspaces/ides/static/hoss-2a.png
  docs/open-source/gitspaces/ides/static/hoss-3a.png
  docs/open-source/gitspaces/ides/static/hoss-4a.png
  docs/open-source/gitspaces/ides/static/hoss-5a.png
  docs/open-source/gitspaces/ides/static/hoss-8a.png
  docs/open-source/gitspaces/ides/static/hoss-9a.png
  docs/open-source/gitspaces/ides/static/vscode1.png
  docs/open-source/gitspaces/ides/vs-code-desktop.md
  docs/open-source/repositories/pull-requests.md
Owners: @dewan-ahmed, @rustd, @SushrutHarness

Update release-notes/continuous-integration.md
  release-notes/continuous-integration.md
Owners: @nofarblue, @rustd, @dewan-ahmed, @SushrutHarness, @shivloka-harness

Fix broken links.
  docs/open-source/gitspaces/manage-gitspaces/create-gitspaces.md
  docs/open-source/gitspaces/whats-supported.md
  docs/open-source/installation/quick_start.md
  docs/open-source/repositories/overview.md
Owners: @dewan-ahmed, @rustd, @SushrutHarness

Make consistent file names following kebab-case convention.
  docs/open-source/gitspaces/get-started/quickstart.md
  docs/open-source/gitspaces/manage-gitspaces/create-gitspaces.md
  docs/open-source/installation/quick-start.md
  src/components/Docs/data/openSourceData.tsx
Owners: @dewan-ahmed, @rustd, @SushrutHarness

Hide feedback buttons before refiner fix
  docusaurus.config.ts
  src/pages/index.tsx
Owners: @wei-harness, @rohanmaharjan100

Added new filters to the License-Artifact-Dashboard
  docs/software-supply-chain-assurance/reports/static/filters.png
  docs/software-supply-chain-assurance/reports/static/license-artifact-filter.png
  docs/software-supply-chain-assurance/reports/static/license-artifact-reports.png
  docs/software-supply-chain-assurance/reports/static/license-filter.png
  docs/software-supply-chain-assurance/reports/static/licensereports-artifact.png
  docs/software-supply-chain-assurance/reports/static/overview-dashboard.png
  docs/software-supply-chain-assurance/reports/view-license-reports.md
Owners: @sunilgupta-harness, @tejakummarikuntla, @pranay-harness

Release notes 1.74.x
  release-notes/continuous-delivery.md
Owners: @krishi0408, @SushrutHarness, @vishal-av, @pranaykaikini, @prasadsatamharness, @thisrohangupta, @shylajas

Addition of datadog notification
  docs/continuous-delivery/x-platform-cd-features/cd-steps/notify-users-of-pipeline-events.md
  docs/continuous-delivery/x-platform-cd-features/cd-steps/static/datadog-api-conf.png
  docs/continuous-delivery/x-platform-cd-features/cd-steps/static/datadog-notification-1.png
Owners: @krishi0408, @SushrutHarness, @vishal-av, @pranaykaikini, @prasadsatamharness, @thisrohangupta, @shylajas

Update docs/continuous-delivery/x-platform-cd-features/cd-steps/notify-users-of-pipeline-events.md
  docs/continuous-delivery/x-platform-cd-features/cd-steps/notify-users-of-pipeline-events.md
Owners: @krishi0408, @SushrutHarness, @vishal-av, @pranaykaikini, @prasadsatamharness, @thisrohangupta, @shylajas

Update docs/continuous-delivery/x-platform-cd-features/cd-steps/notify-users-of-pipeline-events.md
  docs/continuous-delivery/x-platform-cd-features/cd-steps/notify-users-of-pipeline-events.md
Owners: @krishi0408, @SushrutHarness, @vishal-av, @pranaykaikini, @prasadsatamharness, @thisrohangupta, @shylajas

alignment done & added info on DD URL
  docs/continuous-delivery/x-platform-cd-features/cd-steps/notify-users-of-pipeline-events.md
Owners: @krishi0408, @SushrutHarness, @vishal-av, @pranaykaikini, @prasadsatamharness, @thisrohangupta, @shylajas

reshaping Prerequisites
  docs/continuous-delivery/x-platform-cd-features/cd-steps/notify-users-of-pipeline-events.md
Owners: @krishi0408, @SushrutHarness, @vishal-av, @pranaykaikini, @prasadsatamharness, @thisrohangupta, @shylajas

added eventsAPI link
  docs/continuous-delivery/x-platform-cd-features/cd-steps/notify-users-of-pipeline-events.md
Owners: @krishi0408, @SushrutHarness, @vishal-av, @pranaykaikini, @prasadsatamharness, @thisrohangupta, @shylajas

updated with FF & added URL for datadog
  docs/continuous-delivery/x-platform-cd-features/cd-steps/notify-users-of-pipeline-events.md
Owners: @krishi0408, @SushrutHarness, @vishal-av, @pranaykaikini, @prasadsatamharness, @thisrohangupta, @shylajas

Hide Adoption from sidenav
  static/robots.txt
Owners: @rohanmaharjan100, @wei-harness

Update docs/continuous-delivery/x-platform-cd-features/cd-steps/notify-users-of-pipeline-events.md
  docs/continuous-delivery/x-platform-cd-features/cd-steps/notify-users-of-pipeline-events.md
Owners: @krishi0408, @SushrutHarness, @vishal-av, @pranaykaikini, @prasadsatamharness, @thisrohangupta, @shylajas

Update docs/continuous-delivery/x-platform-cd-features/cd-steps/notify-users-of-pipeline-events.md
  docs/continuous-delivery/x-platform-cd-features/cd-steps/notify-users-of-pipeline-events.md
Owners: @krishi0408, @SushrutHarness, @vishal-av, @pranaykaikini, @prasadsatamharness, @thisrohangupta, @shylajas

add missing release notes
  release-notes/continuous-delivery.md
Owners: @krishi0408, @SushrutHarness, @vishal-av, @pranaykaikini, @prasadsatamharness, @thisrohangupta, @shylajas

Update docs/continuous-delivery/x-platform-cd-features/cd-steps/notify-users-of-pipeline-events.md
  docs/continuous-delivery/x-platform-cd-features/cd-steps/notify-users-of-pipeline-events.md
Owners: @krishi0408, @SushrutHarness, @vishal-av, @pranaykaikini, @prasadsatamharness, @thisrohangupta, @shylajas

Added release note for gitops sync step improvement
  release-notes/continuous-delivery.md
Owners: @krishi0408, @SushrutHarness, @vishal-av, @pranaykaikini, @prasadsatamharness, @thisrohangupta, @shylajas

IAC-3041 Update collapsible sidebar for AR and IACM
  sidebars.ts
Owners: @wei-harness, @rohanmaharjan100

.github/CODEOWNERS:

# HDH Codeowners file.
# Created October 2023 - https://harness.atlassian.net/browse/HDH-189
# Applies to Repository Structure, not URL per-se.
# Learn more at: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global Owners of the HDH Repository
*       @pratmit @wei-harness

# Configuration Files in DS are JS.
*.js    @wei-harness @rohanmaharjan100
*.ts    @wei-harness @rohanmaharjan100
*.jsx    @wei-harness @rohanmaharjan100
*.tsx    @wei-harness @rohanmaharjan100

# Changes to Lock File
*.lock  @wei-harness

# Changes to Config Files
*.ini  @wei-harness
*.json  @wei-harness
*.toml  @wei-harness
*ignore @wei-harness
/_server-redirect @wei-harness

# Changes to Netlify Files
/netlify/ @wei-harness

# Contributing
CONTRIBUTING.md @pratmit
README.md @pratmit
/docs/hdh/ @pratmit

# University
/university/ @ravilach
/src/components/HomepageUniversity/ @ravilach
/src/components/University/ @ravilach

# Community
/community/ @Ompragash

# Redirect Archives
/archive/  @pratmit @wei-harness

# Documentation ###

# All Static files (images etc.)
static/  @rohanmaharjan100 @wei-harness

# All Data files - Please add global reviewers who are familiar with js/ts
# data/*.ts @global-data-file-owners

# Continuous Delivery Docs
/docs/continuous-delivery/ @krishi0408 @SushrutHarness @vishal-av @pranaykaikini @prasadsatamharness @thisrohangupta @shylajas
/release-notes/continuous-delivery.md @krishi0408 @SushrutHarness @vishal-av @pranaykaikini @prasadsatamharness @thisrohangupta @shylajas
/src/components/Roadmap/data/cdData.ts @krishi0408 @SushrutHarness @vishal-av @thisrohangupta @shylajas
/src/components/Docs/data/continuousDeliveryData*  @krishi0408 @SushrutHarness @vishal-av @thisrohangupta
# FirstGen CD Docs
/docs/category/continuous-delivery/ @krishi0408 @SushrutHarness @vishal-av @thisrohangupta
# CD FAQs
/docs/faqs/continuous-delivery-faqs @krishi0408 @SushrutHarness @vishal-av
# GitEx FAQs
/docs/faqs/git-exp-vs-config-as-code/ @krishi0408 @SushrutHarness @vishal-av


# Continuous Integration Docs
/docs/continuous-integration/ @nofarblue @rustd @dewan-ahmed @SushrutHarness @shivloka-harness
/release-notes/continuous-integration.md @nofarblue @rustd @dewan-ahmed @SushrutHarness @shivloka-harness
/src/components/Roadmap/data/ciData.ts @nofarblue @rustd @dewan-ahmed @SushrutHarness @shivloka-harness
/src/components/Docs/data/continuousIntegrationData.ts @nofarblue @rustd @dewan-ahmed @SushrutHarness @shivloka-harness

# CODE Docs
/docs/code-repository/ @pwolf-harness @hitesharinga @dewan-ahmed
/release-notes/code-repository.md @pwolf-harness @hitesharinga @dewan-ahmed
/src/components/Roadmap/data/codeData.ts @pwolf-harness @hitesharinga @dewan-ahmed
/src/components/Docs/data/codeRepositoryData.tsx @pwolf-harness @hitesharinga @dewan-ahmed

# STO Docs
/docs/security-testing-orchestration/ @tejakummarikuntla @priteshchandaliya
/docs/faqs/security-testing-orchestration/ @tejakummarikuntla @priteshchandaliya
/release-notes/security-testing-orchestration.md @tejakummarikuntla @priteshchandaliya
/src/components/Roadmap/data/stoData.ts @tejakummarikuntla @priteshchandaliya
/src/components/Docs/data/securityTestingOrchestrationData.ts @tejakummarikuntla @priteshchandaliya
# STO FAQs
/docs/faqs/security-testing-orchestration/ @tejakummarikuntla

# CCM Docs
/docs/cloud-cost-management/ @navaneeth @Rohit-Kaliki @joeyouss @nikunj-badjatya @raviyadalam @iamanmolm @sdsingh07 @sandyydk @abhinavsingh-ccm
/release-notes/cloud-cost-management.md @raviyadalam
/src/components/Roadmap/data/ccmData.ts @navaneeth @Rohit-Kaliki @joeyouss
/src/components/Docs/data/cloudCostManagementData.ts @navaneeth @Rohit-Kaliki @joeyouss
# FirstGen CCM Docs
/docs/category/cloud-cost-management/ @navaneeth @Rohit-Kaliki @joeyouss
# CCM FAQs
/docs/faqs/cloud-cost-management-faqs/ @navaneeth @Rohit-Kaliki @joeyouss

# CET Docs
/docs/continuous-error-tracking/ @M-Tsur
/release-notes/continuous-error-tracking.md @M-Tsur
/src/components/Docs/data/cloudCostManagementData.ts @M-Tsur

# SRM Docs
/docs/service-reliability-management/ @sunilgupta-harness @umamukkara
/release-notes/service-reliability-management.md @sunilgupta-harness @umamukkara
/src/components/Roadmap/data/srmData.ts @sunilgupta-harness
/src/components/Docs/data/serviceReliabilityManagementData.ts @sunilgupta-harness

# Chaos Docs
/docs/chaos-engineering/ @neelanjan00 @SmritiSatya @shovanmaity @Jonsy13 @Saranya-jena @Adarshkumar14 @ispeakc0de @amityt @uditgaurav @S-ayanide @vanshBhatia-A4k9 @ksatchit @umamukkara
/release-notes/chaos-engineering.md @neelanjan00 @SmritiSatya @Jonsy13
/src/components/Roadmap/data/ceData.ts @krishi0408 @neelanjan00 @SmritiSatya @vishal-av @SushrutHarness
/src/components/Docs/data/chaosEngineeringData* @krishi0408 @neelanjan00 @SmritiSatya @vishal-av @SushrutHarness
# Chaos FAQs
/kb/chaos-engineering/chaos-engineering-faq @neelanjan00 @SmritiSatya @ksatchit @umamukkara

# Platform Docs
/docs/platform/ @pratmit @krishi0408 @GokulBansal0 @abhishekharness @ivikramsahu
/release-notes/delegate.md @pratmit @abhishekharness @anshul-harness @ivikramsahu
/release-notes/platform.md @pratmit @GokulBansal0 @abhishekharness @ivikramsahu
/release-notes/self-managed-enterprise-edition.md @pratmit @abhishekharness @ivikramsahu
/src/components/Roadmap/data/platformData.ts @pratmit @abhishekharness @ivikramsahu
/src/components/Docs/data/platformData.ts @pratmit @abhishekharness @ivikramsahu
# FirtGen Platform Docs
/docs/category/platform-firstgen/ @pratmit @abhishekharness @ivikramsahu
# FirstGen SMP Docs
/docs/category/self-managed-enterprise-edition-fg/ @pratmit @abhishekharness @ivikramsahu
/docs/self-managed-enterprise-edition/ @pratmit @abhishekharness @ivikramsahu
# Delegate FAQs
/docs/faqs/harness-delegate-faqs/ @pratmit @abhishekharness @ivikramsahu
# SMP FAQs
/docs/faqs/self-managed-ee-faq/ @pratmit @abhishekharness @ivikramsahu

# Pipeline Docs
/docs/platform/pipelines/ @krishi0408 @vishal-av @SudarshanPurohit
/docs/platform/git-experience/ @krishi0408 @vishal-av @prasadsatamharness
/docs/platform/templates/ @krishi0408 @vishal-av @SudarshanPurohit
/docs/platform/variables-and-expressions/ @krishi0408 @vishal-av @SudarshanPurohit
/docs/platform/triggers/ @krishi0408 @vishal-av @SudarshanPurohit
/docs/platform/approvals/ @krishi0408 @vishal-av 
/docs/platform/connectors/ @krishi0408 @vishal-av

# IDP Docs
/docs/internal-developer-portal/ @Debanitrkl @OrkoHunter @manishas
/release-notes/internal-developer-portal.md @Debanitrkl @OrkoHunter @manishas
/src/components/Roadmap/data/idpData.ts @Debanitrkl @OrkoHunter @manishas
/src/components/Docs/data/internalDeveloperPortal.ts @Debanitrkl @OrkoHunter @manishas

# SCS Docs
/docs/software-supply-chain-assurance/ @sunilgupta-harness @tejakummarikuntla @pranay-harness
/release-notes/software-supply-chain-assurance.md @sunilgupta-harness @tejakummarikuntla @pranay-harness
/src/components/Roadmap/data/sscaData.ts @sunilgupta-harness @tejakummarikuntla @pranay-harness
/src/components/Docs/data/softwareSupplyChainAssuranceData.tsx @sunilgupta-harness @tejakummarikuntla @pranay-harness

# IACM Docs
/docs/infra-as-code-management/ @RickCraig @richardblack-Harness @allofthesepeople @scottyw-harness @nassergonzalez
/src/components/Roadmap/data/iacmData.ts @RickCraig @richardblack-Harness
/src/components/Docs/data/iacmData.ts @RickCraig @richardblack-Harness

# FF Docs
/docs/feature-flags/ @HarnessTheChaos @jenniferopal @laura-mannus @Kira-Jennings @laura135
/release-notes/feature-flags.md @HarnessTheChaos @jenniferopal
/src/components/Roadmap/data/ffData.ts @HarnessTheChaos @jenniferopal
/src/components/Docs/data/featureFlagsData.ts @HarnessTheChaos @jenniferopal
# FF FAQs
/docs/faqs/harness-feature-flag-faqs/ @HarnessTheChaos @jenniferopal

# SEI Docs
/docs/software-engineering-insights/ @codewdhruv @batraprashant
/release-notes/software-engineering-insights.md @codewdhruv @batraprashant
/src/components/Roadmap/data/seiData.ts @codewdhruv
/src/components/Docs/data/softwareEngineeringInsightsData.ts @codewdhruv

# DB DevOps Docs
/docs/database-devops/ @jenniferopal @stephenatwell @HarnessTheChaos @archit-harness @anshul-harness
/release-notes/database-devops.md @stephenatwell @jenniferopal @HarnessTheChaos @archit-harness @anshul-harness
/src/components/Docs/data/databaseDevOpsData.ts @stephenatwell @jenniferopal @HarnessTheChaos @archit-harness @anshul-harness
# DB DevOps FAQs
/docs/faqs/db-devops-faqs/ @jenniferopal @stephenatwell @HarnessTheChaos @archit-harness @anshul-harness

# CDE Docs
/docs/cloud-development-environments/ @manishas @khushisharmaharness
/src/components/Docs/data/cloudDevelopmentEnvironmentData.ts @manishas @khushisharmaharness

# AI QA Assistant Docs
/docs/ai-qa-assistant/ 

# Artifact Registry Docs
/docs/artifact-registry/ @shankaranandh @shivagowda @richardblack-Harness
/src/components/Docs/data/artifactRegistryData.ts @shankaranandh @shivagowda @richardblack-Harness

#FME Docs
/src/components/Roadmap/data/fmeData.ts @dtk-DaveKarow @kleinjoshuaa @deej-split

# Open Source Docs
/docs/open-source/ @dewan-ahmed @rustd @SushrutHarness
/src/components/Docs/data/openSourceData.tsx @dewan-ahmed @rustd @SushrutHarness

# Cloud Operations Docs
/docs/harness-cloud-operations/ @ankit-harness @yogi-harness

# Knowledge Base ###

# Overall KB
/kb/ @deepanshuHarness @jimin-harness @guna-harness
/src/components/KnowledgeBase/data/ @deepanshuHarness @jimin-harness @guna-harness

#Armory KB
/kb/armory @okosun-j @jimin-harness @deepanshuHarness @guna-harness

#RA
/kb/reference-architectures/ @rssnyder @suranc @jimin-harness @deepanshuHarness @guna-harness

# DB DevOps
/kb/database-devops/ @jenniferopal @stephenatwell @HarnessTheChaos @archit-harness @anshul-harness

#Reference Architectures
/kb/reference-architectures @RajiKoppala @rssnyder
