Repository harness/developer-hub, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ravilach, @wei-harness, @deepanshuHarness, @Ompragash, @michaelcretzman, @roshnisarangadharan, @aimurphy, @douglas-j-bothwell, @rdsoze, @navaneeth, @Rohit-Kaliki, @M-Tsur, @sunilgupta-harness, @neelanjan00, @SmritiSatya, @brian-f-harness, @harishkammanahalli, @Debanitrkl, @RickCraig, @ethangj, @HarnessTheChaos, @suryabhagvat, @nicholaslotz, @dewan-ahmed, @jimsheldon

.github/CODEOWNERS:

# HDH Codeowners file.
# Created October 2023 - https://harness.atlassian.net/browse/HDH-189
# Applies to Repository Structure, not URL per-se. 
# Learn more at: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global Owners of the HDH Repository 
*       @ravilach @wei-harness

# Configuration Files in DS are JS. 
*.js    @wei-harness

# Changes to Lock File
*.lock  @wei-harness

# Knowledge Base
/kb/ @deepanshuHarness 

# Certification
/certifications/ @ravilach 

# Community
/community/ @Ompragash 

# Redirect Archives
/archive/  @ravilach @wei-harness

# Documentation

# Continuous Delivery Docs
/docs/continuous-delivery/ @michaelcretzman @roshnisarangadharan 

# Continuous Integration Docs
/docs/continuous-integration/ @aimurphy

# STO Docs
/docs/security-testing-orchestration/ @douglas-j-bothwell

# CCM Docs
/docs/cloud-cost-management/ @rdsoze @navaneeth @Rohit-Kaliki 

# CET Docs
/docs/continuous-error-tracking/ @M-Tsur

# SRM Docs
/docs/service-reliability-management/ @sunilgupta-harness

# Chaos Docs
/docs/chaos-engineering/ @neelanjan00 @SmritiSatya

# Platform Docs
/docs/platform/ @brian-f-harness @harishkammanahalli

# IDP Docs
/docs/internal-developer-portal/ @Debanitrkl

# SSCA Docs
/docs/software-supply-chain-assurance/ @sunilgupta-harness

# IACMS Docs
/docs/infra-as-code-management/ @RickCraig

# FF Docs
/docs/feature-flags/ @ethangj @HarnessTheChaos

# FirstGen Docs
/docs/first-gen/ @michaelcretzman

# FAQ Docs
/docs/faqs/ @michaelcretzman

# Cloud Operations Docs
/docs/harness-cloud-operations/ @suryabhagvat

# Release Notes

#CD Release Notes
release-notes/continuous-delivery.md @michaelcretzman @roshnisarangadharan 

#CCM Release Notes
release-notes/cloud-cost-management.md @rdsoze

#CE Release Notes
release-notes/chaos-engineering.md @neelanjan00 @SmritiSatya

#CET Release Notes
release-notes/continuous-error-tracking.md @M-Tsur

#CI Release Notes
release-notes/continuous-integration.md @aimurphy

#Delegate Release Notes
release-notes/delegate.md @brian-f-harness @harishkammanahalli

#FF Release Notes
release-notes/feature-flags.md @ethangj @HarnessTheChaos

#IDP Release Notes
release-notes/internal-developer-portal.md @Debanitrkl

#Platform Release Notes
release-notes/platform.md @brian-f-harness @harishkammanahalli

#STO Release Notes
release-notes/security-testing-orchestration.md @douglas-j-bothwell

#SMP
release-notes/self-managed-enterprise-edition.md @brian-f-harness @harishkammanahalli

#SRM Release Notes
release-notes/service-reliability-management.md @sunilgupta-harness

#SSCA Release Notes
release-notes/service-reliability-management.md @sunilgupta-harness

# Tutorials

# CD Tutorials
/tutorials/cd-pipelines/ @ravilach @Ompragash @nicholaslotz @dewan-ahmed 

# Chaos Tutorials
/tutorials/chaos-experiments/ @neelanjan00 @SmritiSatya

# CI Tutorials
/tutorials/ci-pipelines/ @jimsheldon @aimurphy

# CCM Tutorials
/tutorials/cloud-costs/ @rdsoze 

# CET Tutorials
/tutorials/error-tracking/ @M-Tsur

# FF Tutorials
/tutorials/feature-flags/ @ethangj @HarnessTheChaos 

# HDH Tutorials
/tutorials/hdh/ @ravilach

# IDP Tutorials
/tutorials/hdh/ @Debanitrkl

# Platform Tutorials
/tutorials/platform/ @brian-f-harness

# SSCA Tutorials
/tutorials/secure-supply-chain/ @sunilgupta-harness

# STO Tutorials
/tutorials/secure-supply-chain/ @douglas-j-bothwell

# SMP Tutorials
/tutorials/self-managed-enterprise-edition/ @brian-f-harness

# SRM Tutorials
/tutorials/service-reliability/ @sunilgupta-harness

Update secrets-and-log-sanitization.md
  docs/platform/secrets/secrets-management/secrets-and-log-sanitization.md
Owners: @brian-f-harness, @harishkammanahalli

Added PDF for Lab
  tutorials/cd-pipelines/unified-cicd/e2e-pipeline.md
Owners: @ravilach, @Ompragash, @nicholaslotz, @dewan-ahmed

Update e2e-pipeline.md
  tutorials/cd-pipelines/unified-cicd/e2e-pipeline.md
Owners: @ravilach, @Ompragash, @nicholaslotz, @dewan-ahmed

STO misc tweaks/updates to KB/FAQs pages STO-6944
  docs/faqs/security-testing-orchestration.md
  kb/security-testing-orchestration/security-testing-orchestration-faqs.md
Owners: @michaelcretzman, @deepanshuHarness

comment out new STO relnotes
  release-notes/security-testing-orchestration.md
Owners: @douglas-j-bothwell

Apply suggestions from code review
  docs/platform/authentication/authentication-overview.md
Owners: @brian-f-harness, @harishkammanahalli

apply copy edits and update image
  docs/platform/authentication/authentication-overview.md
  docs/platform/authentication/static/SessionTimeout.png
Owners: @brian-f-harness, @harishkammanahalli

remove extraneous heading from relnotes, auto-generated TOC from FAQs
  docs/faqs/security-testing-orchestration.md
  release-notes/security-testing-orchestration.md
Owners: @michaelcretzman, @douglas-j-bothwell

Release notes for 1.20.6 release
  release-notes/continuous-delivery.md
Owners: @michaelcretzman, @roshnisarangadharan

Release notes for 1.20.6 release
  release-notes/continuous-delivery.md
Owners: @michaelcretzman, @roshnisarangadharan

Release notes for 1.20.6 release
  release-notes/continuous-delivery.md
Owners: @michaelcretzman, @roshnisarangadharan

fix typo
  docs/platform/connectors/cloud-providers/ref-cloud-providers/aws-connector-settings-reference.md
Owners: @brian-f-harness, @harishkammanahalli

Apply suggestions from code review
  release-notes/continuous-delivery.md
Owners: @michaelcretzman, @roshnisarangadharan

search revisions
  docs/code-repository/work-in-repos/keyword-search.md
Owners: @ravilach, @wei-harness

Update root-access-requirements.md
  docs/security-testing-orchestration/sto-techref-category/shared/root-access-requirements.md
Owners: @douglas-j-bothwell

add new items and images
  release-notes/platform.md
  release-notes/static/allow-public-resources.png
  release-notes/static/mark-for-public-view.png
Owners: @brian-f-harness, @harishkammanahalli, @ravilach, @wei-harness

apply copy edits, add image
  docs/platform/pipelines/allow-public-access-to-executions.md
  docs/platform/pipelines/static/allow-public-access.png
  docs/platform/pipelines/static/allow-public-resources.png
  docs/platform/pipelines/static/mark-for-public-view.png
Owners: @brian-f-harness, @harishkammanahalli

copy edits
  docs/platform/authentication/authentication-overview.md
Owners: @brian-f-harness, @harishkammanahalli

triggers updates
  docs/code-repository/pipelines/code-triggers.md
  docs/platform/triggers/triggering-pipelines.md
  docs/platform/triggers/triggers-reference.md
Owners: @ravilach, @wei-harness, @brian-f-harness, @harishkammanahalli

merge conflicts
  kb/continuous-integration/continuous-integration-faqs.md
Owners: @deepanshuHarness

doc-3954
  kb/continuous-integration/continuous-integration-faqs.md
Owners: @deepanshuHarness

Update cd-integrations.md
  docs/continuous-delivery/cd-integrations.md
Owners: @michaelcretzman, @roshnisarangadharan

CDS-88452-broken-link
  docs/platform/triggers/trigger-deployments-using-custom-triggers.md
Owners: @brian-f-harness, @harishkammanahalli

CDS-88452-broken-link (#4899)
  docs/platform/triggers/trigger-deployments-using-custom-triggers.md
Owners: @brian-f-harness, @harishkammanahalli

uncomment STO 1.78 release notes STO-6938
  release-notes/security-testing-orchestration.md
Owners: @douglas-j-bothwell

add ff note to Aquasec security reference STO-6877
  docs/security-testing-orchestration/sto-techref-category/aquasec-scanner-reference.md
Owners: @douglas-j-bothwell

update heading for Jan 11 runner update STO-6938
  release-notes/security-testing-orchestration.md
Owners: @douglas-j-bothwell

Add pill for STO step not available on free plans.
  tutorials/cd-pipelines/unified-cicd/e2e-pipeline.md
Owners: @ravilach, @Ompragash, @nicholaslotz, @dewan-ahmed

move 2023 release to previous releases
  release-notes/delegate.md
Owners: @brian-f-harness, @harishkammanahalli

s/Screen Shoot/Screenshot
  .github/pull_request_template.md
Owners: @ravilach, @wei-harness

build infra faqs part 1
  docs/continuous-integration/use-ci/set-up-build-infrastructure/harness-ci.md
  docs/continuous-integration/use-ci/set-up-build-infrastructure/resource-limits.md
  docs/continuous-integration/use-ci/set-up-build-infrastructure/which-build-infrastructure-is-right-for-me.md
  kb/continuous-integration/articles/parallel-step-for-logging.md
  kb/continuous-integration/continuous-integration-faqs.md
  kb/continuous-integration/static/parallel-debug-steps.png
Owners: @aimurphy, @deepanshuHarness

CDS-88352 OCI ECR update
  docs/continuous-delivery/deploy-srv-diff-platforms/helm/deploy-helm-charts.md
Owners: @michaelcretzman, @roshnisarangadharan

fix build
  release-notes/delegate.md
Owners: @brian-f-harness, @harishkammanahalli

Update delegate.md
  release-notes/delegate.md
Owners: @brian-f-harness, @harishkammanahalli

Added release-notes for template input issue.
  release-notes/continuous-delivery.md
Owners: @michaelcretzman, @roshnisarangadharan

CDS-88352 OCI ECR update (#4904)
  docs/continuous-delivery/deploy-srv-diff-platforms/helm/deploy-helm-charts.md
Owners: @michaelcretzman, @roshnisarangadharan

local runner kbs
  docs/continuous-integration/use-ci/codebase-configuration/create-and-configure-a-codebase.md
  docs/continuous-integration/use-ci/set-up-build-infrastructure/define-a-docker-build-infrastructure.md
  docs/continuous-integration/use-ci/set-up-build-infrastructure/resource-limits.md
  docs/continuous-integration/use-ci/set-up-build-infrastructure/use-harness-cloud-build-infrastructure.md
  kb/continuous-integration/continuous-integration-faqs.md
Owners: @aimurphy, @deepanshuHarness
