Repository harness/developer-hub, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ravilach, @wei-harness, @Ompragash, @krishi0408, @SushrutHarness, @nofarblue, @rustd, @dewan-ahmed, @lkilpatrick-harness, @pwolf-harness, @hitesharinga, @tejakummarikuntla, @rdsoze, @navaneeth, @Rohit-Kaliki, @joeyouss, @nikunj-badjatya, @M-Tsur, @sunilgupta-harness, @neelanjan00, @SmritiSatya, @saifeemustafaqharness, @Debanitrkl, @RickCraig, @richardblack-Harness, @HarnessTheChaos, @jenniferopal, @ankit-harness, @codewdhruv, @deepanshuHarness, @jimsheldon, @rssnyder, @suranc, @RajiKoppala

.github/CODEOWNERS:

# HDH Codeowners file.
# Created October 2023 - https://harness.atlassian.net/browse/HDH-189
# Applies to Repository Structure, not URL per-se.
# Learn more at: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global Owners of the HDH Repository
*       @ravilach @wei-harness

# Configuration Files in DS are JS.
*.js    @wei-harness

# Changes to Lock File
*.lock  @wei-harness

# Contributing
CONTRIBUTING.md @ravilach
README.md @ravilach
/docs/hdh/ @ravilach

# Certification
/university/ @ravilach

# Community
/community/ @Ompragash

# Redirect Archives
/archive/  @ravilach @wei-harness

# Documentation ###

# Continuous Delivery Docs
/docs/continuous-delivery/ @krishi0408 @SushrutHarness

# Continuous Integration Docs
/docs/continuous-integration/ @nofarblue @rustd @dewan-ahmed @lkilpatrick-harness

# CODE Docs
/docs/code-repository/ @pwolf-harness @hitesharinga @dewan-ahmed @lkilpatrick-harness

# STO Docs
/docs/security-testing-orchestration/ @tejakummarikuntla
/docs/faqs/security-testing-orchestration/ @tejakummarikuntla

# CCM Docs
/docs/cloud-cost-management/ @rdsoze @navaneeth @Rohit-Kaliki @joeyouss @nikunj-badjatya

# CET Docs
/docs/continuous-error-tracking/ @M-Tsur

# SRM Docs
/docs/service-reliability-management/ @sunilgupta-harness

# Chaos Docs
/docs/chaos-engineering/ @neelanjan00 @SmritiSatya

# Platform Docs
/docs/platform/ @saifeemustafaqharness

# IDP Docs
/docs/internal-developer-portal/ @Debanitrkl

# SSCA Docs
/docs/software-supply-chain-assurance/ @sunilgupta-harness @tejakummarikuntla

# IACMS Docs
/docs/infra-as-code-management/ @RickCraig @richardblack-Harness

# FF Docs
/docs/feature-flags/ @HarnessTheChaos @jenniferopal

# Cloud Operations Docs
/docs/harness-cloud-operations/ @ankit-harness

# SEI Docs
/docs/software-engineering-insights/ @codewdhruv

# FirstGen Docs ###

# CD Docs
/docs/category/continuous-delivery/ @krishi0408 @SushrutHarness

# Platform Docs
/docs/category/platform-firstgen/ @saifeemustafaqharness

# SMP Docs
/docs/category/self-managed-enterprise-edition-fg/ @saifeemustafaqharness

# CCM Docs
/docs/category/cloud-cost-management/ @rdsoze @navaneeth @Rohit-Kaliki @joeyouss

# FAQ Docs ###

# CD FAQs
/docs/faqs/continuous-delivery-faqs @krishi0408 @SushrutHarness

# FF FAQs
/docs/faqs/harness-feature-flag-faqs/ @HarnessTheChaos @jenniferopal

# CCM FAQs
/docs/faqs/cloud-cost-management-faqs/ @rdsoze @navaneeth @Rohit-Kaliki @joeyouss

# STO FAQs
/docs/faqs/security-testing-orchestration/ @tejakummarikuntla

# Chaos FAQs
/kb/chaos-engineering/chaos-engineering-faq @neelanjan00 @SmritiSatya

# Delegate FAQs
/docs/faqs/harness-delegate-faqs/ @saifeemustafaqharness

# GitEx FAQs
/docs/faqs/git-exp-vs-config-as-code/ @krishi0408 @SushrutHarness

# SMP FAQs
/docs/faqs/self-managed-ee-faq/ @saifeemustafaqharness

# Release Notes ###

# CD Release Notes
/release-notes/continuous-delivery.md @krishi0408 @SushrutHarness

# CCM Release Notes
/release-notes/cloud-cost-management.md @rdsoze

# CE Release Notes
/release-notes/chaos-engineering.md @neelanjan00 @SmritiSatya

# CET Release Notes
/release-notes/continuous-error-tracking.md @M-Tsur

# CI Release Notes
/release-notes/continuous-integration.md @nofarblue @rustd @dewan-ahmed @lkilpatrick-harness

# CODE Release Notes
/release-notes/code-repository.md @pwolf-harness @hitesharinga @dewan-ahmed @lkilpatrick-harness

# Delegate Release Notes
/release-notes/delegate.md @saifeemustafaqharness

# FF Release Notes
/release-notes/feature-flags.md @HarnessTheChaos @jenniferopal

# IDP Release Notes
/release-notes/internal-developer-portal.md @Debanitrkl

# Platform Release Notes
/release-notes/platform.md @saifeemustafaqharness

# SEI Release Notes
/release-notes/software-engineering-insights.md @codewdhruv

# STO Release Notes
/release-notes/security-testing-orchestration.md @tejakummarikuntla

# SMP
/release-notes/self-managed-enterprise-edition.md @saifeemustafaqharness

# SRM Release Notes
/release-notes/service-reliability-management.md @sunilgupta-harness

# SSCA Release Notes
/release-notes/service-reliability-management.md @sunilgupta-harness @tejakummarikuntla

# Knowledge Base ###

# Overall KB
/kb/ @deepanshuHarness

# Drone KB
/kb/continuous-integration/drone-faqs.md @jimsheldon

# CI KB
/kb/continuous-integration/ @nofarblue @rustd @deepanshuHarness @dewan-ahmed @lkilpatrick-harness

# CD KB
/kb/continuous-delivery/ @krishi0408 @SushrutHarness

#Platform KB
/kb/platform/ @saifeemustafaqharness

#FF KB
/kb/feature-flags/ @HarnessTheChaos @jenniferopal

#CCM KB
/kb/cloud-cost-management/ @rdsoze @navaneeth @Rohit-Kaliki @joeyouss @rssnyder

#SRM KB
/kb/service-reliability-management/ @sunilgupta-harness

#CE KB
/kb/chaos-engineering/ @neelanjan00 @SmritiSatya

#CET KB
/kb/continuous-error-tracking/ @M-Tsur

#STO KB
/kb/security-testing-orchestration/ @tejakummarikuntla

#RA
/kb/reference-architectures/ @rssnyder @suranc

# Roadmap ###

#CCM Roadmap
src/components/Roadmap/data/ccmData.ts @rdsoze @navaneeth @Rohit-Kaliki @joeyouss

#CD Roadmap
src/components/Roadmap/data/cdData.ts @krishi0408 @SushrutHarness

#CE Roadmap
src/components/Roadmap/data/cdData.ts @krishi0408 @neelanjan00 @SmritiSatya

#CI Roadmap
src/components/Roadmap/data/ciData.ts @nofarblue @rustd @dewan-ahmed @lkilpatrick-harness

#Code Roadmap
src/components/Roadmap/data/codeData.ts @pwolf-harness @hitesharinga @dewan-ahmed @lkilpatrick-harness

#FF Roadmap
src/components/Roadmap/data/ffData.ts @HarnessTheChaos @jenniferopal

#IACM Roadmap
src/components/Roadmap/data/iacmData.ts @RickCraig @richardblack-Harness

#IDP Roadmap
src/components/Roadmap/data/idpData.ts @Debanitrkl

#Platform Roadmap
src/components/Roadmap/data/platformData.ts @saifeemustafaqharness

#SEI Roadmap
src/components/Roadmap/data/seiData.ts @codewdhruv

#SRM Roadmap
src/components/Roadmap/data/srmData.ts @sunilgupta-harness

#SSCA Roadmap
src/components/Roadmap/data/sscaData.ts @sunilgupta-harness @tejakummarikuntla

#STO Roadmap
src/components/Roadmap/data/stoData.ts @tejakummarikuntla

#Reference Architectures
/kb/reference-architectures @RajiKoppala @rssnyder

Update harness-platform-faqs.md
  kb/platform/harness-platform-faqs.md
Owners: @saifeemustafaqharness

Update harness-git-ops-agent-with-self-signed-certificates.md
  docs/continuous-delivery/gitops/use-gitops/harness-git-ops-agent-with-self-signed-certificates.md
Owners: @krishi0408, @SushrutHarness

changes to .net packages doc
  docs/continuous-integration/use-ci/build-and-upload-artifacts/upload-artifacts/upload-dotnet-to-azure-artifacts.md
Owners: @nofarblue, @rustd, @dewan-ahmed, @lkilpatrick-harness

Update harness-platform-faqs.md
  kb/platform/harness-platform-faqs.md
Owners: @saifeemustafaqharness

Update continuous-integration-faqs.md
  kb/continuous-integration/continuous-integration-faqs.md
Owners: @nofarblue, @rustd, @deepanshuHarness, @dewan-ahmed, @lkilpatrick-harness

Adding documentation on recursive keyword code search
  docs/code-repository/work-in-repos/keyword-search.md
Owners: @pwolf-harness, @hitesharinga, @dewan-ahmed, @lkilpatrick-harness

Apply suggestions from code review
  docs/code-repository/work-in-repos/keyword-search.md
Owners: @pwolf-harness, @hitesharinga, @dewan-ahmed, @lkilpatrick-harness
