Repository harness/developer-hub, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pratmit, @wei-harness, @rohanmaharjan100, @ravilach, @Ompragash, @krishi0408, @SushrutHarness, @vishal-av, @pranaykaikini, @prasadsatamharness, @nofarblue, @rustd, @dewan-ahmed, @pwolf-harness, @hitesharinga, @tejakummarikuntla, @priteshchandaliya, @navaneeth, @Rohit-Kaliki, @joeyouss, @nikunj-badjatya, @raviyadalam, @M-Tsur, @sunilgupta-harness, @umamukkara, @neelanjan00, @SmritiSatya, @shovanmaity, @Jonsy13, @Saranya-jena, @Adarshkumar14, @ispeakc0de, @amityt, @GokulBansal0, @Debanitrkl, @OrkoHunter, @pranay-harness, @RickCraig, @richardblack-Harness, @allofthesepeople, @scottyw-harness, @nassergonzalez, @HarnessTheChaos, @jenniferopal, @ankit-harness, @yogi-harness, @codewdhruv, @batraprashant, @stephenatwell, @ksatchit, @deepanshuHarness, @rssnyder, @brandon-harness, @okosun-j, @suranc, @dtk-DaveKarow, @RajiKoppala

.github/CODEOWNERS:

# HDH Codeowners file.
# Created October 2023 - https://harness.atlassian.net/browse/HDH-189
# Applies to Repository Structure, not URL per-se.
# Learn more at: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global Owners of the HDH Repository
*       @pratmit @wei-harness

# Configuration Files in DS are JS.
*.js    @wei-harness @rohanmaharjan100
*.ts    @wei-harness @rohanmaharjan100
*.jsx    @wei-harness @rohanmaharjan100
*.tsx    @wei-harness @rohanmaharjan100

# Changes to Lock File
*.lock  @wei-harness

# Changes to Config Files
*.ini  @wei-harness
*.json  @wei-harness
*.toml  @wei-harness
*ignore @wei-harness
/_server-redirect @wei-harness

# Changes to Netlify Files
/netlify/ @wei-harness

# Contributing
CONTRIBUTING.md @pratmit
README.md @pratmit
/docs/hdh/ @pratmit

# University
/university/ @ravilach
/src/components/HomepageUniversity/ @ravilach
/src/components/University/ @ravilach

# Community
/community/ @Ompragash

# Redirect Archives
/archive/  @pratmit @wei-harness

# Documentation ###

# Continuous Delivery Docs
/docs/continuous-delivery/ @krishi0408 @SushrutHarness @vishal-av @pranaykaikini @prasadsatamharness

# Continuous Integration Docs
/docs/continuous-integration/ @nofarblue @rustd @dewan-ahmed

# CODE Docs
/docs/code-repository/ @pwolf-harness @hitesharinga @dewan-ahmed

# Open Source Docs
/docs/open-source/ @dewan-ahmed @rustd @SushrutHarness

# STO Docs
/docs/security-testing-orchestration/ @tejakummarikuntla @priteshchandaliya
/docs/faqs/security-testing-orchestration/ @tejakummarikuntla @priteshchandaliya

# CCM Docs
/docs/cloud-cost-management/ @navaneeth @Rohit-Kaliki @joeyouss @nikunj-badjatya @raviyadalam

# CET Docs
/docs/continuous-error-tracking/ @M-Tsur

# SRM Docs
/docs/service-reliability-management/ @sunilgupta-harness @umamukkara

# Chaos Docs
/docs/chaos-engineering/ @neelanjan00 @SmritiSatya @shovanmaity @Jonsy13 @Saranya-jena @Adarshkumar14 @ispeakc0de @amityt

# Platform Docs
/docs/platform/ @pratmit @krishi0408 @GokulBansal0

# IDP Docs
/docs/internal-developer-portal/ @Debanitrkl @OrkoHunter

# SSCA Docs
/docs/software-supply-chain-assurance/ @sunilgupta-harness @tejakummarikuntla @pranay-harness

# IACMS Docs
/docs/infra-as-code-management/ @RickCraig @richardblack-Harness @allofthesepeople @scottyw-harness @nassergonzalez 

# FF Docs
/docs/feature-flags/ @HarnessTheChaos @jenniferopal

# Cloud Operations Docs
/docs/harness-cloud-operations/ @ankit-harness @yogi-harness

# SEI Docs
/docs/software-engineering-insights/ @codewdhruv @batraprashant

# DB DevOps Docs
/docs/database-devops/ @jenniferopal @stephenatwell @HarnessTheChaos

# FirstGen Docs ###

# CD Docs
/docs/category/continuous-delivery/ @krishi0408 @SushrutHarness @vishal-av

# Platform Docs
/docs/category/platform-firstgen/ @pratmit

# SMP Docs
/docs/category/self-managed-enterprise-edition-fg/ @pratmit

# CCM Docs
/docs/category/cloud-cost-management/ @navaneeth @Rohit-Kaliki @joeyouss

# FAQ Docs ###

# CD FAQs
/docs/faqs/continuous-delivery-faqs @krishi0408 @SushrutHarness @vishal-av

# FF FAQs
/docs/faqs/harness-feature-flag-faqs/ @HarnessTheChaos @jenniferopal

# CCM FAQs
/docs/faqs/cloud-cost-management-faqs/ @navaneeth @Rohit-Kaliki @joeyouss

# STO FAQs
/docs/faqs/security-testing-orchestration/ @tejakummarikuntla

# Chaos FAQs
/kb/chaos-engineering/chaos-engineering-faq @neelanjan00 @SmritiSatya @ksatchit

# Delegate FAQs
/docs/faqs/harness-delegate-faqs/ @pratmit

# GitEx FAQs
/docs/faqs/git-exp-vs-config-as-code/ @krishi0408 @SushrutHarness @vishal-av

# SMP FAQs
/docs/faqs/self-managed-ee-faq/ @pratmit

# DB DevOps FAQs

/kb/database-devops/index @jenniferopal @stephenatwell @HarnessTheChaos

# Release Notes ###

# CD Release Notes
/release-notes/continuous-delivery.md @krishi0408 @SushrutHarness @vishal-av @pranaykaikini @prasadsatamharness

# CCM Release Notes
/release-notes/cloud-cost-management.md @raviyadalam 

# CE Release Notes
/release-notes/chaos-engineering.md @neelanjan00 @SmritiSatya @Jonsy13

# CET Release Notes
/release-notes/continuous-error-tracking.md @M-Tsur

# CI Release Notes
/release-notes/continuous-integration.md @nofarblue @rustd @dewan-ahmed

# CODE Release Notes
/release-notes/code-repository.md @pwolf-harness @hitesharinga @dewan-ahmed

# Delegate Release Notes
/release-notes/delegate.md @pratmit

# Database DevOps Release Notes
/release-notes/database-devops.md @stephenatwell @jenniferopal @HarnessTheChaos

# FF Release Notes
/release-notes/feature-flags.md @HarnessTheChaos @jenniferopal

# IDP Release Notes
/release-notes/internal-developer-portal.md @Debanitrkl @OrkoHunter

# Platform Release Notes
/release-notes/platform.md @pratmit @GokulBansal0

# SEI Release Notes
/release-notes/software-engineering-insights.md @codewdhruv @batraprashant

# STO Release Notes
/release-notes/security-testing-orchestration.md @tejakummarikuntla @priteshchandaliya

# SMP
/release-notes/self-managed-enterprise-edition.md @pratmit

# SRM Release Notes
/release-notes/service-reliability-management.md @sunilgupta-harness @umamukkara

# SSCA Release Notes
/release-notes/service-reliability-management.md @sunilgupta-harness @tejakummarikuntla @pranay-harness

# Knowledge Base ###

# Overall KB
/kb/ @deepanshuHarness

# Drone KB
/kb/continuous-integration/drone-faqs.md @dewan-ahmed

# CI KB
/kb/continuous-integration/ @nofarblue @rustd @deepanshuHarness @dewan-ahmed

# CD KB
/kb/continuous-delivery/ @krishi0408 @SushrutHarness @vishal-av

#Platform KB
/kb/platform/ @pratmit

#FF KB
/kb/feature-flags/ @HarnessTheChaos @jenniferopal

#CCM KB
/kb/cloud-cost-management/ @navaneeth @Rohit-Kaliki @joeyouss @rssnyder @brandon-harness

#SRM KB
/kb/service-reliability-management/ @sunilgupta-harness

#CE KB
/kb/chaos-engineering/ @neelanjan00 @SmritiSatya

#CET KB
/kb/continuous-error-tracking/ @M-Tsur

#STO KB
/kb/security-testing-orchestration/ @tejakummarikuntla

#Armory KB
/kb/armory @okosun-j

#RA
/kb/reference-architectures/ @rssnyder @suranc

#IACM RA
/kb/reference-architectures/iacm/ @RickCraig @allofthesepeople @scottyw-harness @richardblack-Harness

# SEI KB
/kb/sei/ @codewdhruv

# Roadmap ###

#CCM Roadmap
src/components/Roadmap/data/ccmData.ts @navaneeth @Rohit-Kaliki @joeyouss

#CD Roadmap
src/components/Roadmap/data/cdData.ts @krishi0408 @SushrutHarness @vishal-av

#CE Roadmap
src/components/Roadmap/data/cdData.ts @krishi0408 @neelanjan00 @SmritiSatya @vishal-av @SushrutHarness

#CI Roadmap
src/components/Roadmap/data/ciData.ts @nofarblue @rustd @dewan-ahmed

#Code Roadmap
src/components/Roadmap/data/codeData.ts @pwolf-harness @hitesharinga @dewan-ahmed

#FF Roadmap
src/components/Roadmap/data/ffData.ts @HarnessTheChaos @jenniferopal

#IACM Roadmap
src/components/Roadmap/data/iacmData.ts @RickCraig @richardblack-Harness

#FME Roadmap
src/components/Roadmap/data/fmeData.ts @dtk-DaveKarow

#IDP Roadmap
src/components/Roadmap/data/idpData.ts @Debanitrkl

#Platform Roadmap
src/components/Roadmap/data/platformData.ts @pratmit

#SEI Roadmap
src/components/Roadmap/data/seiData.ts @codewdhruv

#SRM Roadmap
src/components/Roadmap/data/srmData.ts @sunilgupta-harness

#SSCA Roadmap
src/components/Roadmap/data/sscaData.ts @sunilgupta-harness @tejakummarikuntla

#STO Roadmap
src/components/Roadmap/data/stoData.ts @tejakummarikuntla

#Reference Architectures
/kb/reference-architectures @RajiKoppala @rssnyder

Launch of IDP SPT and IaCM ILT
  src/components/HomepageUniversity/data/universityData.ts
  src/components/University/data/iltData.ts
  src/components/University/data/sptData.ts
Owners: @ravilach

Delete .devcontainer/devcontainer.json.archive
  .devcontainer/devcontainer.json.archive
Owners: @pratmit, @wei-harness

Update devcontainer.json for host requirements
  .devcontainer/devcontainer.json
Owners: @wei-harness

(Create) Enforcing RBAC Doc
  docs/platform/triggers/static/mandateauthorization.png
  docs/platform/triggers/static/trigger-accessdenied.png
  docs/platform/triggers/static/trigger-curl.png
  docs/platform/triggers/trigger-deployments-using-custom-triggers.md
  docs/platform/triggers/triggers-enforcerbac.md
Owners: @pratmit, @krishi0408, @GokulBansal0

link to air-gapped env
  docs/chaos-engineering/getting-started/smp/smp.md
Owners: @neelanjan00, @SmritiSatya, @shovanmaity, @Jonsy13, @Saranya-jena, @Adarshkumar14, @ispeakc0de, @amityt

[CDS-100348] Added JET identity token for AWS
  docs/platform/connectors/cloud-providers/ref-cloud-providers/aws-connector-settings-reference.md
Owners: @pratmit, @krishi0408, @GokulBansal0

Added the info on how to add annotations
  docs/internal-developer-portal/catalog/catalog-ingestion/catalog-ingestion-api.md
Owners: @Debanitrkl, @OrkoHunter

Updated the info on already existing annotations
  docs/internal-developer-portal/catalog/catalog-ingestion/catalog-ingestion-api.md
Owners: @Debanitrkl, @OrkoHunter

Update aws-connector-settings-reference.md
  docs/platform/connectors/cloud-providers/ref-cloud-providers/aws-connector-settings-reference.md
Owners: @pratmit, @krishi0408, @GokulBansal0

Place "application maps" in "use harness CE"
  docs/chaos-engineering/concepts/explore-features.md
  docs/chaos-engineering/use-harness-ce/application-map.md
  docs/chaos-engineering/use-harness-ce/infrastructures/infrastructures.md
  docs/chaos-engineering/use-harness-ce/static/app-maps/confirm-delete-7.png
  docs/chaos-engineering/use-harness-ce/static/app-maps/create-agent-1.png
  docs/chaos-engineering/use-harness-ce/static/app-maps/create-nw-1.png
  docs/chaos-engineering/use-harness-ce/static/app-maps/delete-6.png
  docs/chaos-engineering/use-harness-ce/static/app-maps/edit-8.png
  docs/chaos-engineering/use-harness-ce/static/app-maps/name-np-2.png
  docs/chaos-engineering/use-harness-ce/static/app-maps/navigate-3.png
  docs/chaos-engineering/use-harness-ce/static/app-maps/save-nw-5.png
  docs/chaos-engineering/use-harness-ce/static/app-maps/select-agent-2.png
  docs/chaos-engineering/use-harness-ce/static/app-maps/select-service-3.png
  docs/chaos-engineering/use-harness-ce/static/app-maps/service-rel-4.png
  src/components/Docs/data/chaosEngineeringData.ts
  src/components/Docs/data/chaosEngineeringData_Complex.ts
Owners: @neelanjan00, @SmritiSatya, @shovanmaity, @Jonsy13, @Saranya-jena, @Adarshkumar14, @ispeakc0de, @amityt, @wei-harness, @rohanmaharjan100
