Repository harness/developer-hub, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pratmit, @wei-harness, @rohanmaharjan100, @ravilach, @Ompragash, @krishi0408, @SushrutHarness, @vishal-av, @pranaykaikini, @prasadsatamharness, @thisrohangupta, @shylajas, @nofarblue, @rustd, @dewan-ahmed, @shivloka-harness, @pwolf-harness, @hitesharinga, @tejakummarikuntla, @priteshchandaliya, @navaneeth, @Rohit-Kaliki, @joeyouss, @nikunj-badjatya, @raviyadalam, @iamanmolm, @sdsingh07, @sandyydk, @abhinavsingh-ccm, @M-Tsur, @sunilgupta-harness, @umamukkara, @neelanjan00, @SmritiSatya, @shovanmaity, @Jonsy13, @Saranya-jena, @Adarshkumar14, @ispeakc0de, @amityt, @uditgaurav, @S-ayanide, @vanshBhatia-A4k9, @ksatchit, @GokulBansal0, @abhishekharness, @ivikramsahu, @anshul-harness, @SudarshanPurohit, @Debanitrkl, @OrkoHunter, @manishas, @pranay-harness, @RickCraig, @richardblack-Harness, @allofthesepeople, @scottyw-harness, @nassergonzalez, @HarnessTheChaos, @jenniferopal, @laura-mannus, @Kira-Jennings, @laura135, @codewdhruv, @batraprashant, @stephenatwell, @archit-harness, @khushisharmaharness, @shankaranandh, @shivagowda, @dtk-DaveKarow, @kleinjoshuaa, @deej-split, @ankit-harness, @yogi-harness, @deepanshuHarness, @jimin-harness, @guna-harness, @okosun-j, @rssnyder, @suranc, @RajiKoppala

Added FAQ related to CI codebase.
  kb/continuous-integration/continuous-integration-faqs.md
Owners: @deepanshuHarness, @jimin-harness, @guna-harness

Execution Graph API
  docs/platform/pipelines/pipeline-execution-graph.md
  docs/platform/pipelines/static/execution_graph.png
Owners: @krishi0408, @vishal-av, @SudarshanPurohit

Execution Graph API
  docs/platform/pipelines/pipeline-execution-graph.md
Owners: @krishi0408, @vishal-av, @SudarshanPurohit

unify Create a metric and Metrics calculation schedule info
  docs/feature-management-experimentation/30-http-api/docs/faqs/how-can-i-check-if-a-user-id-is-in-a-segment.md
  docs/feature-management-experimentation/50-release-monitoring/_templates/monitor-and-experiment-settings.md
  docs/feature-management-experimentation/50-release-monitoring/docs/alerts/alert-baseline-treatment.md
  docs/feature-management-experimentation/50-release-monitoring/docs/alerts/alert-policies.md
  docs/feature-management-experimentation/50-release-monitoring/docs/alerts/automated-alerts-and-notifications/_category_.json
  docs/feature-management-experimentation/50-release-monitoring/docs/alerts/automated-alerts-and-notifications/set-up-metric-alerting.md
  docs/feature-management-experimentation/50-release-monitoring/docs/alerts/troubleshooting-alerts.md
  docs/feature-management-experimentation/50-release-monitoring/docs/faqs/_category_.json
  docs/feature-management-experimentation/50-release-monitoring/docs/faqs/no-impressions-shown-in-livetail-during-testing.md
  docs/feature-management-experimentation/50-release-monitoring/docs/faqs/what-happens-with-metric-results-when-one-treatment-has-no-events.md
  docs/feature-management-experimentation/50-release-monitoring/docs/faqs/what-is-the-sequence-and-timing-when-sending-events-with-splits-track-method.md
  docs/feature-management-experimentation/50-release-monitoring/docs/faqs/when-are-metric-cards-updated.md
  docs/feature-management-experimentation/50-release-monitoring/docs/faqs/why-are-the-counts-different-from-other-tools.md
  docs/feature-management-experimentation/50-release-monitoring/docs/faqs/why-dont-the-events-i-sent-with-track-show-up-under-event-types.md
  docs/feature-management-experimentation/50-release-monitoring/docs/metrics/alert-policies.md
  docs/feature-management-experimentation/50-release-monitoring/docs/metrics/attribution-and-exclusion.md
  docs/feature-management-experimentation/50-release-monitoring/docs/metrics/index.md
  docs/feature-management-experimentation/50-release-monitoring/docs/metrics/metric-categories.md
  docs/feature-management-experimentation/50-release-monitoring/docs/metrics/metric-definition/index.md
  docs/feature-management-experimentation/50-release-monitoring/docs/metrics/metric-definition/metric-capping.md
  docs/feature-management-experimentation/50-release-monitoring/docs/metrics/metric-definition/metric-filtering-2.md
  docs/feature-management-experimentation/50-release-monitoring/docs/metrics/metric-definition/metric-filtering.md
  docs/feature-management-experimentation/50-release-monitoring/docs/metrics/statistical-significance.md
  docs/feature-management-experimentation/50-release-monitoring/docs/monitoring/view-metrics-impact/index.md
  docs/feature-management-experimentation/50-release-monitoring/docs/monitoring/view-metrics-impact/recalculate.md
  docs/feature-management-experimentation/50-release-monitoring/docs/monitoring/view-metrics-impact/view-metric-results.md
  docs/feature-management-experimentation/60-experimentation/docs/analyzing-experiment-results/using-the-metric-details-and-trends-data.md
  docs/feature-management-experimentation/60-experimentation/docs/key-concepts-for-experimentation/statistical-significance.md
  docs/feature-management-experimentation/60-experimentation/docs/unstructured/monitor-and-experiment-settings.md
  docs/feature-management-experimentation/60-experimentation/docs/unstructured/multiple-comparison-correction.md
  docs/feature-management-experimentation/60-experimentation/docs/unstructured/sample-ratio-check.md
  docs/feature-management-experimentation/60-experimentation/docs/unstructured/share-results.md
  docs/feature-management-experimentation/60-experimentation/docs/unstructured/using-dimensional-analysis.md
Owners: @pratmit, @wei-harness

Final updates
  docs/internal-developer-portal/flows/custom-actions.md
  docs/internal-developer-portal/flows/dynamic-picker.md
  docs/internal-developer-portal/flows/flows-input.md
  docs/internal-developer-portal/flows/harness-pipeline.md
  docs/internal-developer-portal/flows/idp-stage.md
  docs/internal-developer-portal/flows/manage-workflows.md
  docs/internal-developer-portal/flows/outputs.md
  docs/internal-developer-portal/flows/overview.md
  docs/internal-developer-portal/flows/static/access-workflow-catalog.png
  docs/internal-developer-portal/flows/static/edit-workflow.png
  docs/internal-developer-portal/flows/static/execute-workflow.png
  docs/internal-developer-portal/flows/static/refresh-workflow.png
  docs/internal-developer-portal/flows/static/register-1.png
  docs/internal-developer-portal/flows/static/register-2.png
  docs/internal-developer-portal/flows/static/unregister-entity.png
  docs/internal-developer-portal/flows/worflowyaml.md
Owners: @Debanitrkl, @OrkoHunter, @manishas

Final changes
  docs/internal-developer-portal/flows/harness-pipeline.md
Owners: @Debanitrkl, @OrkoHunter, @manishas

Link ssample policy to Aquasec Prisma Veracode
  docs/security-testing-orchestration/sto-techref-category/aquasec-scanner-reference.md
  docs/security-testing-orchestration/sto-techref-category/prisma-cloud-scanner-reference.md
  docs/security-testing-orchestration/sto-techref-category/veracode-scanner-reference.md
Owners: @tejakummarikuntla, @priteshchandaliya

Add video to AI Remediation docs
  docs/security-testing-orchestration/remediations/ai-based-remediations.md
Owners: @tejakummarikuntla, @priteshchandaliya

Update iacmData.ts
  src/components/Roadmap/data/iacmData.ts
Owners: @RickCraig, @richardblack-Harness

adjust template filename to comply with kebab case
  docs/feature-management-experimentation/50-release-monitoring/_templates/_monitor-and-experiment-settings.md
  docs/feature-management-experimentation/50-release-monitoring/docs/alerts/monitoring-window/index.md
  docs/feature-management-experimentation/60-experimentation/docs/unstructured/monitor-and-experiment-settings.md
Owners: @pratmit, @wei-harness

changed file to .mdx to escape kebab case requirement, enhanced Segment key concepts page
  docs/feature-management-experimentation/10-getting-started/docs/key-concepts/segments.md
  docs/feature-management-experimentation/50-release-monitoring/_templates/_monitor-and-experiment-settings.mdx
  docs/feature-management-experimentation/50-release-monitoring/docs/alerts/monitoring-window/index.md
  docs/feature-management-experimentation/60-experimentation/docs/events/_category_.json
  docs/feature-management-experimentation/60-experimentation/docs/key-concepts-for-experimentation/_category_.json
  docs/feature-management-experimentation/60-experimentation/docs/metrics/_category_.json
  docs/feature-management-experimentation/60-experimentation/docs/setting-up-an-experiment/_category_.json
  docs/feature-management-experimentation/60-experimentation/docs/unstructured/monitor-and-experiment-settings.md
Owners: @pratmit, @wei-harness

Minor fixes to the texts
  docs/software-supply-chain-assurance/reports/view-license-reports.md
Owners: @sunilgupta-harness, @tejakummarikuntla, @pranay-harness

Added info on usage of post method
  docs/internal-developer-portal/flows/dynamic-picker.md
Owners: @Debanitrkl, @OrkoHunter, @manishas

Update CDS_OPA_CD_ENTITIES_GOVERNANCE FF
  docs/continuous-delivery/x-platform-cd-features/advanced/cd-governance/opa-policies-for-cd-entities.md
Owners: @krishi0408, @SushrutHarness, @vishal-av, @pranaykaikini, @prasadsatamharness, @thisrohangupta, @shylajas

Updated CD release version
  release-notes/continuous-delivery.md
Owners: @krishi0408, @SushrutHarness, @vishal-av, @pranaykaikini, @prasadsatamharness, @thisrohangupta, @shylajas

Added the comments
  docs/internal-developer-portal/flows/dynamic-picker.md
Owners: @Debanitrkl, @OrkoHunter, @manishas

Added descriptions
  docs/cloud-development-environments/develop-using-cde/features.md
  src/components/Docs/data/cloudDevelopmentEnvironmentData.ts
Owners: @manishas, @khushisharmaharness

Added workflow playground section
  docs/internal-developer-portal/flows/flows-input.md
  docs/internal-developer-portal/flows/manage-workflows.md
  docs/internal-developer-portal/flows/worflowyaml.md
Owners: @Debanitrkl, @OrkoHunter, @manishas

Added docs on new features
  docs/internal-developer-portal/flows/custom-actions.md
  docs/internal-developer-portal/flows/dynamic-picker.md
Owners: @Debanitrkl, @OrkoHunter, @manishas

new commit test
  docs/chaos-engineering/concepts/explore-concepts/_category_.json
  docs/chaos-engineering/concepts/how-stuff-works/_category_.json
  docs/chaos-engineering/concepts/how-stuff-works/hnp.md
  docs/chaos-engineering/concepts/static/how-stuff-works/hnp-deployment-modes.png
  docs/chaos-engineering/use-harness-ce/infrastructures/mtls-support.md
  docs/chaos-engineering/use-harness-ce/infrastructures/proxy-support.md
  docs/chaos-engineering/use-harness-ce/infrastructures/upgrade-infra.md
Owners: @neelanjan00, @SmritiSatya, @shovanmaity, @Jonsy13, @Saranya-jena, @Adarshkumar14, @ispeakc0de, @amityt, @uditgaurav, @S-ayanide, @vanshBhatia-A4k9, @ksatchit, @umamukkara

Review changes
  docs/chaos-engineering/concepts/how-stuff-works/hnp.md
Owners: @neelanjan00, @SmritiSatya, @shovanmaity, @Jonsy13, @Saranya-jena, @Adarshkumar14, @ispeakc0de, @amityt, @uditgaurav, @S-ayanide, @vanshBhatia-A4k9, @ksatchit, @umamukkara

Update chaos-engineering.md
  release-notes/chaos-engineering.md
Owners: @neelanjan00, @SmritiSatya, @Jonsy13

fault template
  docs/chaos-engineering/use-harness-ce/experiments/fault-template.md
  docs/chaos-engineering/use-harness-ce/experiments/static/runtime/click-run.png
  docs/chaos-engineering/use-harness-ce/experiments/static/runtime/is-1.png
  docs/chaos-engineering/use-harness-ce/experiments/static/runtime/is-2.png
  docs/chaos-engineering/use-harness-ce/experiments/static/runtime/is-3.png
  docs/chaos-engineering/use-harness-ce/experiments/static/runtime/run-exp.png
  docs/chaos-engineering/use-harness-ce/experiments/static/runtime/sample-2.png
  docs/chaos-engineering/use-harness-ce/experiments/static/runtime/sample.png
Owners: @neelanjan00, @SmritiSatya, @shovanmaity, @Jonsy13, @Saranya-jena, @Adarshkumar14, @ispeakc0de, @amityt, @uditgaurav, @S-ayanide, @vanshBhatia-A4k9, @ksatchit, @umamukkara

Fixed the Image
  docs/software-supply-chain-assurance/reports/static/clone.png
  docs/software-supply-chain-assurance/reports/static/new-dashboard.png
  docs/software-supply-chain-assurance/reports/view-license-reports.md
Owners: @sunilgupta-harness, @tejakummarikuntla, @pranay-harness

Updated changes
  docs/internal-developer-portal/flows/custom-actions.md
  docs/internal-developer-portal/flows/flows-input.md
  docs/internal-developer-portal/flows/harness-pipeline.md
  docs/internal-developer-portal/flows/idp-stage.md
  docs/internal-developer-portal/flows/manage-workflows.md
  docs/internal-developer-portal/flows/outputs.md
  docs/internal-developer-portal/flows/worflowyaml.md
Owners: @Debanitrkl, @OrkoHunter, @manishas

[IDP Docs] Refactor Workflows
  docs/internal-developer-portal/adoption/adoption-playbook.md
  docs/internal-developer-portal/flows/custom-actions.md
  docs/internal-developer-portal/flows/dynamic-picker.md
  docs/internal-developer-portal/flows/flows-input.md
  docs/internal-developer-portal/flows/flows-output.md
  docs/internal-developer-portal/flows/harness-pipeline.md
  docs/internal-developer-portal/flows/idp-stage.md
  docs/internal-developer-portal/flows/manage-workflows.md
  docs/internal-developer-portal/flows/outputs.md
  docs/internal-developer-portal/flows/overview.md
  docs/internal-developer-portal/flows/service-onboarding-pipelines.md
  docs/internal-developer-portal/flows/static/access-workflow-catalog.png
  docs/internal-developer-portal/flows/static/add-variable.png
  docs/internal-developer-portal/flows/static/edit-workflow.png
  docs/internal-developer-portal/flows/static/execute-workflow.png
  docs/internal-developer-portal/flows/static/execution-pipeline.png
  docs/internal-developer-portal/flows/static/name-pipeline.png
  docs/internal-developer-portal/flows/static/navigate-variable.png
  docs/internal-developer-portal/flows/static/refresh-workflow.png
  docs/internal-developer-portal/flows/static/register-1.png
  docs/internal-developer-portal/flows/static/register-2.png
  docs/internal-developer-portal/flows/static/template-editor-wofrkflowyaml.png
  docs/internal-developer-portal/flows/static/unregister-entity.png
  docs/internal-developer-portal/flows/worflowyaml.md
  docs/internal-developer-portal/get-started/get-started.md
Owners: @Debanitrkl, @OrkoHunter, @manishas

[CDS-106346] Updated Terraform variable files config details
  docs/continuous-delivery/cd-infrastructure/terraform-infra/run-a-terraform-plan-with-the-terraform-plan-step.md
Owners: @krishi0408, @SushrutHarness, @vishal-av, @pranaykaikini, @prasadsatamharness, @thisrohangupta, @shylajas

Changed the Image file paths
  docs/software-supply-chain-assurance/reports/view-license-reports.md
Owners: @sunilgupta-harness, @tejakummarikuntla, @pranay-harness

Added new actions
  docs/internal-developer-portal/adoption/adoption-playbook.md
  docs/internal-developer-portal/flows/custom-actions.md
  docs/internal-developer-portal/flows/harness-pipeline.md
  docs/internal-developer-portal/flows/overview.md
  docs/internal-developer-portal/flows/worflowyaml.md
  release-notes/internal-developer-portal.md
Owners: @Debanitrkl, @OrkoHunter, @manishas

Updated the file path
  docs/internal-developer-portal/flows/overview.md
  src/components/Docs/data/internalDeveloperPortal.ts
Owners: @Debanitrkl, @OrkoHunter, @manishas

review changes
  docs/chaos-engineering/use-harness-ce/chaos-faults/kubernetes/pod/probe-validations.md
Owners: @neelanjan00, @SmritiSatya, @shovanmaity, @Jonsy13, @Saranya-jena, @Adarshkumar14, @ispeakc0de, @amityt, @uditgaurav, @S-ayanide, @vanshBhatia-A4k9, @ksatchit, @umamukkara

Updated product screenshots
  docs/internal-developer-portal/flows/custom-actions.md
  docs/internal-developer-portal/flows/dynamic-picker.md
  docs/internal-developer-portal/flows/manage-workflows.md
  docs/internal-developer-portal/flows/overview.md
  docs/internal-developer-portal/flows/static/installed-actions.png
  docs/internal-developer-portal/flows/static/supported-actions-1.png
  docs/internal-developer-portal/flows/worflowyaml.md
Owners: @Debanitrkl, @OrkoHunter, @manishas

fix:[CDS-105573] Update doc to inform about the changes in BG ECS with the FF: CDS_ECS_BG_VALIDATION_WITH_SAME_TARGET_GROUPS
  docs/continuous-delivery/deploy-srv-diff-platforms/aws/ecs/ecs-deployment-tutorial.md
Owners: @krishi0408, @SushrutHarness, @vishal-av, @pranaykaikini, @prasadsatamharness, @thisrohangupta, @shylajas

Added Note to Google Cloud Run Job step
  docs/continuous-delivery/deploy-srv-diff-platforms/google-cloud-functions/google-cloud-run.md
Owners: @krishi0408, @SushrutHarness, @vishal-av, @pranaykaikini, @prasadsatamharness, @thisrohangupta, @shylajas

Remove files that don't have content
  docs/incident-response/faqs.md
  docs/incident-response/whats-supported.md
  release-notes/incident-response.md
  sidebars.ts
  src/components/Docs/IncidentResponse.tsx
  src/components/LandingPage/IncidentResponse.tsx
Owners: @pratmit, @wei-harness, @rohanmaharjan100

Delete IncidentResponse.tsx
  src/components/LandingPage/IncidentResponse.tsx
Owners: @wei-harness, @rohanmaharjan100

resolved comments
  docs/cloud-cost-management/5-use-ccm-cost-governance/asset-governance/3-gov-overview.md
  docs/cloud-cost-management/5-use-ccm-cost-governance/asset-governance/AWS/2-harness-concepts.md
  docs/cloud-cost-management/5-use-ccm-cost-governance/asset-governance/AWS/aws-recommendations.md
  docs/cloud-cost-management/5-use-ccm-cost-governance/asset-governance/Azure/azure-recommendations.md
  docs/cloud-cost-management/5-use-ccm-cost-governance/asset-governance/GCP/2-harness-concepts.md
  docs/cloud-cost-management/5-use-ccm-cost-governance/asset-governance/GCP/gcp-recommendations.md
Owners: @navaneeth, @Rohit-Kaliki, @joeyouss, @nikunj-badjatya, @raviyadalam, @iamanmolm, @sdsingh07, @sandyydk, @abhinavsingh-ccm

FME main features pages content
  docs/feature-management-experimentation/10-getting-started/docs/key-concepts/traffic-types.md
  docs/feature-management-experimentation/40-feature-management/index.md
  docs/feature-management-experimentation/50-release-monitoring/docs/monitoring/kill-switch.md
  docs/feature-management-experimentation/50-release-monitoring/docs/monitoring/traffic-insights.md
  docs/feature-management-experimentation/50-release-monitoring/docs/monitoring/view-triggered-alerts.md
  docs/feature-management-experimentation/50-release-monitoring/index.md
  docs/feature-management-experimentation/60-experimentation/docs/experiment-results/analyze-experiment-results/attribution-and-exclusion.md
  docs/feature-management-experimentation/60-experimentation/docs/experiment-results/analyze-experiment-results/dimensional-analysis.md
  docs/feature-management-experimentation/60-experimentation/docs/experiment-results/analyze-experiment-results/experiment-settings.md
  docs/feature-management-experimentation/60-experimentation/docs/experiment-results/analyze-experiment-results/interpreting-inconclusive-results.md
  docs/feature-management-experimentation/60-experimentation/docs/experiment-results/analyze-experiment-results/metric-details-and-trends-data.md
  docs/feature-management-experimentation/60-experimentation/docs/experiment-results/analyze-experiment-results/monitor-and-experiment-settings.md
  docs/feature-management-experimentation/60-experimentation/docs/experiment-results/analyze-experiment-results/sample-ratio-check.md
  docs/feature-management-experimentation/60-experimentation/docs/experiment-results/analyze-experiment-results/sample-ratio-mismatch-check.md
  docs/feature-management-experimentation/60-experimentation/docs/experiment-results/experiment-results.md
  docs/feature-management-experimentation/60-experimentation/docs/experiment-results/randomization-and-stickiness.md
  docs/feature-management-experimentation/60-experimentation/docs/experiment-results/view-experiment-results/_category_.json
  docs/feature-management-experimentation/60-experimentation/docs/experiment-results/view-experiment-results/filter-metrics-cards.md
  docs/feature-management-experimentation/60-experimentation/docs/experiment-results/view-experiment-results/learn-from-experiment-results.md
  docs/feature-management-experimentation/60-experimentation/docs/experiment-results/view-experiment-results/metrics-details-and-trends.md
  docs/feature-management-experimentation/60-experimentation/docs/experiment-results/view-experiment-results/metrics-impact-cards.md
  docs/feature-management-experimentation/60-experimentation/docs/experiment-results/view-experiment-results/reviewing-metrics-during-an-experiment.md
  docs/feature-management-experimentation/60-experimentation/docs/experiment-results/view-experiment-results/share-experiment-results.md
  docs/feature-management-experimentation/60-experimentation/docs/experiment-results/view-experiment-results/share-experimental-results.md
  docs/feature-management-experimentation/60-experimentation/docs/experiment-results/view-experiment-results/static/filter-metrics-cards-custom-dates.png
  docs/feature-management-experimentation/60-experimentation/docs/key-concepts-for-experimentation/sequential-vs-fixed-horizon.md
  docs/feature-management-experimentation/60-experimentation/index.md
  docs/feature-management-experimentation/80-integrations/index.md
Owners: @pratmit, @wei-harness, @rohanmaharjan100

Added note to 1.63 RN and January version for whitelisting IPs.
  release-notes/continuous-integration.md
Owners: @nofarblue, @rustd, @dewan-ahmed, @SushrutHarness, @shivloka-harness

fix: [PL-59970]: Move postgres override under postgres.primary
  docs/self-managed-enterprise-edition/monitor-harness-on-prem.md
Owners: @pratmit, @abhishekharness, @ivikramsahu

.github/CODEOWNERS:

# HDH Codeowners file.
# Created October 2023 - https://harness.atlassian.net/browse/HDH-189
# Applies to Repository Structure, not URL per-se.
# Learn more at: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global Owners of the HDH Repository
*       @pratmit @wei-harness

# Configuration Files in DS are JS.
*.js    @wei-harness @rohanmaharjan100
*.ts    @wei-harness @rohanmaharjan100
*.jsx    @wei-harness @rohanmaharjan100
*.tsx    @wei-harness @rohanmaharjan100

# Changes to Lock File
*.lock  @wei-harness

# Changes to Config Files
*.ini  @wei-harness
*.json  @wei-harness
*.toml  @wei-harness
*ignore @wei-harness
/_server-redirect @wei-harness

# Changes to Netlify Files
/netlify/ @wei-harness

# Contributing
CONTRIBUTING.md @pratmit
README.md @pratmit
/docs/hdh/ @pratmit

# University
/university/ @ravilach
/src/components/HomepageUniversity/ @ravilach
/src/components/University/ @ravilach

# Community
/community/ @Ompragash

# Redirect Archives
/archive/  @pratmit @wei-harness

# Documentation ###

# All Static files (images etc.)
static/  @rohanmaharjan100 @wei-harness

# All Data files - Please add global reviewers who are familiar with js/ts
# data/*.ts @global-data-file-owners

# Continuous Delivery Docs
/docs/continuous-delivery/ @krishi0408 @SushrutHarness @vishal-av @pranaykaikini @prasadsatamharness @thisrohangupta @shylajas
/release-notes/continuous-delivery.md @krishi0408 @SushrutHarness @vishal-av @pranaykaikini @prasadsatamharness @thisrohangupta @shylajas
/src/components/Roadmap/data/cdData.ts @krishi0408 @SushrutHarness @vishal-av @thisrohangupta @shylajas
/src/components/Docs/data/continuousDeliveryData*  @krishi0408 @SushrutHarness @vishal-av @thisrohangupta
# FirstGen CD Docs
/docs/category/continuous-delivery/ @krishi0408 @SushrutHarness @vishal-av @thisrohangupta
# CD FAQs
/docs/faqs/continuous-delivery-faqs @krishi0408 @SushrutHarness @vishal-av
# GitEx FAQs
/docs/faqs/git-exp-vs-config-as-code/ @krishi0408 @SushrutHarness @vishal-av


# Continuous Integration Docs
/docs/continuous-integration/ @nofarblue @rustd @dewan-ahmed @SushrutHarness @shivloka-harness
/release-notes/continuous-integration.md @nofarblue @rustd @dewan-ahmed @SushrutHarness @shivloka-harness
/src/components/Roadmap/data/ciData.ts @nofarblue @rustd @dewan-ahmed @SushrutHarness @shivloka-harness
/src/components/Docs/data/continuousIntegrationData.ts @nofarblue @rustd @dewan-ahmed @SushrutHarness @shivloka-harness

# CODE Docs
/docs/code-repository/ @pwolf-harness @hitesharinga @dewan-ahmed
/release-notes/code-repository.md @pwolf-harness @hitesharinga @dewan-ahmed
/src/components/Roadmap/data/codeData.ts @pwolf-harness @hitesharinga @dewan-ahmed
/src/components/Docs/data/codeRepositoryData.tsx @pwolf-harness @hitesharinga @dewan-ahmed

# STO Docs
/docs/security-testing-orchestration/ @tejakummarikuntla @priteshchandaliya
/docs/faqs/security-testing-orchestration/ @tejakummarikuntla @priteshchandaliya
/release-notes/security-testing-orchestration.md @tejakummarikuntla @priteshchandaliya
/src/components/Roadmap/data/stoData.ts @tejakummarikuntla @priteshchandaliya
/src/components/Docs/data/securityTestingOrchestrationData.ts @tejakummarikuntla @priteshchandaliya
# STO FAQs
/docs/faqs/security-testing-orchestration/ @tejakummarikuntla

# CCM Docs
/docs/cloud-cost-management/ @navaneeth @Rohit-Kaliki @joeyouss @nikunj-badjatya @raviyadalam @iamanmolm @sdsingh07 @sandyydk @abhinavsingh-ccm
/release-notes/cloud-cost-management.md @raviyadalam
/src/components/Roadmap/data/ccmData.ts @navaneeth @Rohit-Kaliki @joeyouss
/src/components/Docs/data/cloudCostManagementData.ts @navaneeth @Rohit-Kaliki @joeyouss
# FirstGen CCM Docs
/docs/category/cloud-cost-management/ @navaneeth @Rohit-Kaliki @joeyouss
# CCM FAQs
/docs/faqs/cloud-cost-management-faqs/ @navaneeth @Rohit-Kaliki @joeyouss

# CET Docs
/docs/continuous-error-tracking/ @M-Tsur
/release-notes/continuous-error-tracking.md @M-Tsur
/src/components/Docs/data/cloudCostManagementData.ts @M-Tsur

# SRM Docs
/docs/service-reliability-management/ @sunilgupta-harness @umamukkara
/release-notes/service-reliability-management.md @sunilgupta-harness @umamukkara
/src/components/Roadmap/data/srmData.ts @sunilgupta-harness
/src/components/Docs/data/serviceReliabilityManagementData.ts @sunilgupta-harness

# Chaos Docs
/docs/chaos-engineering/ @neelanjan00 @SmritiSatya @shovanmaity @Jonsy13 @Saranya-jena @Adarshkumar14 @ispeakc0de @amityt @uditgaurav @S-ayanide @vanshBhatia-A4k9 @ksatchit @umamukkara
/release-notes/chaos-engineering.md @neelanjan00 @SmritiSatya @Jonsy13
/src/components/Roadmap/data/ceData.ts @krishi0408 @neelanjan00 @SmritiSatya @vishal-av @SushrutHarness
/src/components/Docs/data/chaosEngineeringData* @krishi0408 @neelanjan00 @SmritiSatya @vishal-av @SushrutHarness
# Chaos FAQs
/kb/chaos-engineering/chaos-engineering-faq @neelanjan00 @SmritiSatya @ksatchit @umamukkara

# Platform Docs
/docs/platform/ @pratmit @krishi0408 @GokulBansal0 @abhishekharness @ivikramsahu
/release-notes/delegate.md @pratmit @abhishekharness @anshul-harness @ivikramsahu
/release-notes/platform.md @pratmit @GokulBansal0 @abhishekharness @ivikramsahu
/release-notes/self-managed-enterprise-edition.md @pratmit @abhishekharness @ivikramsahu
/src/components/Roadmap/data/platformData.ts @pratmit @abhishekharness @ivikramsahu
/src/components/Docs/data/platformData.ts @pratmit @abhishekharness @ivikramsahu
# FirtGen Platform Docs
/docs/category/platform-firstgen/ @pratmit @abhishekharness @ivikramsahu
# FirstGen SMP Docs
/docs/category/self-managed-enterprise-edition-fg/ @pratmit @abhishekharness @ivikramsahu
/docs/self-managed-enterprise-edition/ @pratmit @abhishekharness @ivikramsahu
# Delegate FAQs
/docs/faqs/harness-delegate-faqs/ @pratmit @abhishekharness @ivikramsahu
# SMP FAQs
/docs/faqs/self-managed-ee-faq/ @pratmit @abhishekharness @ivikramsahu

# Pipeline Docs
/docs/platform/pipelines/ @krishi0408 @vishal-av @SudarshanPurohit
/docs/platform/git-experience/ @krishi0408 @vishal-av @prasadsatamharness
/docs/platform/templates/ @krishi0408 @vishal-av @SudarshanPurohit
/docs/platform/variables-and-expressions/ @krishi0408 @vishal-av @SudarshanPurohit
/docs/platform/triggers/ @krishi0408 @vishal-av @SudarshanPurohit
/docs/platform/approvals/ @krishi0408 @vishal-av 
/docs/platform/connectors/ @krishi0408 @vishal-av

# IDP Docs
/docs/internal-developer-portal/ @Debanitrkl @OrkoHunter @manishas
/release-notes/internal-developer-portal.md @Debanitrkl @OrkoHunter @manishas
/src/components/Roadmap/data/idpData.ts @Debanitrkl @OrkoHunter @manishas
/src/components/Docs/data/internalDeveloperPortal.ts @Debanitrkl @OrkoHunter @manishas

# SCS Docs
/docs/software-supply-chain-assurance/ @sunilgupta-harness @tejakummarikuntla @pranay-harness
/release-notes/software-supply-chain-assurance.md @sunilgupta-harness @tejakummarikuntla @pranay-harness
/src/components/Roadmap/data/sscaData.ts @sunilgupta-harness @tejakummarikuntla @pranay-harness
/src/components/Docs/data/softwareSupplyChainAssuranceData.tsx @sunilgupta-harness @tejakummarikuntla @pranay-harness

# IACM Docs
/docs/infra-as-code-management/ @RickCraig @richardblack-Harness @allofthesepeople @scottyw-harness @nassergonzalez
/src/components/Roadmap/data/iacmData.ts @RickCraig @richardblack-Harness
/src/components/Docs/data/iacmData.ts @RickCraig @richardblack-Harness

# FF Docs
/docs/feature-flags/ @HarnessTheChaos @jenniferopal @laura-mannus @Kira-Jennings @laura135
/release-notes/feature-flags.md @HarnessTheChaos @jenniferopal
/src/components/Roadmap/data/ffData.ts @HarnessTheChaos @jenniferopal
/src/components/Docs/data/featureFlagsData.ts @HarnessTheChaos @jenniferopal
# FF FAQs
/docs/faqs/harness-feature-flag-faqs/ @HarnessTheChaos @jenniferopal

# SEI Docs
/docs/software-engineering-insights/ @codewdhruv @batraprashant
/release-notes/software-engineering-insights.md @codewdhruv @batraprashant
/src/components/Roadmap/data/seiData.ts @codewdhruv
/src/components/Docs/data/softwareEngineeringInsightsData.ts @codewdhruv

# DB DevOps Docs
/docs/database-devops/ @jenniferopal @stephenatwell @HarnessTheChaos @archit-harness @anshul-harness
/release-notes/database-devops.md @stephenatwell @jenniferopal @HarnessTheChaos @archit-harness @anshul-harness
/src/components/Docs/data/databaseDevOpsData.ts @stephenatwell @jenniferopal @HarnessTheChaos @archit-harness @anshul-harness
# DB DevOps FAQs
/docs/faqs/db-devops-faqs/ @jenniferopal @stephenatwell @HarnessTheChaos @archit-harness @anshul-harness

# CDE Docs
/docs/cloud-development-environments/ @manishas @khushisharmaharness
/src/components/Docs/data/cloudDevelopmentEnvironmentData.ts @manishas @khushisharmaharness

# AI QA Assistant Docs
/docs/ai-qa-assistant/ 

# Artifact Registry Docs
/docs/artifact-registry/ @shankaranandh @shivagowda @richardblack-Harness
/src/components/Docs/data/artifactRegistryData.ts @shankaranandh @shivagowda @richardblack-Harness

#FME Docs
/src/components/Roadmap/data/fmeData.ts @dtk-DaveKarow @kleinjoshuaa @deej-split

# Open Source Docs
/docs/open-source/ @dewan-ahmed @rustd @SushrutHarness
/src/components/Docs/data/openSourceData.tsx @dewan-ahmed @rustd @SushrutHarness

# Cloud Operations Docs
/docs/harness-cloud-operations/ @ankit-harness @yogi-harness

# Knowledge Base ###

# Overall KB
/kb/ @deepanshuHarness @jimin-harness @guna-harness
/src/components/KnowledgeBase/data/ @deepanshuHarness @jimin-harness @guna-harness

#Armory KB
/kb/armory @okosun-j @jimin-harness @deepanshuHarness @guna-harness

#RA
/kb/reference-architectures/ @rssnyder @suranc @jimin-harness @deepanshuHarness @guna-harness

# DB DevOps
/kb/database-devops/ @jenniferopal @stephenatwell @HarnessTheChaos @archit-harness @anshul-harness

#Reference Architectures
/kb/reference-architectures @RajiKoppala @rssnyder
