Repository harness/developer-hub, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ravilach, @wei-harness, @Ompragash, @krishi0408, @roshnisarangadharan, @SushrutHarness, @nofarblue, @rustd, @pwolf-harness, @hitesharinga, @douglas-j-bothwell, @rdsoze, @navaneeth, @Rohit-Kaliki, @joeyouss, @nikunj-badjatya, @M-Tsur, @sunilgupta-harness, @neelanjan00, @SmritiSatya, @brian-f-harness, @harishkammanahalli, @saifeemustafaqharness, @Debanitrkl, @tejakummarikuntla, @RickCraig, @richardblack-Harness, @HarnessTheChaos, @jenniferopal, @ankit-harness, @codewdhruv, @deepanshuHarness

Update release-notes/continuous-delivery.md
  release-notes/continuous-delivery.md
Owners: @krishi0408, @SushrutHarness, @roshnisarangadharan

IAC-2044 Update bullet points
  docs/infra-as-code-management/workspaces/project-setup/opa-workspace.md
Owners: @RickCraig, @richardblack-Harness

add may performance report
  docs/self-managed-enterprise-edition/performance-reports.md
Owners: @ravilach, @wei-harness

IAC-2044 Update default tab
  docs/infra-as-code-management/workspaces/project-setup/opa-workspace.md
Owners: @RickCraig, @richardblack-Harness

IAC-2044 PR review updates
  docs/infra-as-code-management/workspaces/project-setup/opa-workspace.md
Owners: @RickCraig, @richardblack-Harness

IAC-2044 Update bulleted list
  docs/infra-as-code-management/workspaces/project-setup/opa-workspace.md
Owners: @RickCraig, @richardblack-Harness

Update docs/self-managed-enterprise-edition/performance-reports.md
  docs/self-managed-enterprise-edition/performance-reports.md
Owners: @ravilach, @wei-harness

SMP performance test reports - minor cleanup
  docs/self-managed-enterprise-edition/performance-reports.md
Owners: @ravilach, @wei-harness

Update performance-reports.md
  docs/self-managed-enterprise-edition/performance-reports.md
Owners: @ravilach, @wei-harness

chaos v2
  docs/chaos-engineering/features/chaos-dashboard/_category_.json
  docs/chaos-engineering/features/chaos-hubs/_category_.json
  docs/chaos-engineering/features/chaos-infrastructure/_category_.json
  docs/chaos-engineering/features/chaos-v2/_category_.json
  docs/chaos-engineering/features/chaos-v2/chaos-v2.md
  docs/chaos-engineering/features/chaos-v2/permissions.md
  docs/chaos-engineering/features/chaos-v2/static/ddci-flow.png
  docs/chaos-engineering/features/chaos-v2/static/elaborate.png
  docs/chaos-engineering/features/chaos-v2/static/exp-rec.png
  docs/chaos-engineering/features/chaos-v2/static/flow-v2.png
  docs/chaos-engineering/features/chaosguard/_category_.json
  docs/chaos-engineering/features/experiments/_category_.json
  docs/chaos-engineering/features/gameday/_category_.json
  docs/chaos-engineering/features/image-registry.md
  docs/chaos-engineering/features/network-maps/_category_.json
  docs/chaos-engineering/features/probes/_category_.json
  docs/chaos-engineering/features/resilience-probes/_category_.json
  docs/chaos-engineering/features/service-discovery/_category_.json
Owners: @neelanjan00, @SmritiSatya

grammar
  docs/chaos-engineering/features/chaos-v2/chaos-v2.md
Owners: @neelanjan00, @SmritiSatya

Update roadmapData.ts
  src/components/Roadmap/data/roadmapData.ts
Owners: @ravilach, @wei-harness

add note about FF
  docs/continuous-integration/development-guides/mobile/e2e-ios-tutorial.md
Owners: @nofarblue, @rustd

copy edits
  kb/platform/pipeline-faq.md
Owners: @saifeemustafaqharness, @brian-f-harness

[PL-51729] PL 1.41.xx Release Notes
  release-notes/platform.md
Owners: @brian-f-harness, @harishkammanahalli, @saifeemustafaqharness

removing tickets
  release-notes/platform.md
Owners: @brian-f-harness, @harishkammanahalli, @saifeemustafaqharness

[PL-51736] Delegate 83200 Release Notes
  release-notes/delegate.md
Owners: @brian-f-harness, @harishkammanahalli

mobile changes and ios tutorial (#6321)
  docs/continuous-integration/development-guides/mobile/_category_.json
  docs/continuous-integration/development-guides/mobile/android.md
  docs/continuous-integration/development-guides/mobile/e2e-ios-tutorial.md
  docs/continuous-integration/development-guides/mobile/ios.md
  docs/continuous-integration/development-guides/mobile/mobile-dev-with-ci.md
  docs/continuous-integration/development-guides/mobile/static/appicons.png
  docs/continuous-integration/development-guides/mobile/static/buildstage.png
  docs/continuous-integration/development-guides/mobile/static/securitystage.png
  docs/continuous-integration/development-guides/mobile/static/simulator.png
Owners: @nofarblue, @rustd

tweaks/updates STO-7668
  docs/security-testing-orchestration/sto-techref-category/shared/step_palette/image/_access-token.md
  docs/security-testing-orchestration/sto-techref-category/wiz/artifact-scans-with-wiz.md
  docs/security-testing-orchestration/sto-techref-category/wiz/iac-scans-with-wiz.md
  docs/security-testing-orchestration/sto-techref-category/wiz/repo-scans-with-wiz.md
Owners: @douglas-j-bothwell

update STO-7634 description STO-7649
  release-notes/security-testing-orchestration.md
Owners: @douglas-j-bothwell

Updated Exam FAQ
  university/faqs.md
Owners: @ravilach

update ci arch diagram
  docs/continuous-integration/get-started/static/ci-concepts-10.png
Owners: @nofarblue, @rustd

1.97 relnotes v2 draft STO-7649
  docs/security-testing-orchestration/sto-techref-category/semgrep/semgrep-scanner-reference.md
  release-notes/security-testing-orchestration.md
Owners: @douglas-j-bothwell

hide STO-7599 from relnotes, update Semgrep supported rulesets STO7649
  docs/security-testing-orchestration/sto-techref-category/semgrep/semgrep-scanner-reference.md
Owners: @douglas-j-bothwell

wiz scanner ref updates STO-7668
  docs/security-testing-orchestration/sto-techref-category/wiz/_category_.json
  docs/security-testing-orchestration/sto-techref-category/wiz/iac-scans-with-wiz.md
  docs/security-testing-orchestration/sto-techref-category/wiz/repo-scans-with-wiz.md
Owners: @douglas-j-bothwell

wiz iacm updates STO-7668
  docs/security-testing-orchestration/sto-techref-category/shared/dind-bg-step-setup.md
  docs/security-testing-orchestration/sto-techref-category/wiz/artifact-scans-with-wiz.md
  docs/security-testing-orchestration/sto-techref-category/wiz/iac-scans-with-wiz.md
  docs/security-testing-orchestration/sto-techref-category/wiz/repo-scans-with-wiz.md
Owners: @douglas-j-bothwell

update CI arch diagram
  docs/continuous-integration/get-started/static/ci-concepts-10.png
Owners: @nofarblue, @rustd

move harness cloud build infra
  docs/continuous-integration/get-started/static/ci-concepts-10.png
Owners: @nofarblue, @rustd

adjust fill
  docs/continuous-integration/get-started/static/ci-concepts-10.png
Owners: @nofarblue, @rustd

update v2
  docs/chaos-engineering/onboarding/chaos-v2/_category_.json
  docs/chaos-engineering/onboarding/chaos-v2/chaos-v2.md
  docs/chaos-engineering/onboarding/chaos-v2/permissions.md
  docs/chaos-engineering/onboarding/chaos-v2/static/ddci-flow.png
  docs/chaos-engineering/onboarding/chaos-v2/static/elaborate.png
  docs/chaos-engineering/onboarding/chaos-v2/static/exp-rec.png
  docs/chaos-engineering/onboarding/chaos-v2/static/flow-v2.png
  docs/chaos-engineering/onboarding/chaos-v2/static/v1-exp.png
  docs/chaos-engineering/onboarding/chaos-v2/static/v1-tunables.png
  docs/chaos-engineering/onboarding/chaos-v2/static/v2-exp.png
  docs/chaos-engineering/onboarding/chaos-v2/static/v2-tunables.png
  docs/chaos-engineering/onboarding/guided-onboarding.md
  docs/chaos-engineering/onboarding/hce-onboarding.md
  docs/chaos-engineering/onboarding/single-click-onboarding.md
Owners: @neelanjan00, @SmritiSatya

change v2 to harness infrastructure
  docs/chaos-engineering/onboarding/chaos-v2/_category_.json
  docs/chaos-engineering/onboarding/guided-onboarding.md
  docs/chaos-engineering/onboarding/harness-infra/_category_.json
  docs/chaos-engineering/onboarding/harness-infra/harness-infra.md
  docs/chaos-engineering/onboarding/harness-infra/permissions.md
  docs/chaos-engineering/onboarding/harness-infra/static/ddci-flow.png
  docs/chaos-engineering/onboarding/harness-infra/static/elaborate.png
  docs/chaos-engineering/onboarding/harness-infra/static/exp-rec.png
  docs/chaos-engineering/onboarding/harness-infra/static/flow-v2.png
  docs/chaos-engineering/onboarding/harness-infra/static/v1-exp.png
  docs/chaos-engineering/onboarding/harness-infra/static/v1-tunables.png
  docs/chaos-engineering/onboarding/harness-infra/static/v2-exp.png
  docs/chaos-engineering/onboarding/harness-infra/static/v2-tunables.png
  docs/chaos-engineering/onboarding/hce-onboarding.md
  docs/chaos-engineering/onboarding/single-click-onboarding.md
Owners: @neelanjan00, @SmritiSatya

Update harness-infra.md
  docs/chaos-engineering/onboarding/harness-infra/harness-infra.md
Owners: @neelanjan00, @SmritiSatya

Apply suggestions from code review
  release-notes/delegate.md
Owners: @brian-f-harness, @harishkammanahalli

Apply suggestions from code review
  release-notes/platform.md
Owners: @brian-f-harness, @harishkammanahalli, @saifeemustafaqharness

Update platform.md
  release-notes/platform.md
Owners: @brian-f-harness, @harishkammanahalli, @saifeemustafaqharness

edit in PL-50663
  release-notes/platform.md
Owners: @brian-f-harness, @harishkammanahalli, @saifeemustafaqharness

Paraphrase limitations in ssca-supported.md
  docs/software-supply-chain-assurance/shared/ssca-supported.md
Owners: @sunilgupta-harness, @tejakummarikuntla

fix broken links
  docs/chaos-engineering/onboarding/guided-onboarding.md
  docs/chaos-engineering/onboarding/harness-infra/harness-infra.md
  docs/chaos-engineering/onboarding/hce-onboarding.md
  docs/chaos-engineering/onboarding/single-click-onboarding.md
Owners: @neelanjan00, @SmritiSatya

add changes
  docs/platform/pipelines/input-data-preprocessing.md
  docs/platform/pipelines/static/raw_mode_setting_account.png
Owners: @brian-f-harness, @harishkammanahalli, @saifeemustafaqharness

Add Product Roadmap in CCM
  docs/cloud-cost-management/CCMRoadmap.tsx
  docs/cloud-cost-management/ccm-roadmap.md
  docs/cloud-cost-management/roadmapData.ts
Owners: @rdsoze, @navaneeth, @Rohit-Kaliki, @joeyouss, @nikunj-badjatya

.github/CODEOWNERS:

# HDH Codeowners file.
# Created October 2023 - https://harness.atlassian.net/browse/HDH-189
# Applies to Repository Structure, not URL per-se.
# Learn more at: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global Owners of the HDH Repository
*       @ravilach @wei-harness

# Configuration Files in DS are JS.
*.js    @wei-harness

# Changes to Lock File
*.lock  @wei-harness

# Contributing
CONTRIBUTING.md @ravilach
README.md @ravilach
/docs/hdh/ @ravilach

# Certification
/university/ @ravilach

# Community
/community/ @Ompragash

# Redirect Archives
/archive/  @ravilach @wei-harness

# Documentation ###

# Continuous Delivery Docs
/docs/continuous-delivery/ @krishi0408 @roshnisarangadharan @SushrutHarness

# Continuous Integration Docs
/docs/continuous-integration/ @nofarblue @rustd

# CODE Docs
/docs/code-repository/ @pwolf-harness @hitesharinga

# STO Docs
/docs/security-testing-orchestration/ @douglas-j-bothwell
/docs/faqs/security-testing-orchestration/ @douglas-j-bothwell

# CCM Docs
/docs/cloud-cost-management/ @rdsoze @navaneeth @Rohit-Kaliki @joeyouss @nikunj-badjatya

# CET Docs
/docs/continuous-error-tracking/ @M-Tsur

# SRM Docs
/docs/service-reliability-management/ @sunilgupta-harness

# Chaos Docs
/docs/chaos-engineering/ @neelanjan00 @SmritiSatya

# Platform Docs
/docs/platform/ @brian-f-harness @harishkammanahalli @saifeemustafaqharness

# IDP Docs
/docs/internal-developer-portal/ @Debanitrkl

# SSCA Docs
/docs/software-supply-chain-assurance/ @sunilgupta-harness @tejakummarikuntla

# IACMS Docs
/docs/infra-as-code-management/ @RickCraig @richardblack-Harness

# FF Docs
/docs/feature-flags/ @HarnessTheChaos @jenniferopal

# Cloud Operations Docs
/docs/harness-cloud-operations/ @ankit-harness

# SEI Docs
/docs/software-engineering-insights/ @codewdhruv

# FirstGen Docs ###

# CD Docs
/docs/category/continuous-delivery/ @krishi0408 @SushrutHarness @roshnisarangadharan

# Platform Docs
/docs/category/platform-firstgen/ @brian-f-harness @harishkammanahalli @saifeemustafaqharness

# SMP Docs
/docs/category/self-managed-enterprise-edition-fg/ @brian-f-harness @harishkammanahalli @saifeemustafaqharness

# CCM Docs
/docs/category/cloud-cost-management/ @rdsoze @navaneeth @Rohit-Kaliki @joeyouss

# FAQ Docs ###

# CD FAQs
/docs/faqs/continuous-delivery-faqs @krishi0408 @SushrutHarness @roshnisarangadharan

# FF FAQs
/docs/faqs/harness-feature-flag-faqs/ @HarnessTheChaos @jenniferopal

# CCM FAQs
/docs/faqs/cloud-cost-management-faqs/ @rdsoze @navaneeth @Rohit-Kaliki @joeyouss

# STO FAQs
/docs/faqs/security-testing-orchestration/ @douglas-j-bothwell

# Chaos FAQs
/docs/faqs/chaos-engineering-faq/ @neelanjan00 @SmritiSatya

# Delegate FAQs
/docs/faqs/harness-delegate-faqs/ @brian-f-harness @harishkammanahalli

# GitEx FAQs
/docs/faqs/git-exp-vs-config-as-code/ @krishi0408 @SushrutHarness @roshnisarangadharan

# SMP FAQs
/docs/faqs/self-managed-ee-faq/ @brian-f-harness @harishkammanahalli @saifeemustafaqharness

# Release Notes ###

# CD Release Notes
/release-notes/continuous-delivery.md @krishi0408 @SushrutHarness @roshnisarangadharan

# CCM Release Notes
/release-notes/cloud-cost-management.md @rdsoze

# CE Release Notes
/release-notes/chaos-engineering.md @neelanjan00 @SmritiSatya

# CET Release Notes
/release-notes/continuous-error-tracking.md @M-Tsur

# CI Release Notes
/release-notes/continuous-integration.md @nofarblue @rustd

# CODE Release Notes
/release-notes/code-repository.md @pwolf-harness @hitesharinga

# Delegate Release Notes
/release-notes/delegate.md @brian-f-harness @harishkammanahalli

# FF Release Notes
/release-notes/feature-flags.md @HarnessTheChaos @jenniferopal

# IDP Release Notes
/release-notes/internal-developer-portal.md @Debanitrkl

# Platform Release Notes
/release-notes/platform.md @brian-f-harness @harishkammanahalli @saifeemustafaqharness

# SEI Release Notes
/release-notes/software-engineering-insights.md @codewdhruv

# STO Release Notes
/release-notes/security-testing-orchestration.md @douglas-j-bothwell

# SMP
/release-notes/self-managed-enterprise-edition.md @brian-f-harness @harishkammanahalli @saifeemustafaqharness

# SRM Release Notes
/release-notes/service-reliability-management.md @sunilgupta-harness

# SSCA Release Notes
/release-notes/service-reliability-management.md @sunilgupta-harness @tejakummarikuntla

# Knowledge Base ###

# Overall KB
/kb/ @deepanshuHarness

# CI KB
/kb/continuous-integration/ @nofarblue @rustd @deepanshuHarness

# CD KB
/kb/continuous-delivery/ @krishi0408 @SushrutHarness @roshnisarangadharan

#Platform KB
/kb/platform/ @saifeemustafaqharness @brian-f-harness

#FF KB
/kb/feature-flags/ @HarnessTheChaos @jenniferopal

#CCM KB
/kb/cloud-cost-management/ @rdsoze @navaneeth @Rohit-Kaliki @joeyouss

#SRM KB
/kb/service-reliability-management/ @sunilgupta-harness

#CE KB
/kb/chaos-engineering/ @neelanjan00 @SmritiSatya

#CET KB
/kb/continuous-error-tracking/ @M-Tsur

#STO KB
/kb/security-testing-orchestration/ @douglas-j-bothwell

# Roadmap ###

#CCM Roadmap
src/components/Roadmap/data/ccmData.ts @rdsoze @navaneeth @Rohit-Kaliki @joeyouss

#CD Roadmap
src/components/Roadmap/data/cdData.ts @krishi0408 @SushrutHarness @roshnisarangadharan

#CE Roadmap
src/components/Roadmap/data/cdData.ts @krishi0408 @neelanjan00 @SmritiSatya

#CI Roadmap
src/components/Roadmap/data/ciData.ts @nofarblue @rustd

#Code Roadmap
src/components/Roadmap/data/codeData.ts @pwolf-harness @hitesharinga

#FF Roadmap
src/components/Roadmap/data/ffData.ts @HarnessTheChaos @jenniferopal

#IACM Roadmap
src/components/Roadmap/data/iacmData.ts @RickCraig @richardblack-Harness

#IDP Roadmap
src/components/Roadmap/data/idpData.ts @Debanitrkl

#Platform Roadmap
src/components/Roadmap/data/idpData.ts @brian-f-harness

#SEI Roadmap
src/components/Roadmap/data/seiData.ts @codewdhruv

#SRM Roadmap
src/components/Roadmap/data/srmData.ts @sunilgupta-harness

#SSCA Roadmap
src/components/Roadmap/data/sscaData.ts @sunilgupta-harness @tejakummarikuntla

#STO Roadmap
src/components/Roadmap/data/stoData.ts @douglas-j-bothwell
