Repository harness/developer-hub, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ravilach, @wei-harness, @Ompragash, @krishi0408, @roshnisarangadharan, @SushrutHarness, @nofarblue, @rustd, @pwolf-harness, @hitesharinga, @douglas-j-bothwell, @rdsoze, @navaneeth, @Rohit-Kaliki, @joeyouss, @nikunj-badjatya, @M-Tsur, @sunilgupta-harness, @neelanjan00, @SmritiSatya, @brian-f-harness, @harishkammanahalli, @saifeemustafaqharness, @Debanitrkl, @tejakummarikuntla, @RickCraig, @richardblack-Harness, @HarnessTheChaos, @jenniferopal, @ankit-harness, @codewdhruv, @deepanshuHarness

.github/CODEOWNERS:

# HDH Codeowners file.
# Created October 2023 - https://harness.atlassian.net/browse/HDH-189
# Applies to Repository Structure, not URL per-se.
# Learn more at: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global Owners of the HDH Repository
*       @ravilach @wei-harness

# Configuration Files in DS are JS.
*.js    @wei-harness

# Changes to Lock File
*.lock  @wei-harness

# Contributing
CONTRIBUTING.md @ravilach
README.md @ravilach
/docs/hdh/ @ravilach

# Certification
/university/ @ravilach

# Community
/community/ @Ompragash

# Redirect Archives
/archive/  @ravilach @wei-harness

# Documentation ###

# Continuous Delivery Docs
/docs/continuous-delivery/ @krishi0408 @roshnisarangadharan @SushrutHarness

# Continuous Integration Docs
/docs/continuous-integration/ @nofarblue @rustd

# CODE Docs
/docs/code-repository/ @pwolf-harness @hitesharinga

# STO Docs
/docs/security-testing-orchestration/ @douglas-j-bothwell
/docs/faqs/security-testing-orchestration/ @douglas-j-bothwell

# CCM Docs
/docs/cloud-cost-management/ @rdsoze @navaneeth @Rohit-Kaliki @joeyouss @nikunj-badjatya

# CET Docs
/docs/continuous-error-tracking/ @M-Tsur

# SRM Docs
/docs/service-reliability-management/ @sunilgupta-harness

# Chaos Docs
/docs/chaos-engineering/ @neelanjan00 @SmritiSatya

# Platform Docs
/docs/platform/ @brian-f-harness @harishkammanahalli @saifeemustafaqharness

# IDP Docs
/docs/internal-developer-portal/ @Debanitrkl

# SSCA Docs
/docs/software-supply-chain-assurance/ @sunilgupta-harness @tejakummarikuntla

# IACMS Docs
/docs/infra-as-code-management/ @RickCraig @richardblack-Harness

# FF Docs
/docs/feature-flags/ @HarnessTheChaos @jenniferopal

# Cloud Operations Docs
/docs/harness-cloud-operations/ @ankit-harness

# SEI Docs
/docs/software-engineering-insights/ @codewdhruv

# FirstGen Docs ###

# CD Docs
/docs/category/continuous-delivery/ @krishi0408 @SushrutHarness @roshnisarangadharan

# Platform Docs
/docs/category/platform-firstgen/ @brian-f-harness @harishkammanahalli @saifeemustafaqharness

# SMP Docs
/docs/category/self-managed-enterprise-edition-fg/ @brian-f-harness @harishkammanahalli @saifeemustafaqharness

# CCM Docs
/docs/category/cloud-cost-management/ @rdsoze @navaneeth @Rohit-Kaliki @joeyouss

# FAQ Docs ###

# CD FAQs
/docs/faqs/continuous-delivery-faqs @krishi0408 @SushrutHarness @roshnisarangadharan

# FF FAQs
/docs/faqs/harness-feature-flag-faqs/ @HarnessTheChaos @jenniferopal

# CCM FAQs
/docs/faqs/cloud-cost-management-faqs/ @rdsoze @navaneeth @Rohit-Kaliki @joeyouss

# STO FAQs
/docs/faqs/security-testing-orchestration/ @douglas-j-bothwell

# Chaos FAQs
/docs/faqs/chaos-engineering-faq/ @neelanjan00 @SmritiSatya

# Delegate FAQs
/docs/faqs/harness-delegate-faqs/ @brian-f-harness @harishkammanahalli

# GitEx FAQs
/docs/faqs/git-exp-vs-config-as-code/ @krishi0408 @SushrutHarness @roshnisarangadharan

# SMP FAQs
/docs/faqs/self-managed-ee-faq/ @brian-f-harness @harishkammanahalli @saifeemustafaqharness

# Release Notes ###

# CD Release Notes
/release-notes/continuous-delivery.md @krishi0408 @SushrutHarness @roshnisarangadharan

# CCM Release Notes
/release-notes/cloud-cost-management.md @rdsoze

# CE Release Notes
/release-notes/chaos-engineering.md @neelanjan00 @SmritiSatya

# CET Release Notes
/release-notes/continuous-error-tracking.md @M-Tsur

# CI Release Notes
/release-notes/continuous-integration.md @nofarblue @rustd

# CODE Release Notes
/release-notes/code-repository.md @pwolf-harness @hitesharinga

# Delegate Release Notes
/release-notes/delegate.md @brian-f-harness @harishkammanahalli

# FF Release Notes
/release-notes/feature-flags.md @HarnessTheChaos @jenniferopal

# IDP Release Notes
/release-notes/internal-developer-portal.md @Debanitrkl

# Platform Release Notes
/release-notes/platform.md @brian-f-harness @harishkammanahalli @saifeemustafaqharness

# SEI Release Notes
/release-notes/software-engineering-insights.md @codewdhruv

# STO Release Notes
/release-notes/security-testing-orchestration.md @douglas-j-bothwell

# SMP
/release-notes/self-managed-enterprise-edition.md @brian-f-harness @harishkammanahalli @saifeemustafaqharness

# SRM Release Notes
/release-notes/service-reliability-management.md @sunilgupta-harness

# SSCA Release Notes
/release-notes/service-reliability-management.md @sunilgupta-harness @tejakummarikuntla

# Knowledge Base ###

# Overall KB
/kb/ @deepanshuHarness

# CI KB
/kb/continuous-integration/ @nofarblue @rustd @deepanshuHarness

# CD KB
/kb/continuous-delivery/ @krishi0408 @SushrutHarness @roshnisarangadharan

#Platform KB
/kb/platform/ @saifeemustafaqharness @brian-f-harness

#FF KB
/kb/feature-flags/ @HarnessTheChaos @jenniferopal

#CCM KB
/kb/cloud-cost-management/ @rdsoze @navaneeth @Rohit-Kaliki @joeyouss

#SRM KB
/kb/service-reliability-management/ @sunilgupta-harness

#CE KB
/kb/chaos-engineering/ @neelanjan00 @SmritiSatya

#CET KB
/kb/continuous-error-tracking/ @M-Tsur

#STO KB
/kb/security-testing-orchestration/ @douglas-j-bothwell

# Roadmap ###

#CCM Roadmap
src/components/Roadmap/data/ccmData.ts @rdsoze @navaneeth @Rohit-Kaliki @joeyouss

#CD Roadmap
src/components/Roadmap/data/cdData.ts @krishi0408 @SushrutHarness @roshnisarangadharan

#CE Roadmap
src/components/Roadmap/data/cdData.ts @krishi0408 @neelanjan00 @SmritiSatya

#CI Roadmap
src/components/Roadmap/data/ciData.ts @nofarblue @rustd

#Code Roadmap
src/components/Roadmap/data/codeData.ts @pwolf-harness @hitesharinga

#FF Roadmap
src/components/Roadmap/data/ffData.ts @HarnessTheChaos @jenniferopal

#IACM Roadmap
src/components/Roadmap/data/iacmData.ts @RickCraig @richardblack-Harness

#IDP Roadmap
src/components/Roadmap/data/idpData.ts @Debanitrkl

#Platform Roadmap
src/components/Roadmap/data/idpData.ts @brian-f-harness

#SEI Roadmap
src/components/Roadmap/data/seiData.ts @codewdhruv

#SRM Roadmap
src/components/Roadmap/data/srmData.ts @sunilgupta-harness

#SSCA Roadmap
src/components/Roadmap/data/sscaData.ts @sunilgupta-harness @tejakummarikuntla

#STO Roadmap
src/components/Roadmap/data/stoData.ts @douglas-j-bothwell

add auto to default description in 1.95 relnotes STO-7849
  release-notes/security-testing-orchestration.md
Owners: @douglas-j-bothwell

Apply suggestions from code review
  release-notes/delegate.md
Owners: @brian-f-harness, @harishkammanahalli

Apply suggestions from code review
  release-notes/platform.md
Owners: @brian-f-harness, @harishkammanahalli, @saifeemustafaqharness

Update delegate.md
  release-notes/delegate.md
Owners: @brian-f-harness, @harishkammanahalli

add suggestions
  docs/platform/git-experience/configure-git-experience-for-harness-entities.md
Owners: @brian-f-harness, @harishkammanahalli, @saifeemustafaqharness

Apply suggestions from code review
  docs/platform/delegates/install-delegates/delegate-upgrades-and-expiration.md
Owners: @brian-f-harness, @harishkammanahalli, @saifeemustafaqharness

Update rollback-deployments.md
  docs/continuous-delivery/manage-deployments/rollback-deployments.md
Owners: @krishi0408, @roshnisarangadharan, @SushrutHarness

Update docs/continuous-delivery/manage-deployments/rollback-deployments.md
  docs/continuous-delivery/manage-deployments/rollback-deployments.md
Owners: @krishi0408, @roshnisarangadharan, @SushrutHarness

removed image
  docs/continuous-delivery/manage-deployments/rollback-deployments.md
  docs/continuous-delivery/manage-deployments/static/getinstances.png
Owners: @krishi0408, @roshnisarangadharan, @SushrutHarness

Update docs/continuous-delivery/manage-deployments/rollback-deployments.md
  docs/continuous-delivery/manage-deployments/rollback-deployments.md
Owners: @krishi0408, @roshnisarangadharan, @SushrutHarness

Update rollback-deployments.md
  docs/continuous-delivery/manage-deployments/rollback-deployments.md
Owners: @krishi0408, @roshnisarangadharan, @SushrutHarness

Doc update for CDS-97061- getinstance workaround (#6978)
  docs/continuous-delivery/manage-deployments/rollback-deployments.md
Owners: @krishi0408, @roshnisarangadharan, @SushrutHarness

Update docs/cloud-cost-management/4-use-ccm-cost-optimization/3-Cluster-orchestrator/2-working.md
  docs/cloud-cost-management/4-use-ccm-cost-optimization/3-Cluster-orchestrator/2-working.md
Owners: @rdsoze, @navaneeth, @Rohit-Kaliki, @joeyouss, @nikunj-badjatya

IDP-3037 Added the info on branch name
  docs/internal-developer-portal/scorecards/checks-datasources.md
  docs/internal-developer-portal/scorecards/static/checks-field.png
  docs/internal-developer-portal/scorecards/static/source-location.png
Owners: @Debanitrkl

new additions
  docs/cloud-cost-management/4-use-ccm-cost-optimization/3-Cluster-orchestrator/1-introduction.md
  docs/cloud-cost-management/4-use-ccm-cost-optimization/3-Cluster-orchestrator/2-working.md
  docs/cloud-cost-management/4-use-ccm-cost-optimization/3-Cluster-orchestrator/3-setting_up_CO.md
Owners: @rdsoze, @navaneeth, @Rohit-Kaliki, @joeyouss, @nikunj-badjatya

new additions
  docs/cloud-cost-management/4-use-ccm-cost-optimization/3-Cluster-orchestrator/2-working.md
Owners: @rdsoze, @navaneeth, @Rohit-Kaliki, @joeyouss, @nikunj-badjatya

final changes
  docs/cloud-cost-management/4-use-ccm-cost-optimization/3-Cluster-orchestrator/3-setting_up_CO.md
Owners: @rdsoze, @navaneeth, @Rohit-Kaliki, @joeyouss, @nikunj-badjatya

IDP-3037 Updated according to the reviews
  docs/internal-developer-portal/scorecards/checks-datasources.md
Owners: @Debanitrkl

new draft
  docs/cloud-cost-management/4-use-ccm-cost-optimization/Savings_Computation/Savings_computation.md
Owners: @rdsoze, @navaneeth, @Rohit-Kaliki, @joeyouss, @nikunj-badjatya

sanity check
  docs/cloud-cost-management/4-use-ccm-cost-optimization/3-Cluster-orchestrator/1-introduction.md
Owners: @rdsoze, @navaneeth, @Rohit-Kaliki, @joeyouss, @nikunj-badjatya

added savings computation for autostopping
  docs/cloud-cost-management/4-use-ccm-cost-optimization/Savings_Computation/Savings_computation.md
Owners: @rdsoze, @navaneeth, @Rohit-Kaliki, @joeyouss, @nikunj-badjatya

sautation for cluster orchestrator
  docs/cloud-cost-management/4-use-ccm-cost-optimization/3-Cluster-orchestrator/2-working.md
Owners: @rdsoze, @navaneeth, @Rohit-Kaliki, @joeyouss, @nikunj-badjatya

savings computation for commitment orchestrator
  docs/cloud-cost-management/4-use-ccm-cost-optimization/Commitment-orchestrator/overview.md
Owners: @rdsoze, @navaneeth, @Rohit-Kaliki, @joeyouss, @nikunj-badjatya

comment out STO-7599 from 1.97 relnotes STO-7649
  release-notes/security-testing-orchestration.md
Owners: @douglas-j-bothwell

Apply suggestions from code review
  release-notes/delegate.md
Owners: @brian-f-harness, @harishkammanahalli

tkgi fault injection approach
  docs/chaos-engineering/chaos-faults/aws/aws-iam-integration.md
  docs/chaos-engineering/chaos-faults/aws/ec2-and-serverless-faults.md
  docs/chaos-engineering/chaos-faults/kubernetes/classification.md
  docs/chaos-engineering/chaos-faults/kubernetes/node/_category_.json
  docs/chaos-engineering/chaos-faults/kubernetes/permissions/_category_.json
  docs/chaos-engineering/chaos-faults/kubernetes/permissions/container-permissions.md
  docs/chaos-engineering/chaos-faults/kubernetes/permissions/fault-wise-permission.md
  docs/chaos-engineering/chaos-faults/kubernetes/pod/_category_.json
  docs/chaos-engineering/chaos-faults/kubernetes/security-considerations/_category_.json
  docs/chaos-engineering/chaos-faults/kubernetes/static/cloud-target-6.png
  docs/chaos-engineering/chaos-faults/kubernetes/static/cluster-2.png
  docs/chaos-engineering/chaos-faults/kubernetes/static/control-plane-1.png
  docs/chaos-engineering/chaos-faults/kubernetes/static/dns-chaos-4.png
  docs/chaos-engineering/chaos-faults/kubernetes/static/generic-flow-3.png
  docs/chaos-engineering/chaos-faults/kubernetes/static/ios-stress-5.png
  docs/chaos-engineering/chaos-faults/kubernetes/tkgi-deployment.md
Owners: @neelanjan00, @SmritiSatya

cg vs ng git ex page
  docs/platform/git-experience/cg-vs-ng-git-experience.md
Owners: @brian-f-harness, @harishkammanahalli, @saifeemustafaqharness

adding examples of how to use orbs in steps (#6985)
  docs/continuous-integration/migration-guides/migrating-from-circleci.md
Owners: @nofarblue, @rustd

Update
  docs/chaos-engineering/chaos-faults/kubernetes/classification.md
  docs/chaos-engineering/chaos-faults/kubernetes/permissions/_category_.json
  docs/chaos-engineering/chaos-faults/kubernetes/permissions/fault-wise-permission.md
Owners: @neelanjan00, @SmritiSatya

Update release date in frontmatter
  release-notes/security-testing-orchestration.md
Owners: @douglas-j-bothwell

Add changes to Reference By section
  docs/platform/git-experience/configure-git-experience-for-harness-entities.md
Owners: @brian-f-harness, @harishkammanahalli, @saifeemustafaqharness

IAC-1864 WIP Architecture clickable diagram
  docs/infra-as-code-management/components/interactive_architecture.js
  docs/infra-as-code-management/get-started/iacm-architecture.md
  static/IaCM_Arch.svg
Owners: @RickCraig, @richardblack-Harness, @ravilach, @wei-harness

Apply suggestions from code review
  docs/platform/git-experience/configure-git-experience-for-harness-entities.md
Owners: @brian-f-harness, @harishkammanahalli, @saifeemustafaqharness

Update docs/platform/git-experience/configure-git-experience-for-harness-entities.md
  docs/platform/git-experience/configure-git-experience-for-harness-entities.md
Owners: @brian-f-harness, @harishkammanahalli, @saifeemustafaqharness

Create ansible-step-group.md
  kb/platform/articles/ansible-step-group.md
Owners: @saifeemustafaqharness, @brian-f-harness

Add files via upload
  kb/platform/static/ansible_step_group_clone.png
  kb/platform/static/ansible_step_group_command.png
  kb/platform/static/ansible_step_group_run.png
  kb/platform/static/ansible_step_group_sg.png
Owners: @saifeemustafaqharness, @brian-f-harness

Update ansible-step-group.md
  kb/platform/articles/ansible-step-group.md
Owners: @saifeemustafaqharness, @brian-f-harness

additional info
  docs/cloud-cost-management/get-started/ccm-smp/aws-smp.md
  docs/cloud-cost-management/get-started/ccm-smp/azure-smp.md
  docs/cloud-cost-management/get-started/ccm-smp/gcp-smp.md
Owners: @rdsoze, @navaneeth, @Rohit-Kaliki, @joeyouss, @nikunj-badjatya

add req vars
  kb/platform/articles/ansible-step-group.md
Owners: @saifeemustafaqharness, @brian-f-harness

move to ref arch
  kb/reference-architectures/ansible.md
  kb/reference-architectures/static/ansible_step_group_clone.png
  kb/reference-architectures/static/ansible_step_group_command.png
  kb/reference-architectures/static/ansible_step_group_run.png
  kb/reference-architectures/static/ansible_step_group_sg.png
Owners: @deepanshuHarness
