Repository harness/developer-hub, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pratmit, @wei-harness, @rohanmaharjan100, @ravilach, @Ompragash, @krishi0408, @SushrutHarness, @vishal-av, @pranaykaikini, @prasadsatamharness, @thisrohangupta, @shylajas, @nofarblue, @rustd, @dewan-ahmed, @shivloka-harness, @pwolf-harness, @hitesharinga, @tejakummarikuntla, @priteshchandaliya, @navaneeth, @Rohit-Kaliki, @joeyouss, @nikunj-badjatya, @raviyadalam, @iamanmolm, @sdsingh07, @sandyydk, @abhinavsingh-ccm, @M-Tsur, @sunilgupta-harness, @umamukkara, @neelanjan00, @SmritiSatya, @shovanmaity, @Jonsy13, @Saranya-jena, @Adarshkumar14, @ispeakc0de, @amityt, @uditgaurav, @S-ayanide, @vanshBhatia-A4k9, @ksatchit, @GokulBansal0, @abhishekharness, @ivikramsahu, @anshul-harness, @SudarshanPurohit, @Debanitrkl, @OrkoHunter, @manishas, @pranay-harness, @RickCraig, @richardblack-Harness, @allofthesepeople, @scottyw-harness, @nassergonzalez, @HarnessTheChaos, @jenniferopal, @laura-mannus, @Kira-Jennings, @laura135, @codewdhruv, @batraprashant, @stephenatwell, @archit-harness, @khushisharmaharness, @shankaranandh, @shivagowda, @dtk-DaveKarow, @kleinjoshuaa, @deej-split, @ankit-harness, @yogi-harness, @deepanshuHarness, @jimin-harness, @guna-harness, @okosun-j, @rssnyder, @suranc, @RajiKoppala

.github/CODEOWNERS:

# HDH Codeowners file.
# Created October 2023 - https://harness.atlassian.net/browse/HDH-189
# Applies to Repository Structure, not URL per-se.
# Learn more at: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global Owners of the HDH Repository
*       @pratmit @wei-harness

# Configuration Files in DS are JS.
*.js    @wei-harness @rohanmaharjan100
*.ts    @wei-harness @rohanmaharjan100
*.jsx    @wei-harness @rohanmaharjan100
*.tsx    @wei-harness @rohanmaharjan100

# Changes to Lock File
*.lock  @wei-harness

# Changes to Config Files
*.ini  @wei-harness
*.json  @wei-harness
*.toml  @wei-harness
*ignore @wei-harness
/_server-redirect @wei-harness

# Changes to Netlify Files
/netlify/ @wei-harness

# Contributing
CONTRIBUTING.md @pratmit
README.md @pratmit
/docs/hdh/ @pratmit

# University
/university/ @ravilach
/src/components/HomepageUniversity/ @ravilach
/src/components/University/ @ravilach

# Community
/community/ @Ompragash

# Redirect Archives
/archive/  @pratmit @wei-harness

# Documentation ###

# All Static files (images etc.)
static/  @rohanmaharjan100 @wei-harness

# All Data files - Please add global reviewers who are familiar with js/ts
# data/*.ts @global-data-file-owners

# Continuous Delivery Docs
/docs/continuous-delivery/ @krishi0408 @SushrutHarness @vishal-av @pranaykaikini @prasadsatamharness @thisrohangupta @shylajas
/release-notes/continuous-delivery.md @krishi0408 @SushrutHarness @vishal-av @pranaykaikini @prasadsatamharness @thisrohangupta @shylajas
/src/components/Roadmap/data/cdData.ts @krishi0408 @SushrutHarness @vishal-av @thisrohangupta @shylajas
/src/components/Docs/data/continuousDeliveryData*  @krishi0408 @SushrutHarness @vishal-av @thisrohangupta
# FirstGen CD Docs
/docs/category/continuous-delivery/ @krishi0408 @SushrutHarness @vishal-av @thisrohangupta
# CD FAQs
/docs/faqs/continuous-delivery-faqs @krishi0408 @SushrutHarness @vishal-av
# GitEx FAQs
/docs/faqs/git-exp-vs-config-as-code/ @krishi0408 @SushrutHarness @vishal-av


# Continuous Integration Docs
/docs/continuous-integration/ @nofarblue @rustd @dewan-ahmed @SushrutHarness @shivloka-harness
/release-notes/continuous-integration.md @nofarblue @rustd @dewan-ahmed @SushrutHarness @shivloka-harness
/src/components/Roadmap/data/ciData.ts @nofarblue @rustd @dewan-ahmed @SushrutHarness @shivloka-harness
/src/components/Docs/data/continuousIntegrationData.ts @nofarblue @rustd @dewan-ahmed @SushrutHarness @shivloka-harness

# CODE Docs
/docs/code-repository/ @pwolf-harness @hitesharinga @dewan-ahmed
/release-notes/code-repository.md @pwolf-harness @hitesharinga @dewan-ahmed
/src/components/Roadmap/data/codeData.ts @pwolf-harness @hitesharinga @dewan-ahmed
/src/components/Docs/data/codeRepositoryData.tsx @pwolf-harness @hitesharinga @dewan-ahmed

# STO Docs
/docs/security-testing-orchestration/ @tejakummarikuntla @priteshchandaliya
/docs/faqs/security-testing-orchestration/ @tejakummarikuntla @priteshchandaliya
/release-notes/security-testing-orchestration.md @tejakummarikuntla @priteshchandaliya
/src/components/Roadmap/data/stoData.ts @tejakummarikuntla @priteshchandaliya
/src/components/Docs/data/securityTestingOrchestrationData.ts @tejakummarikuntla @priteshchandaliya
# STO FAQs
/docs/faqs/security-testing-orchestration/ @tejakummarikuntla

# CCM Docs
/docs/cloud-cost-management/ @navaneeth @Rohit-Kaliki @joeyouss @nikunj-badjatya @raviyadalam @iamanmolm @sdsingh07 @sandyydk @abhinavsingh-ccm
/release-notes/cloud-cost-management.md @raviyadalam
/src/components/Roadmap/data/ccmData.ts @navaneeth @Rohit-Kaliki @joeyouss
/src/components/Docs/data/cloudCostManagementData.ts @navaneeth @Rohit-Kaliki @joeyouss
# FirstGen CCM Docs
/docs/category/cloud-cost-management/ @navaneeth @Rohit-Kaliki @joeyouss
# CCM FAQs
/docs/faqs/cloud-cost-management-faqs/ @navaneeth @Rohit-Kaliki @joeyouss

# CET Docs
/docs/continuous-error-tracking/ @M-Tsur
/release-notes/continuous-error-tracking.md @M-Tsur
/src/components/Docs/data/cloudCostManagementData.ts @M-Tsur

# SRM Docs
/docs/service-reliability-management/ @sunilgupta-harness @umamukkara
/release-notes/service-reliability-management.md @sunilgupta-harness @umamukkara
/src/components/Roadmap/data/srmData.ts @sunilgupta-harness
/src/components/Docs/data/serviceReliabilityManagementData.ts @sunilgupta-harness

# Chaos Docs
/docs/chaos-engineering/ @neelanjan00 @SmritiSatya @shovanmaity @Jonsy13 @Saranya-jena @Adarshkumar14 @ispeakc0de @amityt @uditgaurav @S-ayanide @vanshBhatia-A4k9 @ksatchit @umamukkara
/release-notes/chaos-engineering.md @neelanjan00 @SmritiSatya @Jonsy13
/src/components/Roadmap/data/ceData.ts @krishi0408 @neelanjan00 @SmritiSatya @vishal-av @SushrutHarness
/src/components/Docs/data/chaosEngineeringData* @krishi0408 @neelanjan00 @SmritiSatya @vishal-av @SushrutHarness
# Chaos FAQs
/kb/chaos-engineering/chaos-engineering-faq @neelanjan00 @SmritiSatya @ksatchit @umamukkara

# Platform Docs
/docs/platform/ @pratmit @krishi0408 @GokulBansal0 @abhishekharness @ivikramsahu
/release-notes/delegate.md @pratmit @abhishekharness @anshul-harness @ivikramsahu
/release-notes/platform.md @pratmit @GokulBansal0 @abhishekharness @ivikramsahu
/release-notes/self-managed-enterprise-edition.md @pratmit @abhishekharness @ivikramsahu
/src/components/Roadmap/data/platformData.ts @pratmit @abhishekharness @ivikramsahu
/src/components/Docs/data/platformData.ts @pratmit @abhishekharness @ivikramsahu
# FirtGen Platform Docs
/docs/category/platform-firstgen/ @pratmit @abhishekharness @ivikramsahu
# FirstGen SMP Docs
/docs/category/self-managed-enterprise-edition-fg/ @pratmit @abhishekharness @ivikramsahu
/docs/self-managed-enterprise-edition/ @pratmit @abhishekharness @ivikramsahu
# Delegate FAQs
/docs/faqs/harness-delegate-faqs/ @pratmit @abhishekharness @ivikramsahu
# SMP FAQs
/docs/faqs/self-managed-ee-faq/ @pratmit @abhishekharness @ivikramsahu

# Pipeline Docs
/docs/platform/pipelines/ @krishi0408 @vishal-av @SudarshanPurohit
/docs/platform/git-experience/ @krishi0408 @vishal-av @prasadsatamharness
/docs/platform/templates/ @krishi0408 @vishal-av @SudarshanPurohit
/docs/platform/variables-and-expressions/ @krishi0408 @vishal-av @SudarshanPurohit
/docs/platform/triggers/ @krishi0408 @vishal-av @SudarshanPurohit
/docs/platform/approvals/ @krishi0408 @vishal-av 
/docs/platform/connectors/ @krishi0408 @vishal-av

# IDP Docs
/docs/internal-developer-portal/ @Debanitrkl @OrkoHunter @manishas
/release-notes/internal-developer-portal.md @Debanitrkl @OrkoHunter @manishas
/src/components/Roadmap/data/idpData.ts @Debanitrkl @OrkoHunter @manishas
/src/components/Docs/data/internalDeveloperPortal.ts @Debanitrkl @OrkoHunter @manishas

# SCS Docs
/docs/software-supply-chain-assurance/ @sunilgupta-harness @tejakummarikuntla @pranay-harness
/release-notes/software-supply-chain-assurance.md @sunilgupta-harness @tejakummarikuntla @pranay-harness
/src/components/Roadmap/data/sscaData.ts @sunilgupta-harness @tejakummarikuntla @pranay-harness
/src/components/Docs/data/softwareSupplyChainAssuranceData.tsx @sunilgupta-harness @tejakummarikuntla @pranay-harness

# IACM Docs
/docs/infra-as-code-management/ @RickCraig @richardblack-Harness @allofthesepeople @scottyw-harness @nassergonzalez
/src/components/Roadmap/data/iacmData.ts @RickCraig @richardblack-Harness
/src/components/Docs/data/iacmData.ts @RickCraig @richardblack-Harness

# FF Docs
/docs/feature-flags/ @HarnessTheChaos @jenniferopal @laura-mannus @Kira-Jennings @laura135
/release-notes/feature-flags.md @HarnessTheChaos @jenniferopal
/src/components/Roadmap/data/ffData.ts @HarnessTheChaos @jenniferopal
/src/components/Docs/data/featureFlagsData.ts @HarnessTheChaos @jenniferopal
# FF FAQs
/docs/faqs/harness-feature-flag-faqs/ @HarnessTheChaos @jenniferopal

# SEI Docs
/docs/software-engineering-insights/ @codewdhruv @batraprashant
/release-notes/software-engineering-insights.md @codewdhruv @batraprashant
/src/components/Roadmap/data/seiData.ts @codewdhruv
/src/components/Docs/data/softwareEngineeringInsightsData.ts @codewdhruv

# DB DevOps Docs
/docs/database-devops/ @jenniferopal @stephenatwell @HarnessTheChaos @archit-harness @anshul-harness
/release-notes/database-devops.md @stephenatwell @jenniferopal @HarnessTheChaos @archit-harness @anshul-harness
/src/components/Docs/data/databaseDevOpsData.ts @stephenatwell @jenniferopal @HarnessTheChaos @archit-harness @anshul-harness
# DB DevOps FAQs
/docs/faqs/db-devops-faqs/ @jenniferopal @stephenatwell @HarnessTheChaos @archit-harness @anshul-harness

# CDE Docs
/docs/cloud-development-environments/ @manishas @khushisharmaharness
/src/components/Docs/data/cloudDevelopmentEnvironmentData.ts @manishas @khushisharmaharness

# AI QA Assistant Docs
/docs/ai-qa-assistant/ 

# Artifact Registry Docs
/docs/artifact-registry/ @shankaranandh @shivagowda @richardblack-Harness
/src/components/Docs/data/artifactRegistryData.ts @shankaranandh @shivagowda @richardblack-Harness

#FME Docs
/src/components/Roadmap/data/fmeData.ts @dtk-DaveKarow @kleinjoshuaa @deej-split

# Open Source Docs
/docs/open-source/ @dewan-ahmed @rustd @SushrutHarness
/src/components/Docs/data/openSourceData.tsx @dewan-ahmed @rustd @SushrutHarness

# Cloud Operations Docs
/docs/harness-cloud-operations/ @ankit-harness @yogi-harness

# Knowledge Base ###

# Overall KB
/kb/ @deepanshuHarness @jimin-harness @guna-harness
/src/components/KnowledgeBase/data/ @deepanshuHarness @jimin-harness @guna-harness

#Armory KB
/kb/armory @okosun-j @jimin-harness @deepanshuHarness @guna-harness

#RA
/kb/reference-architectures/ @rssnyder @suranc @jimin-harness @deepanshuHarness @guna-harness

# DB DevOps
/kb/database-devops/ @jenniferopal @stephenatwell @HarnessTheChaos @archit-harness @anshul-harness

#Reference Architectures
/kb/reference-architectures @RajiKoppala @rssnyder

Update harness-platform-faqs.md
  kb/platform/harness-platform-faqs.md
Owners: @deepanshuHarness, @jimin-harness, @guna-harness

Update pipeline-faq.md
  kb/platform/pipeline-faq.md
Owners: @deepanshuHarness, @jimin-harness, @guna-harness

HDH 354 remove unused pacakge
  package.json
  yarn.lock
Owners: @wei-harness

FIX : HDH-354-feedback-form-not-opening
  src/components/Feedback/index.tsx
  src/components/NavbarItems/Engine.ts
Owners: @wei-harness, @rohanmaharjan100

Update run-a-terraform-plan-with-the-terraform-apply-step.md
  docs/continuous-delivery/cd-infrastructure/terraform-infra/run-a-terraform-plan-with-the-terraform-apply-step.md
Owners: @krishi0408, @SushrutHarness, @vishal-av, @pranaykaikini, @prasadsatamharness, @thisrohangupta, @shylajas

azure
  docs/cloud-cost-management/5-use-ccm-cost-governance/asset-governance/AWS/2-harness-concepts.md
  docs/cloud-cost-management/5-use-ccm-cost-governance/asset-governance/Azure/2-harness-concepts.md
  docs/cloud-cost-management/5-use-ccm-cost-governance/asset-governance/GCP/2-harness-concepts.md
  docs/cloud-cost-management/5-use-ccm-cost-governance/asset-governance/static/enforcements_aws.png
  docs/cloud-cost-management/5-use-ccm-cost-governance/asset-governance/static/enforcements_azure.png
  docs/cloud-cost-management/5-use-ccm-cost-governance/asset-governance/static/evaluations_azure.png
  docs/cloud-cost-management/5-use-ccm-cost-governance/asset-governance/static/set-up-schedule_azure.png
  docs/cloud-cost-management/5-use-ccm-cost-governance/asset-governance/static/update_and_delete_enforcement.png
  docs/cloud-cost-management/5-use-ccm-cost-governance/asset-governance/static/update_and_delete_ruleSet.png
Owners: @navaneeth, @Rohit-Kaliki, @joeyouss, @nikunj-badjatya, @raviyadalam, @iamanmolm, @sdsingh07, @sandyydk, @abhinavsingh-ccm

FME | Admin & account settings | Set up your account : fix menu item order, add FAQ question
  docs/feature-management-experimentation/30-http-api/index.md
  docs/feature-management-experimentation/70-admin-account-settings/docs/faqs/what-are-the-split-cloud-http-endpoints.md
  docs/feature-management-experimentation/70-admin-account-settings/docs/set-up-your-account/faqs/index.md
  docs/feature-management-experimentation/70-admin-account-settings/docs/set-up-your-account/faqs/what-cookies-are-used-by-split.md
  docs/feature-management-experimentation/70-admin-account-settings/docs/set-up-your-account/scim/_category_.json
  docs/feature-management-experimentation/70-admin-account-settings/docs/set-up-your-account/terminating-sessions/_category_.json
  docs/feature-management-experimentation/70-admin-account-settings/docs/set-up-your-account/two-factor-authentication-2fa.md
Owners: @pratmit, @wei-harness

Update whats supported
  docs/chaos-engineering/whats-supported.md
Owners: @neelanjan00, @SmritiSatya, @shovanmaity, @Jonsy13, @Saranya-jena, @Adarshkumar14, @ispeakc0de, @amityt, @uditgaurav, @S-ayanide, @vanshBhatia-A4k9, @ksatchit, @umamukkara

IR template
  CONTRIBUTING.md
  README.md
  docs/incident-response.md
  docs/incident-response/_category_.json
  docs/incident-response/faqs.md
  docs/incident-response/getting-started/_category_.json
  docs/incident-response/getting-started/getting-started.md
  docs/incident-response/whats-supported.md
  docusaurus.config.ts
  release-notes/incident-response.md
  sidebars-kb.ts
  sidebars.ts
  src/components/Docs/IncidentResponse.tsx
  src/components/Docs/data/incidentResponseData.ts
  src/components/HomepageFeatures/data/featureListData.tsx
  src/components/LandingPage/IncidentResponse.tsx
  src/components/LearnAboutPlatform/data/moduleListData.tsx
  src/constants.ts
  src/css/custom.css
  static/img/icon-ir.svg
  static/img/ir-landing-page-dark.svg
  static/img/ir-landing-page.svg
Owners: @pratmit, @wei-harness, @rohanmaharjan100

Remove knowledge base
  src/components/Docs/IncidentResponse.tsx
Owners: @wei-harness, @rohanmaharjan100

Update deployment-faqs.md
  docs/continuous-delivery/manage-deployments/deployment-faqs.md
Owners: @krishi0408, @SushrutHarness, @vishal-av, @pranaykaikini, @prasadsatamharness, @thisrohangupta, @shylajas

Remove CI-15534 from this RN and update notice date.
  release-notes/continuous-integration.md
Owners: @nofarblue, @rustd, @dewan-ahmed, @SushrutHarness, @shivloka-harness

FME Feature management section formatting
  docs/feature-management-experimentation/10-getting-started/docs/key-concepts/user-ids.md
  docs/feature-management-experimentation/40-feature-management/docs/feature-flags/treatments/alert-baseline-treatment.md
  docs/feature-management-experimentation/40-feature-management/docs/manage-audiences/create-a-segment.md
  docs/feature-management-experimentation/40-feature-management/docs/manage-audiences/mtk-efficiency.md
  docs/feature-management-experimentation/40-feature-management/docs/manage-audiences/review-customer-dashboard.md
  docs/feature-management-experimentation/40-feature-management/docs/manage-audiences/user-key-dashboard.md
  docs/feature-management-experimentation/40-feature-management/docs/manage-flag-lifecycle/use-the-rollout-board.md
  docs/feature-management-experimentation/40-feature-management/docs/target-with-flags/index.md
  docs/feature-management-experimentation/40-feature-management/docs/target-with-flags/kill-switch.md
  docs/feature-management-experimentation/40-feature-management/docs/target-with-flags/schedule-a-flag-change.md
  docs/feature-management-experimentation/40-feature-management/docs/target-with-flags/targeting-rules/feature-flag-with-dependencies.md
  docs/feature-management-experimentation/40-feature-management/docs/target-with-flags/targeting-rules/target-with-user-attributes.md
  docs/feature-management-experimentation/40-feature-management/docs/target-with-flags/why-setting-the-order-of-treatments-matters.md
  docs/feature-management-experimentation/70-admin-account-settings/docs/admin-best-practices/account-usage/mtk-efficiency.md
Owners: @pratmit, @wei-harness

Add note for CI-15304
  release-notes/continuous-integration.md
Owners: @nofarblue, @rustd, @dewan-ahmed, @SushrutHarness, @shivloka-harness

Update release notes to remove IP whitelisting for now.
  release-notes/continuous-integration.md
Owners: @nofarblue, @rustd, @dewan-ahmed, @SushrutHarness, @shivloka-harness

feat: add proxy key rotation docs
  kb/cloud-cost-management/articles/autostopping/proxy.md
Owners: @deepanshuHarness, @jimin-harness, @guna-harness

Pipeline FAQ
  kb/platform/pipeline-faq.md
Owners: @deepanshuHarness, @jimin-harness, @guna-harness

Platform FAQ
  kb/platform/harness-platform-faqs.md
Owners: @deepanshuHarness, @jimin-harness, @guna-harness

added RNs for release notes
  release-notes/self-managed-enterprise-edition.md
Owners: @pratmit, @abhishekharness, @ivikramsahu

minor change
  release-notes/self-managed-enterprise-edition.md
Owners: @pratmit, @abhishekharness, @ivikramsahu

CI FAQ
  kb/continuous-integration/continuous-integration-faqs.md
Owners: @deepanshuHarness, @jimin-harness, @guna-harness

STO FAQ
  kb/security-testing-orchestration/security-testing-orchestration-faqs.md
Owners: @deepanshuHarness, @jimin-harness, @guna-harness

Updates.
  release-notes/continuous-integration.md
Owners: @nofarblue, @rustd, @dewan-ahmed, @SushrutHarness, @shivloka-harness

release note for delegate hotfix (PIPE-24724)
  release-notes/delegate.md
Owners: @pratmit, @abhishekharness, @anshul-harness, @ivikramsahu

(Update) Normalization Average note
  docs/continuous-delivery/verify/cv-results/interpret-metric-results.md
Owners: @krishi0408, @SushrutHarness, @vishal-av, @pranaykaikini, @prasadsatamharness, @thisrohangupta, @shylajas

(Update) WinRM Secrets
  docs/platform/secrets/add-winrm-keys.md
Owners: @pratmit, @krishi0408, @GokulBansal0, @abhishekharness, @ivikramsahu

Updating code repo release notes to backfill from april. Missing from Aug to Jan but generating that list next week.
  release-notes/code-repository.md
Owners: @pwolf-harness, @hitesharinga, @dewan-ahmed

amit faq contribution
  kb/platform/harness-platform-faqs.md
  kb/platform/pipeline-faq.md
Owners: @deepanshuHarness, @jimin-harness, @guna-harness

FAQ added
  kb/continuous-integration/continuous-integration-faqs.md
Owners: @deepanshuHarness, @jimin-harness, @guna-harness

Updated Inputs and Actions
  docs/internal-developer-portal/flows/custom-actions.md
  docs/internal-developer-portal/flows/flows-input.md
Owners: @Debanitrkl, @OrkoHunter, @manishas

add Rules evaluation order as separate doc, move FAQs to Target with flags
  docs/feature-management-experimentation/40-feature-management/docs/quickstart-create-a-feature-flag.md
  docs/feature-management-experimentation/40-feature-management/docs/target-with-flags/faqs/_category_.json
  docs/feature-management-experimentation/40-feature-management/docs/target-with-flags/faqs/does-my-sdk-version-support-semver.md
  docs/feature-management-experimentation/40-feature-management/docs/target-with-flags/faqs/how-can-i-override-individually-targeted-users-with-a-superseding-targeting-rule.md
  docs/feature-management-experimentation/40-feature-management/docs/target-with-flags/faqs/how-can-you-tell-what-treatment-a-user-sees.md
  docs/feature-management-experimentation/40-feature-management/docs/target-with-flags/faqs/how-do-i-maintain-the-state-of-a-users-treatment-even-if-the-rollout-plan-changes.md
  docs/feature-management-experimentation/40-feature-management/docs/target-with-flags/faqs/is-there-a-way-to-limit-the-number-of-users-in-an-experiment.md
  docs/feature-management-experimentation/40-feature-management/docs/target-with-flags/faqs/useful-regex-examples-for-targeting.md
  docs/feature-management-experimentation/40-feature-management/docs/target-with-flags/faqs/why-are-some-users-double-bucketed.md
  docs/feature-management-experimentation/40-feature-management/docs/target-with-flags/faqs/why-might-the-same-user-id-get-different-treatments.md
  docs/feature-management-experimentation/40-feature-management/docs/target-with-flags/kill-switch.md
  docs/feature-management-experimentation/40-feature-management/docs/target-with-flags/reallocate-traffic.md
  docs/feature-management-experimentation/40-feature-management/docs/target-with-flags/rules-evaluation-order.md
  docs/feature-management-experimentation/40-feature-management/docs/target-with-flags/schedule-a-flag-change.md
  docs/feature-management-experimentation/60-experimentation/docs/unstructured/is-there-a-way-to-limit-the-number-of-users-in-an-experiment.md
Owners: @pratmit, @wei-harness

add FME Manage audiences | FAQ
  docs/feature-management-experimentation/40-feature-management/docs/manage-audiences/faqs/_category_.json
  docs/feature-management-experimentation/40-feature-management/docs/manage-audiences/faqs/how-can-you-tell-what-treatment-a-user-sees.md
  docs/feature-management-experimentation/40-feature-management/docs/manage-audiences/faqs/is-there-a-way-to-limit-the-number-of-users-in-an-experiment.md
  docs/feature-management-experimentation/40-feature-management/docs/target-with-flags/faqs/how-can-you-tell-what-treatment-a-user-sees.md
  docs/feature-management-experimentation/40-feature-management/docs/target-with-flags/faqs/is-there-a-way-to-limit-the-number-of-users-in-an-experiment.md
  docs/feature-management-experimentation/40-feature-management/docs/target-with-flags/faqs/what-is-the-difference-between-default-rule-and-default-treatment.md
Owners: @wei-harness, @pratmit

include Segments FAQs in Manage audiences FAQs
  docs/feature-management-experimentation/40-feature-management/docs/manage-audiences/faqs/how-to-delete-a-segment-with-all-its-keys.md
  docs/feature-management-experimentation/40-feature-management/docs/manage-audiences/faqs/how-to-upload-csv-file-with-user-ids-containing-commas.md
Owners: @pratmit, @wei-harness

FME rules evaluation order: add Dave's example :)
  docs/feature-management-experimentation/40-feature-management/docs/target-with-flags/rules-evaluation-order.md
  docs/feature-management-experimentation/40-feature-management/docs/target-with-flags/static/rules-evaluation-order-example.png
Owners: @pratmit, @wei-harness, @rohanmaharjan100

Removed the Feature flag for Artifact Signing and Verification Steps
  docs/software-supply-chain-assurance/artifact/sign-artifacts.md
  docs/software-supply-chain-assurance/artifact/verify-signed-artifacts.md
Owners: @sunilgupta-harness, @tejakummarikuntla, @pranay-harness

add section images
  docs/feature-management-experimentation/10-getting-started/docs/static/attribution-engine.png
  docs/feature-management-experimentation/40-feature-management/docs/feature-flags/treatments/alert-baseline-treatment.md
  docs/feature-management-experimentation/40-feature-management/docs/quickstart-create-a-feature-flag.md
  docs/feature-management-experimentation/40-feature-management/docs/target-with-flags/rules-evaluation-order.md
  docs/feature-management-experimentation/40-feature-management/index.md
  docs/feature-management-experimentation/40-feature-management/static/feature-flag.png
  docs/feature-management-experimentation/40-feature-management/static/new-feature.png
  docs/feature-management-experimentation/50-release-monitoring/docs/alerts/alert-baseline-treatment.md
  docs/feature-management-experimentation/50-release-monitoring/docs/alerts/automated-alerts-and-notifications/_category_.json
  docs/feature-management-experimentation/50-release-monitoring/docs/alerts/automated-alerts-and-notifications/set-up-feature-flag-alerting.md
  docs/feature-management-experimentation/50-release-monitoring/docs/alerts/automated-alerts-and-notifications/set-up-metric-alerting.md
  docs/feature-management-experimentation/50-release-monitoring/docs/alerts/monitoring-window/_category_.json
  docs/feature-management-experimentation/50-release-monitoring/docs/alerts/monitoring-window/review-period-check.md
  docs/feature-management-experimentation/50-release-monitoring/docs/metrics/attribution-and-exclusion.md
  docs/feature-management-experimentation/50-release-monitoring/docs/metrics/metric-definition/metric-filtering-2.md
  docs/feature-management-experimentation/50-release-monitoring/docs/monitoring/_category_.json
  docs/feature-management-experimentation/50-release-monitoring/docs/monitoring/traffic-insights.md
  docs/feature-management-experimentation/50-release-monitoring/docs/monitoring/traffic-over-time.md
  docs/feature-management-experimentation/50-release-monitoring/docs/monitoring/view-metrics-impact/filter-metric-results.md
  docs/feature-management-experimentation/50-release-monitoring/docs/monitoring/view-metrics-impact/static/filter-metric-results-filters.png
  docs/feature-management-experimentation/50-release-monitoring/docs/monitoring/view-metrics-impact/view-metric-results.md
  docs/feature-management-experimentation/50-release-monitoring/docs/monitoring/viewing-triggered-alerts.md
  docs/feature-management-experimentation/50-release-monitoring/docs/quickstart-set-up-release-monitoring.md
  docs/feature-management-experimentation/50-release-monitoring/docs/unstructured/configuring-metric-alerting.md
  docs/feature-management-experimentation/50-release-monitoring/index.md
  docs/feature-management-experimentation/50-release-monitoring/static/alert.png
  docs/feature-management-experimentation/60-experimentation/index.md
  docs/feature-management-experimentation/60-experimentation/static/dimensional-analysis.png
  docs/feature-management-experimentation/60-experimentation/static/experiment.png
Owners: @rohanmaharjan100, @wei-harness, @pratmit

Added FAQ for gitops troubleshooting.
  docs/continuous-delivery/gitops/gitops-faqs.md
Owners: @krishi0408, @SushrutHarness, @vishal-av, @pranaykaikini, @prasadsatamharness, @thisrohangupta, @shylajas

Updated FAQ regarding the freeze window in Harness.
  docs/continuous-delivery/manage-deployments/deployment-faqs.md
Owners: @krishi0408, @SushrutHarness, @vishal-av, @pranaykaikini, @prasadsatamharness, @thisrohangupta, @shylajas

Added FAQ related to barriers
  docs/continuous-delivery/x-platform-cd-features/cd-steps/cd-steps-faqs.md
Owners: @krishi0408, @SushrutHarness, @vishal-av, @pranaykaikini, @prasadsatamharness, @thisrohangupta, @shylajas

FME Release monitoring docs
  docs/feature-management-experimentation/10-getting-started/docs/key-concepts/index.md
  docs/feature-management-experimentation/50-release-monitoring/_templates/monitor-and-experiment-settings.md
  docs/feature-management-experimentation/50-release-monitoring/docs/alerts/_category_.json
  docs/feature-management-experimentation/50-release-monitoring/docs/alerts/monitoring-window/index.md
  docs/feature-management-experimentation/50-release-monitoring/docs/events/index.md
  docs/feature-management-experimentation/50-release-monitoring/docs/metrics/index.md
  docs/feature-management-experimentation/50-release-monitoring/docs/monitoring/_category_.json
  docs/feature-management-experimentation/50-release-monitoring/docs/monitoring/traffic-insights.md
  docs/feature-management-experimentation/50-release-monitoring/docs/monitoring/view-metrics-impact/_category_.json
  docs/feature-management-experimentation/50-release-monitoring/docs/monitoring/view-metrics-impact/filter-metric-results.md
  docs/feature-management-experimentation/50-release-monitoring/docs/monitoring/view-metrics-impact/recalculate.md
  docs/feature-management-experimentation/50-release-monitoring/docs/monitoring/view-metrics-impact/static/view-metric-results-baseline0.png
  docs/feature-management-experimentation/50-release-monitoring/docs/monitoring/view-metrics-impact/view-metric-results.md
  docs/feature-management-experimentation/50-release-monitoring/docs/monitoring/view-triggered-alerts.md
  docs/feature-management-experimentation/50-release-monitoring/docs/monitoring/viewing-triggered-alerts.md
  docs/feature-management-experimentation/50-release-monitoring/docs/unstructured/metrics-details-and-trends.md
  docs/feature-management-experimentation/50-release-monitoring/docs/unstructured/monitor-and-experiment-settings.md
  docs/feature-management-experimentation/50-release-monitoring/docs/unstructured/monitoring-tab.md
  docs/feature-management-experimentation/50-release-monitoring/docs/unstructured/understanding-metric-impact.md
Owners: @pratmit, @wei-harness, @rohanmaharjan100
