Repository harness/developer-hub, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pratmit, @wei-harness, @rohanmaharjan100, @ravilach, @Ompragash, @krishi0408, @SushrutHarness, @vishal-av, @pranaykaikini, @prasadsatamharness, @nofarblue, @rustd, @dewan-ahmed, @pwolf-harness, @hitesharinga, @tejakummarikuntla, @priteshchandaliya, @navaneeth, @Rohit-Kaliki, @joeyouss, @nikunj-badjatya, @raviyadalam, @iamanmolm, @sdsingh07, @sandyydk, @abhinavsingh-ccm, @M-Tsur, @sunilgupta-harness, @umamukkara, @neelanjan00, @SmritiSatya, @shovanmaity, @Jonsy13, @Saranya-jena, @Adarshkumar14, @ispeakc0de, @amityt, @uditgaurav, @S-ayanide, @vanshBhatia-A4k9, @GokulBansal0, @abhishekharness, @anshul-harness, @SudarshanPurohit, @Debanitrkl, @OrkoHunter, @manishas, @pranay-harness, @RickCraig, @richardblack-Harness, @allofthesepeople, @scottyw-harness, @nassergonzalez, @HarnessTheChaos, @jenniferopal, @laura-mannus, @Kira-Jennings, @laura135, @codewdhruv, @batraprashant, @stephenatwell, @archit-harness, @khushisharmaharness, @deba-harness, @shankaranandh, @shivagowda, @dtk-DaveKarow, @kleinjoshuaa, @deej-split, @ankit-harness, @yogi-harness, @ksatchit, @deepanshuHarness, @jimin-harness, @guna-harness, @okosun-j, @rssnyder, @suranc, @RajiKoppala

Added the tutorial to deploy using IDP
  docs/internal-developer-portal/flows/workflows-tutorials/deploy-using-idp.md
  docs/internal-developer-portal/flows/workflows-tutorials/static/canary.png
Owners: @Debanitrkl, @OrkoHunter, @manishas

CHAOS-6966 Pod JVM modify return (#8807)
  docs/chaos-engineering/use-harness-ce/chaos-faults/kubernetes/experiments.ts
  docs/chaos-engineering/use-harness-ce/chaos-faults/kubernetes/kubernetes.md
  docs/chaos-engineering/use-harness-ce/chaos-faults/kubernetes/pod/common-tunables-for-pod-faults.md
  docs/chaos-engineering/use-harness-ce/chaos-faults/kubernetes/pod/pod-jvm-modify-return.md
  docs/chaos-engineering/use-harness-ce/chaos-faults/kubernetes/pod/static/images/pod-jvm-modify-return.png
  docs/chaos-engineering/use-harness-ce/chaos-faults/kubernetes/pod/static/manifests/pod-jvm-modify-return/params.yaml
Owners: @neelanjan00, @SmritiSatya, @shovanmaity, @Jonsy13, @Saranya-jena, @Adarshkumar14, @ispeakc0de, @amityt, @uditgaurav, @S-ayanide, @vanshBhatia-A4k9

Added AWS ECR docs, updated quickstart guide and added quickstart tutorial
  docs/cloud-development-environments/features-of-gitspaces/private-docker-images.md
  docs/cloud-development-environments/introduction/beta-usage.md
  docs/cloud-development-environments/introduction/getting-started-with-cde.md
  docs/cloud-development-environments/introduction/quickstart-guide.md
  docs/cloud-development-environments/introduction/quickstart-tutorial.md
  src/components/Docs/data/cloudDevelopmentEnvironmentData.ts
Owners: @manishas, @khushisharmaharness

Added AWS ECR Docs, Quickstart guide docs, Quickstart tutorial docs
  docs/cloud-development-environments/introduction/quickstart-guide.md
  docs/cloud-development-environments/introduction/quickstart-tutorial.md
Owners: @manishas, @khushisharmaharness

Fixed a bug and added links in devcontainer config
  docs/cloud-development-environments/deep-dive-into-gitspaces/gitspace-configuration.md
  docs/cloud-development-environments/introduction/quickstart-guide.md
Owners: @manishas, @khushisharmaharness

Fixed a few bugs
  docs/cloud-development-environments/deep-dive-into-gitspaces/lifecycle-of-gitspaces.md
  docs/cloud-development-environments/introduction/quickstart-guide.md
Owners: @manishas, @khushisharmaharness

Updated the quickstart guide with product screenshots
  docs/cloud-development-environments/features-of-gitspaces/secure-connect.md
  docs/cloud-development-environments/introduction/quickstart-guide.md
  docs/cloud-development-environments/introduction/quickstart-tutorial.md
  docs/cloud-development-environments/introduction/static/port-forward-latest.png
  docs/cloud-development-environments/introduction/static/private-docker-images-1.png
Owners: @manishas, @khushisharmaharness

Edits in quickstart guide
  docs/cloud-development-environments/introduction/quickstart-guide.md
Owners: @manishas, @khushisharmaharness

add light & dark svg images for FME landing page
  src/components/Docs/FeatureManagementExperimentation.tsx
  static/img/fme-docs-main-dark-mode.svg
  static/img/fme-docs-main-light-mode.svg
  static/img/fme_landing_page.png
Owners: @wei-harness, @rohanmaharjan100, @pratmit

Update
  docs/chaos-engineering/use-harness-ce/chaos-faults/kubernetes/pod/redis-cache-limit.md
  docs/chaos-engineering/use-harness-ce/chaos-faults/kubernetes/pod/shared/redis-auth.md
Owners: @neelanjan00, @SmritiSatya, @shovanmaity, @Jonsy13, @Saranya-jena, @Adarshkumar14, @ispeakc0de, @amityt, @uditgaurav, @S-ayanide, @vanshBhatia-A4k9

Update
  docs/chaos-engineering/use-harness-ce/chaos-faults/kubernetes/pod/shared/redis-auth.md
Owners: @neelanjan00, @SmritiSatya, @shovanmaity, @Jonsy13, @Saranya-jena, @Adarshkumar14, @ispeakc0de, @amityt, @uditgaurav, @S-ayanide, @vanshBhatia-A4k9

Update
  docs/chaos-engineering/use-harness-ce/chaos-faults/kubernetes/pod/redis-cache-penetration.md
  docs/chaos-engineering/use-harness-ce/chaos-faults/kubernetes/pod/shared/redis-auth.md
Owners: @neelanjan00, @SmritiSatya, @shovanmaity, @Jonsy13, @Saranya-jena, @Adarshkumar14, @ispeakc0de, @amityt, @uditgaurav, @S-ayanide, @vanshBhatia-A4k9

.github/CODEOWNERS:

# HDH Codeowners file.
# Created October 2023 - https://harness.atlassian.net/browse/HDH-189
# Applies to Repository Structure, not URL per-se.
# Learn more at: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global Owners of the HDH Repository
*       @pratmit @wei-harness

# Configuration Files in DS are JS.
*.js    @wei-harness @rohanmaharjan100
*.ts    @wei-harness @rohanmaharjan100
*.jsx    @wei-harness @rohanmaharjan100
*.tsx    @wei-harness @rohanmaharjan100

# Changes to Lock File
*.lock  @wei-harness

# Changes to Config Files
*.ini  @wei-harness
*.json  @wei-harness
*.toml  @wei-harness
*ignore @wei-harness
/_server-redirect @wei-harness

# Changes to Netlify Files
/netlify/ @wei-harness

# Contributing
CONTRIBUTING.md @pratmit
README.md @pratmit
/docs/hdh/ @pratmit

# University
/university/ @ravilach
/src/components/HomepageUniversity/ @ravilach
/src/components/University/ @ravilach

# Community
/community/ @Ompragash

# Redirect Archives
/archive/  @pratmit @wei-harness

# Documentation ###

# Continuous Delivery Docs
/docs/continuous-delivery/ @krishi0408 @SushrutHarness @vishal-av @pranaykaikini @prasadsatamharness
/release-notes/continuous-delivery.md @krishi0408 @SushrutHarness @vishal-av @pranaykaikini @prasadsatamharness
src/components/Roadmap/data/cdData.ts @krishi0408 @SushrutHarness @vishal-av

# Continuous Integration Docs
/docs/continuous-integration/ @nofarblue @rustd @dewan-ahmed @SushrutHarness
/release-notes/continuous-integration.md @nofarblue @rustd @dewan-ahmed
src/components/Roadmap/data/ciData.ts @nofarblue @rustd @dewan-ahmed

# CODE Docs
/docs/code-repository/ @pwolf-harness @hitesharinga @dewan-ahmed
/release-notes/code-repository.md @pwolf-harness @hitesharinga @dewan-ahmed
src/components/Roadmap/data/codeData.ts @pwolf-harness @hitesharinga @dewan-ahmed

# STO Docs
/docs/security-testing-orchestration/ @tejakummarikuntla @priteshchandaliya
/docs/faqs/security-testing-orchestration/ @tejakummarikuntla @priteshchandaliya
/release-notes/security-testing-orchestration.md @tejakummarikuntla @priteshchandaliya
src/components/Roadmap/data/stoData.ts @tejakummarikuntla @priteshchandaliya

# CCM Docs
/docs/cloud-cost-management/ @navaneeth @Rohit-Kaliki @joeyouss @nikunj-badjatya @raviyadalam @iamanmolm @sdsingh07 @sandyydk @abhinavsingh-ccm
/release-notes/cloud-cost-management.md @raviyadalam
src/components/Roadmap/data/ccmData.ts @navaneeth @Rohit-Kaliki @joeyouss

# CET Docs
/docs/continuous-error-tracking/ @M-Tsur
/release-notes/continuous-error-tracking.md @M-Tsur

# SRM Docs
/docs/service-reliability-management/ @sunilgupta-harness @umamukkara
/release-notes/service-reliability-management.md @sunilgupta-harness @umamukkara
src/components/Roadmap/data/srmData.ts @sunilgupta-harness

# Chaos Docs
/docs/chaos-engineering/ @neelanjan00 @SmritiSatya @shovanmaity @Jonsy13 @Saranya-jena @Adarshkumar14 @ispeakc0de @amityt @uditgaurav @S-ayanide @vanshBhatia-A4k9
/release-notes/chaos-engineering.md @neelanjan00 @SmritiSatya @Jonsy13
src/components/Roadmap/data/cdData.ts @krishi0408 @neelanjan00 @SmritiSatya @vishal-av @SushrutHarness

# Platform Docs
/docs/platform/ @pratmit @krishi0408 @GokulBansal0 @abhishekharness
/release-notes/delegate.md @pratmit @abhishekharness @anshul-harness
/release-notes/platform.md @pratmit @GokulBansal0 @abhishekharness
/release-notes/self-managed-enterprise-edition.md @pratmit @abhishekharness
src/components/Roadmap/data/platformData.ts @pratmit @abhishekharness

# Pipeline Docs
/docs/platform/pipelines/ @krishi0408 @vishal-av @SudarshanPurohit
/docs/platform/git-experience/ @krishi0408 @vishal-av @prasadsatamharness
/docs/platform/templates/ @krishi0408 @vishal-av @SudarshanPurohit
/docs/platform/variables-and-expressions/ @krishi0408 @vishal-av @SudarshanPurohit
/docs/platform/triggers/ @krishi0408 @vishal-av @SudarshanPurohit
/docs/platform/approvals/ @krishi0408 @vishal-av 
/docs/platform/connectors/ @krishi0408 @vishal-av

# IDP Docs
/docs/internal-developer-portal/ @Debanitrkl @OrkoHunter @manishas
/release-notes/internal-developer-portal.md @Debanitrkl @OrkoHunter @manishas
src/components/Roadmap/data/idpData.ts @Debanitrkl @OrkoHunter @manishas

# SCS Docs
/docs/software-supply-chain-assurance/ @sunilgupta-harness @tejakummarikuntla @pranay-harness
/release-notes/software-supply-chain-assurance.md @sunilgupta-harness @tejakummarikuntla @pranay-harness
src/components/Roadmap/data/sscaData.ts @sunilgupta-harness @tejakummarikuntla @pranay-harness

# IACM Docs
/docs/infra-as-code-management/ @RickCraig @richardblack-Harness @allofthesepeople @scottyw-harness @nassergonzalez
src/components/Roadmap/data/iacmData.ts @RickCraig @richardblack-Harness

# FF Docs
/docs/feature-flags/ @HarnessTheChaos @jenniferopal @laura-mannus @Kira-Jennings @laura135
/release-notes/feature-flags.md @HarnessTheChaos @jenniferopal
src/components/Roadmap/data/ffData.ts @HarnessTheChaos @jenniferopal

# SEI Docs
/docs/software-engineering-insights/ @codewdhruv @batraprashant
/release-notes/software-engineering-insights.md @codewdhruv @batraprashant
src/components/Roadmap/data/seiData.ts @codewdhruv

# DB DevOps Docs
/docs/database-devops/ @jenniferopal @stephenatwell @HarnessTheChaos @archit-harness @anshul-harness
/release-notes/database-devops.md @stephenatwell @jenniferopal @HarnessTheChaos @archit-harness @anshul-harness

# CDE Docs
/docs/cloud-development-environments/ @manishas @khushisharmaharness
/src/components/Docs/data/cloudDevelopmentEnvironmentData.ts @manishas @khushisharmaharness

# AI QA Assistant Docs
/docs/ai-qa-assistant/ @deba-harness

# Artifact Registry Docs
/docs/artifact-registry/ @SushrutHarness @shankaranandh @shivagowda @richardblack-Harness

#FME Docs
src/components/Roadmap/data/fmeData.ts @dtk-DaveKarow @kleinjoshuaa @deej-split

# Open Source Docs
/docs/open-source/ @dewan-ahmed @rustd @SushrutHarness

# Cloud Operations Docs
/docs/harness-cloud-operations/ @ankit-harness @yogi-harness

# FirstGen Docs ###

# CD Docs
/docs/category/continuous-delivery/ @krishi0408 @SushrutHarness @vishal-av

# Platform Docs
/docs/category/platform-firstgen/ @pratmit

# SMP Docs
/docs/category/self-managed-enterprise-edition-fg/ @pratmit

# CCM Docs
/docs/category/cloud-cost-management/ @navaneeth @Rohit-Kaliki @joeyouss

# FAQ Docs ###

# CD FAQs
/docs/faqs/continuous-delivery-faqs @krishi0408 @SushrutHarness @vishal-av

# FF FAQs
/docs/faqs/harness-feature-flag-faqs/ @HarnessTheChaos @jenniferopal

# CCM FAQs
/docs/faqs/cloud-cost-management-faqs/ @navaneeth @Rohit-Kaliki @joeyouss

# STO FAQs
/docs/faqs/security-testing-orchestration/ @tejakummarikuntla

# Chaos FAQs
/kb/chaos-engineering/chaos-engineering-faq @neelanjan00 @SmritiSatya @ksatchit

# Delegate FAQs
/docs/faqs/harness-delegate-faqs/ @pratmit

# GitEx FAQs
/docs/faqs/git-exp-vs-config-as-code/ @krishi0408 @SushrutHarness @vishal-av

# SMP FAQs
/docs/faqs/self-managed-ee-faq/ @pratmit

# DB DevOps FAQs
/docs/faqs/db-devops-faqs/ @jenniferopal @stephenatwell @HarnessTheChaos @archit-harness @anshul-harness

# Knowledge Base ###

# Overall KB
/kb/ @deepanshuHarness @jimin-harness @guna-harness

#Armory KB
/kb/armory @okosun-j @jimin-harness @deepanshuHarness @guna-harness

#RA
/kb/reference-architectures/ @rssnyder @suranc @jimin-harness @deepanshuHarness @guna-harness

# DB DevOps
/kb/database-devops/ @jenniferopal @stephenatwell @HarnessTheChaos @archit-harness @anshul-harness

#Reference Architectures
/kb/reference-architectures @RajiKoppala @rssnyder
