Repository harness/developer-hub, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ravilach, @wei-harness, @Ompragash, @krishi0408, @roshnisarangadharan, @SushrutHarness, @nofarblue, @rustd, @pwolf-harness, @hitesharinga, @douglas-j-bothwell, @rdsoze, @navaneeth, @Rohit-Kaliki, @joeyouss, @nikunj-badjatya, @M-Tsur, @sunilgupta-harness, @neelanjan00, @SmritiSatya, @brian-f-harness, @harishkammanahalli, @saifeemustafaqharness, @Debanitrkl, @tejakummarikuntla, @RickCraig, @richardblack-Harness, @HarnessTheChaos, @jenniferopal, @ankit-harness, @codewdhruv, @deepanshuHarness

.github/CODEOWNERS:

# HDH Codeowners file.
# Created October 2023 - https://harness.atlassian.net/browse/HDH-189
# Applies to Repository Structure, not URL per-se.
# Learn more at: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global Owners of the HDH Repository
*       @ravilach @wei-harness

# Configuration Files in DS are JS.
*.js    @wei-harness

# Changes to Lock File
*.lock  @wei-harness

# Contributing
CONTRIBUTING.md @ravilach
README.md @ravilach
/docs/hdh/ @ravilach

# Certification
/university/ @ravilach

# Community
/community/ @Ompragash

# Redirect Archives
/archive/  @ravilach @wei-harness

# Documentation ###

# Continuous Delivery Docs
/docs/continuous-delivery/ @krishi0408 @roshnisarangadharan @SushrutHarness

# Continuous Integration Docs
/docs/continuous-integration/ @nofarblue @rustd

# CODE Docs
/docs/code-repository/ @pwolf-harness @hitesharinga

# STO Docs
/docs/security-testing-orchestration/ @douglas-j-bothwell
/docs/faqs/security-testing-orchestration/ @douglas-j-bothwell

# CCM Docs
/docs/cloud-cost-management/ @rdsoze @navaneeth @Rohit-Kaliki @joeyouss @nikunj-badjatya

# CET Docs
/docs/continuous-error-tracking/ @M-Tsur

# SRM Docs
/docs/service-reliability-management/ @sunilgupta-harness

# Chaos Docs
/docs/chaos-engineering/ @neelanjan00 @SmritiSatya

# Platform Docs
/docs/platform/ @brian-f-harness @harishkammanahalli @saifeemustafaqharness

# IDP Docs
/docs/internal-developer-portal/ @Debanitrkl

# SSCA Docs
/docs/software-supply-chain-assurance/ @sunilgupta-harness @tejakummarikuntla

# IACMS Docs
/docs/infra-as-code-management/ @RickCraig @richardblack-Harness

# FF Docs
/docs/feature-flags/ @HarnessTheChaos @jenniferopal

# Cloud Operations Docs
/docs/harness-cloud-operations/ @ankit-harness

# SEI Docs
/docs/software-engineering-insights/ @codewdhruv

# FirstGen Docs ###

# CD Docs
/docs/category/continuous-delivery/ @krishi0408 @SushrutHarness @roshnisarangadharan

# Platform Docs
/docs/category/platform-firstgen/ @brian-f-harness @harishkammanahalli @saifeemustafaqharness

# SMP Docs
/docs/category/self-managed-enterprise-edition-fg/ @brian-f-harness @harishkammanahalli @saifeemustafaqharness

# CCM Docs
/docs/category/cloud-cost-management/ @rdsoze @navaneeth @Rohit-Kaliki @joeyouss

# FAQ Docs ###

# CD FAQs
/docs/faqs/continuous-delivery-faqs @krishi0408 @SushrutHarness @roshnisarangadharan

# FF FAQs
/docs/faqs/harness-feature-flag-faqs/ @HarnessTheChaos @jenniferopal

# CCM FAQs
/docs/faqs/cloud-cost-management-faqs/ @rdsoze @navaneeth @Rohit-Kaliki @joeyouss

# STO FAQs
/docs/faqs/security-testing-orchestration/ @douglas-j-bothwell

# Chaos FAQs
/docs/faqs/chaos-engineering-faq/ @neelanjan00 @SmritiSatya

# Delegate FAQs
/docs/faqs/harness-delegate-faqs/ @brian-f-harness @harishkammanahalli

# GitEx FAQs
/docs/faqs/git-exp-vs-config-as-code/ @krishi0408 @SushrutHarness @roshnisarangadharan

# SMP FAQs
/docs/faqs/self-managed-ee-faq/ @brian-f-harness @harishkammanahalli @saifeemustafaqharness

# Release Notes ###

# CD Release Notes
/release-notes/continuous-delivery.md @krishi0408 @SushrutHarness @roshnisarangadharan

# CCM Release Notes
/release-notes/cloud-cost-management.md @rdsoze

# CE Release Notes
/release-notes/chaos-engineering.md @neelanjan00 @SmritiSatya

# CET Release Notes
/release-notes/continuous-error-tracking.md @M-Tsur

# CI Release Notes
/release-notes/continuous-integration.md @nofarblue @rustd

# CODE Release Notes
/release-notes/code-repository.md @pwolf-harness @hitesharinga

# Delegate Release Notes
/release-notes/delegate.md @brian-f-harness @harishkammanahalli

# FF Release Notes
/release-notes/feature-flags.md @HarnessTheChaos @jenniferopal

# IDP Release Notes
/release-notes/internal-developer-portal.md @Debanitrkl

# Platform Release Notes
/release-notes/platform.md @brian-f-harness @harishkammanahalli @saifeemustafaqharness

# SEI Release Notes
/release-notes/software-engineering-insights.md @codewdhruv

# STO Release Notes
/release-notes/security-testing-orchestration.md @douglas-j-bothwell

# SMP
/release-notes/self-managed-enterprise-edition.md @brian-f-harness @harishkammanahalli @saifeemustafaqharness

# SRM Release Notes
/release-notes/service-reliability-management.md @sunilgupta-harness

# SSCA Release Notes
/release-notes/service-reliability-management.md @sunilgupta-harness @tejakummarikuntla

# Knowledge Base ###

# Overall KB
/kb/ @deepanshuHarness

# CI KB
/kb/continuous-integration/ @nofarblue @rustd @deepanshuHarness

# CD KB
/kb/continuous-delivery/ @krishi0408 @SushrutHarness @roshnisarangadharan

#Platform KB
/kb/platform/ @saifeemustafaqharness @brian-f-harness

#FF KB
/kb/feature-flags/ @HarnessTheChaos @jenniferopal

#CCM KB
/kb/cloud-cost-management/ @rdsoze @navaneeth @Rohit-Kaliki @joeyouss

#SRM KB
/kb/service-reliability-management/ @sunilgupta-harness

#CE KB
/kb/chaos-engineering/ @neelanjan00 @SmritiSatya

#CET KB
/kb/continuous-error-tracking/ @M-Tsur

#STO KB
/kb/security-testing-orchestration/ @douglas-j-bothwell

# Roadmap ###

#CCM Roadmap
src/components/Roadmap/data/ccmData.ts @rdsoze @navaneeth @Rohit-Kaliki @joeyouss

#CD Roadmap
src/components/Roadmap/data/cdData.ts @krishi0408 @SushrutHarness @roshnisarangadharan

#CE Roadmap
src/components/Roadmap/data/cdData.ts @krishi0408 @neelanjan00 @SmritiSatya

#CI Roadmap
src/components/Roadmap/data/ciData.ts @nofarblue @rustd

#Code Roadmap
src/components/Roadmap/data/codeData.ts @pwolf-harness @hitesharinga

#FF Roadmap
src/components/Roadmap/data/ffData.ts @HarnessTheChaos @jenniferopal

#IACM Roadmap
src/components/Roadmap/data/iacmData.ts @RickCraig @richardblack-Harness

#IDP Roadmap
src/components/Roadmap/data/idpData.ts @Debanitrkl

#Platform Roadmap
src/components/Roadmap/data/idpData.ts @brian-f-harness

#SEI Roadmap
src/components/Roadmap/data/seiData.ts @codewdhruv

#SRM Roadmap
src/components/Roadmap/data/srmData.ts @sunilgupta-harness

#SSCA Roadmap
src/components/Roadmap/data/sscaData.ts @sunilgupta-harness @tejakummarikuntla

#STO Roadmap
src/components/Roadmap/data/stoData.ts @douglas-j-bothwell

fix typo
  src/components/Docs/data/securityTestingOrchestrationData.ts
Owners: @ravilach, @wei-harness

fix typos
  docs/platform/delegates/install-delegates/overview.md
  kb/continuous-delivery/continuous-delivery-faqs.md
Owners: @brian-f-harness, @harishkammanahalli, @saifeemustafaqharness, @krishi0408, @SushrutHarness, @roshnisarangadharan

FAQ update
  kb/cloud-cost-management/cloud-cost-management-faqs.md
Owners: @rdsoze, @navaneeth, @Rohit-Kaliki, @joeyouss

add zendesk ticket reference
  release-notes/delegate.md
Owners: @brian-f-harness, @harishkammanahalli

Update docs/cloud-cost-management/4-use-ccm-cost-optimization/3-Cluster-orchestrator/3-setting_up_CO.md
  docs/cloud-cost-management/4-use-ccm-cost-optimization/3-Cluster-orchestrator/3-setting_up_CO.md
Owners: @rdsoze, @navaneeth, @Rohit-Kaliki, @joeyouss, @nikunj-badjatya

Update docs/cloud-cost-management/4-use-ccm-cost-optimization/3-Cluster-orchestrator/2-working.md
  docs/cloud-cost-management/4-use-ccm-cost-optimization/3-Cluster-orchestrator/2-working.md
Owners: @rdsoze, @navaneeth, @Rohit-Kaliki, @joeyouss, @nikunj-badjatya

Update docs/cloud-cost-management/4-use-ccm-cost-optimization/3-Cluster-orchestrator/1-introduction.md
  docs/cloud-cost-management/4-use-ccm-cost-optimization/3-Cluster-orchestrator/1-introduction.md
Owners: @rdsoze, @navaneeth, @Rohit-Kaliki, @joeyouss, @nikunj-badjatya

Update docs/cloud-cost-management/4-use-ccm-cost-optimization/3-Cluster-orchestrator/2-working.md
  docs/cloud-cost-management/4-use-ccm-cost-optimization/3-Cluster-orchestrator/2-working.md
Owners: @rdsoze, @navaneeth, @Rohit-Kaliki, @joeyouss, @nikunj-badjatya

Update docs/cloud-cost-management/4-use-ccm-cost-optimization/3-Cluster-orchestrator/2-working.md
  docs/cloud-cost-management/4-use-ccm-cost-optimization/3-Cluster-orchestrator/2-working.md
Owners: @rdsoze, @navaneeth, @Rohit-Kaliki, @joeyouss, @nikunj-badjatya

add delegate version to support status topic
  docs/platform/delegates/delegate-reference/delegate-image-version-status.md
Owners: @brian-f-harness, @harishkammanahalli, @saifeemustafaqharness

adding examples of how to use orbs in steps
  docs/continuous-integration/migration-guides/migrating-from-circleci.md
Owners: @nofarblue, @rustd

Update docs/continuous-delivery/manage-deployments/rollback-deployments.md
  docs/continuous-delivery/manage-deployments/rollback-deployments.md
Owners: @krishi0408, @roshnisarangadharan, @SushrutHarness

update smp installation
  docs/self-managed-enterprise-edition/advanced-configurations/use-ingress-controller-overrides.md
  docs/self-managed-enterprise-edition/get-started/onboarding-guide.md
  docs/self-managed-enterprise-edition/install/_category_.json
  docs/self-managed-enterprise-edition/install/harness-helm-chart.md
  docs/self-managed-enterprise-edition/install/install-in-an-air-gapped-environment.md
  docs/self-managed-enterprise-edition/install/install-in-openshift.md
  docs/self-managed-enterprise-edition/install/install-using-helm.md
  docs/self-managed-enterprise-edition/install/manage-feature-flags.md
  docs/self-managed-enterprise-edition/install/static/air-gapped-environment-workflow.png
  docs/self-managed-enterprise-edition/install/static/install-harness-self-managed-enterprise-edition-using-helm-ga-00.png
  docs/self-managed-enterprise-edition/install/uninstall-helm-chart.md
  docs/self-managed-enterprise-edition/install/upgrade-helm-chart.md
Owners: @ravilach, @wei-harness

Updated current tiles for CD Roadmap
  src/components/Roadmap/data/cdData.ts
Owners: @krishi0408, @neelanjan00, @SmritiSatya

fix broken links
  docs/cloud-cost-management/shared/ccm-supported-platforms.md
  docs/faqs/self-managed-ee-faq.md
  docs/platform/get-started/onboarding-guide.md
  docs/self-managed-enterprise-edition/advanced-configurations/increase-pv-size-statefulsets.md
  docs/self-managed-enterprise-edition/demo-non-prod-install/install-in-demo-non-prod-env.md
  docs/self-managed-enterprise-edition/install/harness-helm-chart.md
  docs/self-managed-enterprise-edition/install/install-using-helm.md
  docs/self-managed-enterprise-edition/reference-architecture.md
  docs/self-managed-enterprise-edition/shared/post-install-next-steps.md
  docs/self-managed-enterprise-edition/smp-supported-platforms.md
  kb/platform/harness-platform-faqs.md
  release-notes/self-managed-enterprise-edition.md
  src/components/Docs/data/selfManagedEnterpriseEditionData.ts
Owners: @rdsoze, @navaneeth, @Rohit-Kaliki, @joeyouss, @nikunj-badjatya, @ravilach, @wei-harness, @brian-f-harness, @harishkammanahalli, @saifeemustafaqharness

Best practices doc for push gaming
  docs/continuous-delivery/get-started/best-practices.md
  docs/continuous-delivery/get-started/cd-tutorials/_category_.json
  docs/continuous-delivery/get-started/key-concepts.md
  docs/platform/pipelines/pipeline-settings.md
Owners: @krishi0408, @roshnisarangadharan, @SushrutHarness, @brian-f-harness, @harishkammanahalli, @saifeemustafaqharness

fix build
  docs/faqs/self-managed-ee-faq.md
  docs/platform/get-started/tutorials/install-delegate.md
  docs/self-managed-enterprise-edition/demo-non-prod-install/install-in-gcp.md
  docs/self-managed-enterprise-edition/install/_category_.json
  src/components/Docs/data/selfManagedEnterpriseEditionData.ts
Owners: @ravilach, @wei-harness, @brian-f-harness, @harishkammanahalli, @saifeemustafaqharness

Removed politeness
  docs/platform/pipelines/pipeline-settings.md
Owners: @brian-f-harness, @harishkammanahalli, @saifeemustafaqharness

fix links to fix build
  docs/faqs/self-managed-ee-faq.md
  docs/self-managed-enterprise-edition/demo-non-prod-install/install-in-demo-non-prod-env.md
  docs/self-managed-enterprise-edition/get-started/onboarding-guide.md
  kb/platform/harness-platform-faqs.md
Owners: @ravilach, @wei-harness, @saifeemustafaqharness, @brian-f-harness

Added new features, decided to put pipeline features in platform
  src/components/Roadmap/data/cdData.ts
  src/components/Roadmap/data/platformData.ts
Owners: @krishi0408, @neelanjan00, @SmritiSatya, @ravilach, @wei-harness

Removed almost blank best practices page
  docs/continuous-delivery/get-started/best-practices.md
  docs/continuous-delivery/get-started/key-concepts.md
Owners: @krishi0408, @roshnisarangadharan, @SushrutHarness

updated roadmap to add tags
  src/components/Roadmap/data/cdData.ts
  src/components/Roadmap/data/platformData.ts
Owners: @krishi0408, @neelanjan00, @SmritiSatya, @ravilach, @wei-harness

Added the steps to create pipeline variables
  docs/internal-developer-portal/flows/create-a-new-service-using-idp-stage.md
  docs/internal-developer-portal/flows/static/how-to-create-variables.png
Owners: @Debanitrkl

update pl roadmap-minor copy edits
  src/components/Roadmap/data/platformData.ts
Owners: @ravilach, @wei-harness

add IaC to list of supported categories STO-7691
  docs/security-testing-orchestration/sto-techref-category/shared/_sto-supported-categories.md
Owners: @douglas-j-bothwell

add Target Type step to Orchestration workflows STO-7691
  docs/security-testing-orchestration/sto-techref-category/wiz/artifact-scans-with-wiz.md
  docs/security-testing-orchestration/sto-techref-category/wiz/iac-scans-with-wiz.md
  docs/security-testing-orchestration/sto-techref-category/wiz/repo-scans-with-wiz.md
Owners: @douglas-j-bothwell

sharec with Wiz => used to authenticate with the Wiz CLI STO-7668
  docs/security-testing-orchestration/sto-techref-category/wiz-scanner-reference.txt
  docs/security-testing-orchestration/sto-techref-category/wiz/artifact-scans-with-wiz.md
  docs/security-testing-orchestration/sto-techref-category/wiz/iac-scans-with-wiz.md
  docs/security-testing-orchestration/sto-techref-category/wiz/repo-scans-with-wiz.md
Owners: @douglas-j-bothwell

update scan config to only mention the supported option STO-7668
  docs/security-testing-orchestration/sto-techref-category/wiz/iac-scans-with-wiz.md
  docs/security-testing-orchestration/sto-techref-category/wiz/repo-scans-with-wiz.md
Owners: @douglas-j-bothwell

update target-detection heading STO-7691
  docs/security-testing-orchestration/sto-techref-category/anchore-enterprise-scanner-reference.md
  docs/security-testing-orchestration/sto-techref-category/aquasec-scanner-reference.md
  docs/security-testing-orchestration/sto-techref-category/aws-ecr-scanner-reference.md
  docs/security-testing-orchestration/sto-techref-category/bandit-scanner-reference.md
  docs/security-testing-orchestration/sto-techref-category/black-duck-hub-scanner-reference.md
  docs/security-testing-orchestration/sto-techref-category/brakeman-scanner-reference.md
  docs/security-testing-orchestration/sto-techref-category/codeql-scanner-reference.md
  docs/security-testing-orchestration/sto-techref-category/fossa-scanner-reference.md
  docs/security-testing-orchestration/sto-techref-category/grype/grype-scanner-reference.md
  docs/security-testing-orchestration/sto-techref-category/osv-scanner-reference.md
  docs/security-testing-orchestration/sto-techref-category/sonarqube-sonar-scanner-reference.md
  docs/security-testing-orchestration/sto-techref-category/sysdig-scanner-reference.md
  docs/security-testing-orchestration/sto-techref-category/trivy/aqua-trivy-scanner-reference.md
Owners: @douglas-j-bothwell

remove extraneous JSON/SARIF notes STO-7668
  docs/security-testing-orchestration/sto-techref-category/wiz/artifact-scans-with-wiz.md
  docs/security-testing-orchestration/sto-techref-category/wiz/iac-scans-with-wiz.md
  docs/security-testing-orchestration/sto-techref-category/wiz/repo-scans-with-wiz.md
Owners: @douglas-j-bothwell

update links to point to Every Target Needs a Baseline subsection STO-7668
  docs/security-testing-orchestration/sto-techref-category/semgrep/sast-scan-semgrep.md
  docs/security-testing-orchestration/sto-techref-category/shared/step_palette/target/_name.md
  docs/security-testing-orchestration/sto-techref-category/trivy/container-scan-aqua-trivy.md
  docs/security-testing-orchestration/sto-techref-category/wiz/artifact-scans-with-wiz.md
  docs/security-testing-orchestration/sto-techref-category/wiz/iac-scans-with-wiz.md
  docs/security-testing-orchestration/sto-techref-category/wiz/repo-scans-with-wiz.md
  docs/security-testing-orchestration/sto-techref-category/zap/dast-scan-zap.md
  docs/security-testing-orchestration/use-sto/stop-builds-based-on-scan-results/exemption-workflows.md
Owners: @douglas-j-bothwell

update secrets references STO-7668
  docs/security-testing-orchestration/sto-techref-category/wiz/artifact-scans-with-wiz.md
  docs/security-testing-orchestration/sto-techref-category/wiz/iac-scans-with-wiz.md
  docs/security-testing-orchestration/sto-techref-category/wiz/repo-scans-with-wiz.md
Owners: @douglas-j-bothwell

new intro STO-7668
  docs/security-testing-orchestration/sto-techref-category/wiz/artifact-scans-with-wiz.md
  docs/security-testing-orchestration/sto-techref-category/wiz/iac-scans-with-wiz.md
  docs/security-testing-orchestration/sto-techref-category/wiz/repo-scans-with-wiz.md
Owners: @douglas-j-bothwell

uncomment Scanner categories supported by STO STO-7668
  docs/security-testing-orchestration/sto-techref-category/security-step-settings-reference.md
Owners: @douglas-j-bothwell

update Target heading in Wiz topics STO-7668
  docs/security-testing-orchestration/sto-techref-category/wiz-scanner-reference.txt
  docs/security-testing-orchestration/sto-techref-category/wiz/artifact-scans-with-wiz.md
  docs/security-testing-orchestration/sto-techref-category/wiz/iac-scans-with-wiz.md
  docs/security-testing-orchestration/sto-techref-category/wiz/repo-scans-with-wiz.md
Owners: @douglas-j-bothwell

hide Scan Config description for artifact scans, this is grayed out in the UI STO-7668
  docs/security-testing-orchestration/sto-techref-category/wiz/artifact-scans-with-wiz.md
Owners: @douglas-j-bothwell

update topic title to Code Repositories STO-7668
  docs/security-testing-orchestration/sto-techref-category/wiz/repo-scans-with-wiz.md
Owners: @douglas-j-bothwell

tweak workflows to ensure consistent style STO-7668
  docs/security-testing-orchestration/sto-techref-category/wiz/artifact-scans-with-wiz.md
  docs/security-testing-orchestration/sto-techref-category/wiz/iac-scans-with-wiz.md
  docs/security-testing-orchestration/sto-techref-category/wiz/repo-scans-with-wiz.md
Owners: @douglas-j-bothwell

update STO tiles to point to GitLab/GitHub topics STO-7459
  src/components/Docs/data/securityTestingOrchestrationData.ts
Owners: @ravilach, @wei-harness

1.97 relnotes updates STO-7649
  release-notes/security-testing-orchestration.md
Owners: @douglas-j-bothwell
