Repository harness/developer-hub, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pratmit, @wei-harness, @rohanmaharjan100, @ravilach, @Ompragash, @krishi0408, @SushrutHarness, @vishal-av, @pranaykaikini, @prasadsatamharness, @thisrohangupta, @shylajasun, @nofarblue, @rustd, @dewan-ahmed, @shivloka-harness, @hitesharinga, @tejakummarikuntla, @priteshchandaliya, @Rohit-Kaliki, @joeyouss, @iamanmolm, @sdsingh07, @sandyydk, @abhinavsingh-ccm, @riyasyash, @himanshu-jain-harness, @suryanarayanan-venkatesan, @rajarshee-harness, @M-Tsur, @sunilgupta-harness, @umamukkara, @neelanjan00, @SmritiSatya, @shovanmaity, @Jonsy13, @Saranya-jena, @Adarshkumar14, @ispeakc0de, @amityt, @uditgaurav, @S-ayanide, @vanshBhatia-A4k9, @ksatchit, @SarthakJain26, @SahilKr24, @utkarsh-code-harness, @GokulBansal0, @abhishekharness, @ivikramsahu, @anshul-harness, @raviyadalam, @SudarshanPurohit, @rohitk-h, @navaneeth, @navaneethoh, @OrkoHunter, @manishas, @khushisharmaharness, @pranay-harness, @lavakush07, @RickCraig, @richardblack-Harness, @allofthesepeople, @scottyw-harness, @nassergonzalez, @HarnessTheChaos, @laura-mannus, @dtk-DaveKarow, @kleinjoshuaa, @deej-split, @harness-john, @codewdhruv, @batraprashant, @stephenatwell, @archit-harness, @ankittiwari-harness, @ryantaylor16, @Kmonkeyjam, @shankaranandh, @shivagowda, @poojaSinghal, @arvind-choudhary-h, @ankit-harness, @yogi-harness, @deepanshuHarness, @jimin-harness, @guna-harness, @okosun-j, @RajiKoppala, @rssnyder, @suranc, @venkat65-harness, @brandon-harness

.github/CODEOWNERS:

# HDH Codeowners file.
# Created October 2023 - https://harness.atlassian.net/browse/HDH-189
# Applies to Repository Structure, not URL per-se.
# Learn more at: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global Owners of the HDH Repository
*       @pratmit @wei-harness

# Configuration Files in DS are JS.
*.js    @wei-harness @rohanmaharjan100
*.ts    @wei-harness @rohanmaharjan100
*.jsx    @wei-harness @rohanmaharjan100
*.tsx    @wei-harness @rohanmaharjan100

# Changes to Lock File
*.lock  @wei-harness

# Changes to Config Files
*.ini  @wei-harness
*.json  @wei-harness
*.toml  @wei-harness
*ignore @wei-harness
/_server-redirect @wei-harness

# Changes to Netlify Files
/netlify/ @wei-harness

# Contributing
CONTRIBUTING.md @pratmit
README.md @pratmit
/docs/hdh/ @pratmit

# University
/university/ @ravilach
/src/components/HomepageUniversity/ @ravilach
/src/components/University/ @ravilach

# Community
/community/ @Ompragash

# Redirect Archives
/archive/  @pratmit @wei-harness

# Documentation ###

# All Static files (images etc.)
static/  @rohanmaharjan100 @wei-harness

# All Data files - Please add global reviewers who are familiar with js/ts
# data/*.ts @global-data-file-owners

# Continuous Delivery Docs
/docs/continuous-delivery/ @krishi0408 @SushrutHarness @vishal-av @pranaykaikini @prasadsatamharness @thisrohangupta @shylajasun
/release-notes/continuous-delivery.md @krishi0408 @SushrutHarness @vishal-av @pranaykaikini @prasadsatamharness @thisrohangupta @shylajasun
/src/components/Roadmap/data/cdData.ts @krishi0408 @SushrutHarness @vishal-av @thisrohangupta @shylajasun
/src/components/Docs/data/continuousDeliveryData*  @krishi0408 @SushrutHarness @vishal-av @thisrohangupta
# FirstGen CD Docs
/docs/category/continuous-delivery/ @krishi0408 @SushrutHarness @vishal-av @thisrohangupta @shylajasun
# CD FAQs
/docs/faqs/continuous-delivery-faqs @krishi0408 @SushrutHarness @vishal-av @shylajasun
# GitEx FAQs
/docs/faqs/git-exp-vs-config-as-code/ @krishi0408 @SushrutHarness @vishal-av @shylajasun


# Continuous Integration Docs
/docs/continuous-integration/ @nofarblue @rustd @dewan-ahmed @SushrutHarness @shivloka-harness
/release-notes/continuous-integration.md @nofarblue @rustd @dewan-ahmed @SushrutHarness @shivloka-harness
/src/components/Roadmap/data/ciData.ts @nofarblue @rustd @dewan-ahmed @SushrutHarness @shivloka-harness
/src/components/Docs/data/continuousIntegrationData.ts @nofarblue @rustd @dewan-ahmed @SushrutHarness @shivloka-harness

# CODE Docs
/docs/code-repository/ @hitesharinga @dewan-ahmed
/release-notes/code-repository.md @hitesharinga @dewan-ahmed
/src/components/Roadmap/data/codeData.ts @hitesharinga @dewan-ahmed
/src/components/Docs/data/codeRepositoryData.tsx @hitesharinga @dewan-ahmed

# STO Docs
/docs/security-testing-orchestration/ @tejakummarikuntla @priteshchandaliya
/docs/faqs/security-testing-orchestration/ @tejakummarikuntla @priteshchandaliya
/release-notes/security-testing-orchestration.md @tejakummarikuntla @priteshchandaliya
/src/components/Roadmap/data/stoData.ts @tejakummarikuntla @priteshchandaliya
/src/components/Docs/data/securityTestingOrchestrationData.ts @tejakummarikuntla @priteshchandaliya
# STO FAQs
/docs/faqs/security-testing-orchestration/ @tejakummarikuntla

# CCM Docs
/docs/cloud-cost-management/ @Rohit-Kaliki @joeyouss @iamanmolm @sdsingh07 @sandyydk @abhinavsingh-ccm @riyasyash
/release-notes/cloud-cost-management.md @Rohit-Kaliki @joeyouss @himanshu-jain-harness @suryanarayanan-venkatesan
/src/components/Roadmap/data/ccmData.ts @Rohit-Kaliki @joeyouss @rajarshee-harness
/src/components/Docs/data/cloudCostManagementData.ts @Rohit-Kaliki @joeyouss @rajarshee-harness

# FirstGen CCM Docs
/docs/category/cloud-cost-management/ @Rohit-Kaliki @joeyouss
# CCM FAQs
/docs/faqs/cloud-cost-management-faqs/ @Rohit-Kaliki @joeyouss

# CET Docs
/docs/continuous-error-tracking/ @M-Tsur
/release-notes/continuous-error-tracking.md @M-Tsur
/src/components/Docs/data/continuousErrorTrackingData.ts @M-Tsur
/src/components/Docs/ContinuousErrorTracking.tsx @M-Tsur

# SRM Docs
/docs/service-reliability-management/ @sunilgupta-harness @umamukkara
/release-notes/service-reliability-management.md @sunilgupta-harness @umamukkara
/src/components/Roadmap/data/srmData.ts @sunilgupta-harness
/src/components/Docs/data/serviceReliabilityManagementData.ts @sunilgupta-harness

# Chaos Docs
/docs/chaos-engineering/ @neelanjan00 @SmritiSatya @shovanmaity @Jonsy13 @Saranya-jena @Adarshkumar14 @ispeakc0de @amityt @uditgaurav @S-ayanide @vanshBhatia-A4k9 @ksatchit @umamukkara @SarthakJain26 @SahilKr24 @utkarsh-code-harness
/release-notes/chaos-engineering.md @neelanjan00 @SmritiSatya @Jonsy13
/src/components/Roadmap/data/ceData.ts @krishi0408 @neelanjan00 @SmritiSatya @vishal-av @SushrutHarness
/src/components/Docs/data/chaosEngineeringData* @krishi0408 @neelanjan00 @SmritiSatya @vishal-av @SushrutHarness
# Chaos FAQs
/docs/faqs/chaos-engineering-faqs @neelanjan00 @SmritiSatya @shovanmaity @Jonsy13 @Saranya-jena @Adarshkumar14 @ispeakc0de @amityt @uditgaurav @S-ayanide @vanshBhatia-A4k9 @ksatchit @umamukkara @SarthakJain26 @SahilKr24 @utkarsh-code-harness
/docs/faqs/static @neelanjan00 @SmritiSatya @Jonsy13 @Adarshkumar14 @ksatchit @umamukkara
/kb/chaos-engineering/chaos-engineering-faq @neelanjan00 @SmritiSatya @ksatchit @umamukkara

# Platform Docs
/docs/platform/ @pratmit @krishi0408 @GokulBansal0 @abhishekharness @ivikramsahu
/release-notes/delegate.md @pratmit @abhishekharness @anshul-harness @ivikramsahu
/release-notes/platform.md @pratmit @GokulBansal0 @abhishekharness @ivikramsahu
/release-notes/self-managed-enterprise-edition.md @pratmit @abhishekharness @ivikramsahu @anshul-harness @raviyadalam 
/src/components/Roadmap/data/platformData.ts @pratmit @abhishekharness @ivikramsahu
/src/components/Docs/data/platformData.ts @pratmit @abhishekharness @ivikramsahu
# FirtGen Platform Docs
/docs/category/platform-firstgen/ @pratmit @abhishekharness @ivikramsahu
# FirstGen SMP Docs
/docs/category/self-managed-enterprise-edition-fg/ @pratmit @abhishekharness @ivikramsahu
/docs/self-managed-enterprise-edition/ @pratmit @abhishekharness @ivikramsahu
# Delegate FAQs
/docs/faqs/harness-delegate-faqs/ @pratmit @abhishekharness @ivikramsahu
# SMP FAQs
/docs/faqs/self-managed-ee-faq/ @pratmit @abhishekharness @ivikramsahu

# Pipeline Docs
/docs/platform/pipelines/ @krishi0408 @vishal-av @SudarshanPurohit @anshul-harness @rohitk-h @prasadsatamharness @navaneeth
/docs/platform/git-experience/ @krishi0408 @vishal-av @prasadsatamharness @anshul-harness @rohitk-h @prasadsatamharness @navaneeth
/docs/platform/templates/ @krishi0408 @vishal-av @SudarshanPurohit @anshul-harness @rohitk-h @prasadsatamharness @navaneeth
/docs/platform/variables-and-expressions/ @krishi0408 @vishal-av @SudarshanPurohit @anshul-harness @rohitk-h @prasadsatamharness @navaneeth
/docs/platform/triggers/ @krishi0408 @vishal-av @SudarshanPurohit @anshul-harness @rohitk-h @prasadsatamharness @navaneeth
/docs/platform/approvals/ @krishi0408 @vishal-av @anshul-harness @rohitk-h @prasadsatamharness @navaneeth
/docs/platform/connectors/ @krishi0408 @vishal-av @anshul-harness @rohitk-h @prasadsatamharness @navaneethoh

# IDP Docs
/docs/internal-developer-portal/ @OrkoHunter @manishas @khushisharmaharness
/release-notes/internal-developer-portal.md @OrkoHunter @manishas @khushisharmaharness
/release-notes/static/internal-developer-portal/ @OrkoHunter @manishas @khushisharmaharness
/src/components/Roadmap/data/idpData.ts @OrkoHunter @manishas @khushisharmaharness
/src/components/Docs/data/internalDeveloperPortal.ts @OrkoHunter @manishas @khushisharmaharness

# SCS Docs
/docs/software-supply-chain-assurance/ @sunilgupta-harness @tejakummarikuntla @pranay-harness @lavakush07
/release-notes/software-supply-chain-assurance.md @sunilgupta-harness @tejakummarikuntla @pranay-harness @lavakush07
/src/components/Roadmap/data/sscaData.ts @sunilgupta-harness @tejakummarikuntla @pranay-harness @lavakush07
/src/components/Docs/data/softwareSupplyChainAssuranceData.tsx @sunilgupta-harness @tejakummarikuntla @pranay-harness @lavakush07

# IACM Docs
/docs/infra-as-code-management/ @RickCraig @richardblack-Harness @allofthesepeople @scottyw-harness @nassergonzalez
/release-notes/infrastructure-as-code-management.md @RickCraig @richardblack-Harness
/src/components/Roadmap/data/iacmData.ts @RickCraig @richardblack-Harness
/src/components/Docs/data/iacmData.ts @RickCraig @richardblack-Harness

# FF Docs
/docs/feature-flags/ @HarnessTheChaos @laura-mannus
/release-notes/feature-flags.md @HarnessTheChaos
/src/components/Roadmap/data/ffData.ts @HarnessTheChaos
/src/components/Docs/data/featureFlagsData.ts @HarnessTheChaos
# FF FAQs
/docs/faqs/harness-feature-flag-faqs/ @HarnessTheChaos

#FME Docs
/src/components/Roadmap/data/fmeData.ts @dtk-DaveKarow @kleinjoshuaa @deej-split @harness-john
/release-notes/feature-management-experimentation.md @dtk-DaveKarow @kleinjoshuaa @deej-split @HarnessTheChaos
/release-notes/static/fme/ @dtk-DaveKarow @kleinjoshuaa @deej-split  @harness-john @HarnessTheChaos

# SEI Docs
/docs/software-engineering-insights/ @codewdhruv @batraprashant
/release-notes/software-engineering-insights.md @codewdhruv @batraprashant
/src/components/Roadmap/data/seiData.ts @codewdhruv
/src/components/Docs/data/softwareEngineeringInsightsData.ts @codewdhruv

# DB DevOps Docs
/docs/database-devops/ @stephenatwell @HarnessTheChaos @archit-harness @anshul-harness @ankittiwari-harness
/release-notes/database-devops.md @stephenatwell @HarnessTheChaos @archit-harness @anshul-harness @ankittiwari-harness
/src/components/Docs/data/databaseDevOpsData.ts @stephenatwell @HarnessTheChaos @archit-harness @anshul-harness @ankittiwari-harness
# DB DevOps FAQs
/docs/faqs/db-devops-faqs/ @stephenatwell @HarnessTheChaos @archit-harness @anshul-harness @ankittiwari-harness

# CDE Docs
/docs/cloud-development-environments/ @manishas @khushisharmaharness
/src/components/Docs/data/cloudDevelopmentEnvironmentData.ts @manishas @khushisharmaharness

# IR Docs
/docs/incident-response/ @ryantaylor16 @Kmonkeyjam
/release-notes/incident-response @ryantaylor16 @Kmonkeyjam

# AI QA Assistant Docs
/docs/ai-qa-assistant/ 

# Artifact Registry Docs
/docs/artifact-registry/ @shankaranandh @shivagowda @richardblack-Harness @poojaSinghal @arvind-choudhary-h
/src/components/Docs/data/artifactRegistryData.ts @shankaranandh @shivagowda @richardblack-Harness @poojaSinghal @arvind-choudhary-h

# Open Source Docs
/docs/open-source/ @dewan-ahmed @rustd @SushrutHarness
/src/components/Docs/data/openSourceData.tsx @dewan-ahmed @rustd @SushrutHarness

# Cloud Operations Docs
/docs/harness-cloud-operations/ @ankit-harness @yogi-harness

# Knowledge Base ###

# Overall KB
/kb/ @deepanshuHarness @jimin-harness @guna-harness
/src/components/KnowledgeBase/data/ @deepanshuHarness @jimin-harness @guna-harness

#Armory KB
/kb/armory @okosun-j @jimin-harness @deepanshuHarness @guna-harness

# DB DevOps
/kb/database-devops/ @stephenatwell @HarnessTheChaos @archit-harness @anshul-harness @ankittiwari-harness

#Reference Architectures
/kb/reference-architectures @RajiKoppala @rssnyder @suranc @venkat65-harness @brandon-harness

Add TabFragmentActivator component
  docs/infra-as-code-management/get-started/get-started.md
  src/components/TabFragmentActivator/TabFragmentActivator.tsx
Owners: @RickCraig, @richardblack-Harness, @allofthesepeople, @scottyw-harness, @nassergonzalez, @wei-harness, @rohanmaharjan100

Update
  docs/chaos-engineering/getting-started/smp/connect-infrastructure.md
  docs/chaos-engineering/getting-started/smp/smp.md
Owners: @neelanjan00, @SmritiSatya, @shovanmaity, @Jonsy13, @Saranya-jena, @Adarshkumar14, @ispeakc0de, @amityt, @uditgaurav, @S-ayanide, @vanshBhatia-A4k9, @ksatchit, @umamukkara, @SarthakJain26, @SahilKr24, @utkarsh-code-harness

rollback in changelogs (#9818)
  docs/database-devops/concepts-and-features/automatic-and-custom-rollback.md
  docs/database-devops/concepts-and-features/static/rollback-error-sql.png
  docs/database-devops/concepts-and-features/understanding-changelog-directories/working-with-sql-directories.md
  docs/database-devops/use-database-devops/rollback-for-database-schemas.md
Owners: @stephenatwell, @HarnessTheChaos, @archit-harness, @anshul-harness, @ankittiwari-harness

add delegate 24.12.84709,25.01.85000,25.02.85201
  release-notes/delegate.md
Owners: @pratmit, @abhishekharness, @anshul-harness, @ivikramsahu

update release date
  release-notes/delegate.md
Owners: @pratmit, @abhishekharness, @anshul-harness, @ivikramsahu

add system stability info
  release-notes/self-managed-enterprise-edition.md
Owners: @pratmit, @abhishekharness, @ivikramsahu, @anshul-harness, @raviyadalam

add version updates
  docs/self-managed-enterprise-edition/advanced-configurations/configure-image-digest.md
  docs/self-managed-enterprise-edition/shared/smp-supported-platforms.md
Owners: @pratmit, @abhishekharness, @ivikramsahu

WIP - need to update the screenshots
  docs/platform/harness-aida/aida-overview.md
  docs/platform/harness-aida/code-agent.md
Owners: @pratmit, @krishi0408, @GokulBansal0, @abhishekharness, @ivikramsahu

Release notes 1.82.4
  release-notes/continuous-delivery.md
Owners: @krishi0408, @SushrutHarness, @vishal-av, @pranaykaikini, @prasadsatamharness, @thisrohangupta, @shylajasun

Pipeline is Successful
  docs/platform/pipelines/run-specific-stage-in-pipeline.md
Owners: @krishi0408, @vishal-av, @SudarshanPurohit, @anshul-harness, @rohitk-h, @prasadsatamharness, @navaneeth

add feature
  release-notes/continuous-delivery.md
Owners: @krishi0408, @SushrutHarness, @vishal-av, @pranaykaikini, @prasadsatamharness, @thisrohangupta, @shylajasun

add feature
  release-notes/continuous-delivery.md
Owners: @krishi0408, @SushrutHarness, @vishal-av, @pranaykaikini, @prasadsatamharness, @thisrohangupta, @shylajasun

add ticket
  release-notes/continuous-delivery.md
Owners: @krishi0408, @SushrutHarness, @vishal-av, @pranaykaikini, @prasadsatamharness, @thisrohangupta, @shylajasun

Change per review comment.
  docs/code-repository/pull-requests/prs-of-interest.md
Owners: @hitesharinga, @dewan-ahmed

delegate version update
  release-notes/delegate.md
Owners: @pratmit, @abhishekharness, @anshul-harness, @ivikramsahu

CODE-3196 changes.
  docs/code-repository/config-repos/rules.md
Owners: @hitesharinga, @dewan-ahmed

Add documentation for Service entity support in On Run and On Save events. Mention feature flag CDS_ENABLE_SERVICE_ON_RUN_OPA_EVAL.
  docs/platform/governance/policy-as-code/harness-governance-overview.md
  docs/platform/governance/policy-as-code/policy-as-code-faqs.md
Owners: @pratmit, @krishi0408, @GokulBansal0, @abhishekharness, @ivikramsahu

no RN so default note added
  release-notes/delegate.md
Owners: @pratmit, @abhishekharness, @anshul-harness, @ivikramsahu

update RN
  release-notes/delegate.md
Owners: @pratmit, @abhishekharness, @anshul-harness, @ivikramsahu
