Repository harness/developer-hub, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ravilach, @wei-harness, @Ompragash, @krishi0408, @roshnisarangadharan, @SushrutHarness, @nofarblue, @rustd, @pwolf-harness, @hitesharinga, @douglas-j-bothwell, @rdsoze, @navaneeth, @Rohit-Kaliki, @joeyouss, @nikunj-badjatya, @M-Tsur, @sunilgupta-harness, @neelanjan00, @SmritiSatya, @brian-f-harness, @harishkammanahalli, @saifeemustafaqharness, @Debanitrkl, @tejakummarikuntla, @RickCraig, @richardblack-Harness, @HarnessTheChaos, @jenniferopal, @ankit-harness, @codewdhruv, @deepanshuHarness

Add Product Roadmap in CCM
  docs/cloud-cost-management/CCMRoadmap.tsx
  docs/cloud-cost-management/styles.module.scss
Owners: @rdsoze, @navaneeth, @Rohit-Kaliki, @joeyouss, @nikunj-badjatya

update
  docs/chaos-engineering/onboarding/harness-infra/harness-infra.md
  docs/chaos-engineering/onboarding/hce-onboarding.md
Owners: @neelanjan00, @SmritiSatya

Add Product Roadmap in CCM
  docs/cloud-cost-management/CCMRoadmap.tsx
  docs/cloud-cost-management/roadmapData.ts
Owners: @rdsoze, @navaneeth, @Rohit-Kaliki, @joeyouss, @nikunj-badjatya

Update ssca-supported.md
  docs/software-supply-chain-assurance/shared/ssca-supported.md
Owners: @sunilgupta-harness, @tejakummarikuntla

Update ssca-supported.md
  docs/software-supply-chain-assurance/shared/ssca-supported.md
Owners: @sunilgupta-harness, @tejakummarikuntla

Add Product Roadmap in CCM
  docs/cloud-cost-management/roadmapData.ts
  docs/cloud-cost-management/styles.module.scss
Owners: @rdsoze, @navaneeth, @Rohit-Kaliki, @joeyouss, @nikunj-badjatya

[PL-51747] Delegate Hotfix 83004
  release-notes/delegate.md
Owners: @brian-f-harness, @harishkammanahalli

Update install-a-harness-git-ops-agent.md
  docs/continuous-delivery/gitops/use-gitops/install-a-harness-git-ops-agent.md
Owners: @krishi0408, @roshnisarangadharan, @SushrutHarness

dates
  release-notes/delegate.md
Owners: @brian-f-harness, @harishkammanahalli

Update install-a-harness-git-ops-agent.md
  docs/continuous-delivery/gitops/use-gitops/install-a-harness-git-ops-agent.md
Owners: @krishi0408, @roshnisarangadharan, @SushrutHarness

Update docs/cloud-cost-management/5-use-ccm-cost-governance/asset-governance/AWS/AWS-recommendations.md
  docs/cloud-cost-management/5-use-ccm-cost-governance/asset-governance/AWS/AWS-recommendations.md
Owners: @rdsoze, @navaneeth, @Rohit-Kaliki, @joeyouss, @nikunj-badjatya

Update docs/cloud-cost-management/5-use-ccm-cost-governance/asset-governance/AWS/AWS-recommendations.md
  docs/cloud-cost-management/5-use-ccm-cost-governance/asset-governance/AWS/AWS-recommendations.md
Owners: @rdsoze, @navaneeth, @Rohit-Kaliki, @joeyouss, @nikunj-badjatya

Update docs/cloud-cost-management/5-use-ccm-cost-governance/asset-governance/AWS/AWS-recommendations.md
  docs/cloud-cost-management/5-use-ccm-cost-governance/asset-governance/AWS/AWS-recommendations.md
Owners: @rdsoze, @navaneeth, @Rohit-Kaliki, @joeyouss, @nikunj-badjatya

Update docs/cloud-cost-management/5-use-ccm-cost-governance/asset-governance/AWS/AWS-recommendations.md
  docs/cloud-cost-management/5-use-ccm-cost-governance/asset-governance/AWS/AWS-recommendations.md
Owners: @rdsoze, @navaneeth, @Rohit-Kaliki, @joeyouss, @nikunj-badjatya

Update docs/cloud-cost-management/5-use-ccm-cost-governance/asset-governance/AWS/AWS-recommendations.md
  docs/cloud-cost-management/5-use-ccm-cost-governance/asset-governance/AWS/AWS-recommendations.md
Owners: @rdsoze, @navaneeth, @Rohit-Kaliki, @joeyouss, @nikunj-badjatya

Update docs/cloud-cost-management/5-use-ccm-cost-governance/asset-governance/AWS/AWS-recommendations.md
  docs/cloud-cost-management/5-use-ccm-cost-governance/asset-governance/AWS/AWS-recommendations.md
Owners: @rdsoze, @navaneeth, @Rohit-Kaliki, @joeyouss, @nikunj-badjatya

Update docs/cloud-cost-management/5-use-ccm-cost-governance/asset-governance/AWS/AWS-recommendations.md
  docs/cloud-cost-management/5-use-ccm-cost-governance/asset-governance/AWS/AWS-recommendations.md
Owners: @rdsoze, @navaneeth, @Rohit-Kaliki, @joeyouss, @nikunj-badjatya

Update docs/cloud-cost-management/5-use-ccm-cost-governance/asset-governance/AWS/AWS-recommendations.md
  docs/cloud-cost-management/5-use-ccm-cost-governance/asset-governance/AWS/AWS-recommendations.md
Owners: @rdsoze, @navaneeth, @Rohit-Kaliki, @joeyouss, @nikunj-badjatya

Update docs/cloud-cost-management/5-use-ccm-cost-governance/asset-governance/AWS/AWS-recommendations.md
  docs/cloud-cost-management/5-use-ccm-cost-governance/asset-governance/AWS/AWS-recommendations.md
Owners: @rdsoze, @navaneeth, @Rohit-Kaliki, @joeyouss, @nikunj-badjatya

Update docs/cloud-cost-management/5-use-ccm-cost-governance/asset-governance/AWS/AWS-recommendations.md
  docs/cloud-cost-management/5-use-ccm-cost-governance/asset-governance/AWS/AWS-recommendations.md
Owners: @rdsoze, @navaneeth, @Rohit-Kaliki, @joeyouss, @nikunj-badjatya

Update docs/cloud-cost-management/5-use-ccm-cost-governance/asset-governance/AWS/AWS-recommendations.md
  docs/cloud-cost-management/5-use-ccm-cost-governance/asset-governance/AWS/AWS-recommendations.md
Owners: @rdsoze, @navaneeth, @Rohit-Kaliki, @joeyouss, @nikunj-badjatya

Update docs/cloud-cost-management/5-use-ccm-cost-governance/asset-governance/AWS/AWS-recommendations.md
  docs/cloud-cost-management/5-use-ccm-cost-governance/asset-governance/AWS/AWS-recommendations.md
Owners: @rdsoze, @navaneeth, @Rohit-Kaliki, @joeyouss, @nikunj-badjatya

Update docs/cloud-cost-management/5-use-ccm-cost-governance/asset-governance/AWS/AWS-recommendations.md
  docs/cloud-cost-management/5-use-ccm-cost-governance/asset-governance/AWS/AWS-recommendations.md
Owners: @rdsoze, @navaneeth, @Rohit-Kaliki, @joeyouss, @nikunj-badjatya

Update _category_.json
  docs/chaos-engineering/onboarding/harness-infra/_category_.json
Owners: @neelanjan00, @SmritiSatya

fix: [PIPE-19624]: Document referenced by behaviour in Git Experience as well as fix outdated content
  docs/platform/git-experience/configure-git-experience-for-harness-entities.md
  docs/platform/git-experience/static/enforce-gitx.png
  docs/platform/git-experience/static/referenced_by.png
  docs/platform/git-experience/static/referenced_by_2.png
Owners: @brian-f-harness, @harishkammanahalli, @saifeemustafaqharness

Doc update for CDS-97061- getinstance workaround
  docs/continuous-delivery/manage-deployments/rollback-deployments.md
Owners: @krishi0408, @roshnisarangadharan, @SushrutHarness

Create getinstances.png
  docs/continuous-delivery/manage-deployments/static/getinstances.png
Owners: @krishi0408, @roshnisarangadharan, @SushrutHarness

Update docs/continuous-delivery/manage-deployments/rollback-deployments.md
  docs/continuous-delivery/manage-deployments/rollback-deployments.md
Owners: @krishi0408, @roshnisarangadharan, @SushrutHarness

fix: [PIPE-18576]: Improvement of Git Experience docs
  docs/platform/git-experience/git-experience-overview.md
  docs/platform/git-experience/gitexp-bidir-sync-setup.md
Owners: @brian-f-harness, @harishkammanahalli, @saifeemustafaqharness

Update ssca-supported.md
  docs/software-supply-chain-assurance/shared/ssca-supported.md
Owners: @sunilgupta-harness, @tejakummarikuntla

Update ssca-supported.md
  docs/software-supply-chain-assurance/shared/ssca-supported.md
Owners: @sunilgupta-harness, @tejakummarikuntla

add changes
  docs/platform/git-experience/configure-git-experience-for-harness-entities.md
Owners: @brian-f-harness, @harishkammanahalli, @saifeemustafaqharness

add changes
  docs/platform/git-experience/configure-git-experience-for-harness-entities.md
Owners: @brian-f-harness, @harishkammanahalli, @saifeemustafaqharness

SMP 0.17.1 patch RN
  release-notes/self-managed-enterprise-edition.md
Owners: @brian-f-harness, @harishkammanahalli, @saifeemustafaqharness

add SARIF and Git Trigger tiles to STO splash page
  src/components/Docs/data/securityTestingOrchestrationData.ts
Owners: @ravilach, @wei-harness

update screenshot
  docs/security-testing-orchestration/use-sto/view-and-troubleshoot-vulnerabilities/static/security-tests-tab.png
Owners: @douglas-j-bothwell

comment out Supported Binaries table in What's Supported pages
  docs/security-testing-orchestration/sto-techref-category/security-step-settings-reference.md
  docs/security-testing-orchestration/whats-supported.md
Owners: @douglas-j-bothwell

add BLOCK_SHELL_TASK to CCM delegate guide
  kb/cloud-cost-management/articles/onboarding/k8s.md
Owners: @rdsoze, @navaneeth, @Rohit-Kaliki, @joeyouss

fix broken link to SARIF topic
  src/components/Docs/data/securityTestingOrchestrationData.ts
Owners: @ravilach, @wei-harness

Update rollback-deployments.md
  docs/continuous-delivery/manage-deployments/rollback-deployments.md
Owners: @krishi0408, @roshnisarangadharan, @SushrutHarness

.github/CODEOWNERS:

# HDH Codeowners file.
# Created October 2023 - https://harness.atlassian.net/browse/HDH-189
# Applies to Repository Structure, not URL per-se.
# Learn more at: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global Owners of the HDH Repository
*       @ravilach @wei-harness

# Configuration Files in DS are JS.
*.js    @wei-harness

# Changes to Lock File
*.lock  @wei-harness

# Contributing
CONTRIBUTING.md @ravilach
README.md @ravilach
/docs/hdh/ @ravilach

# Certification
/university/ @ravilach

# Community
/community/ @Ompragash

# Redirect Archives
/archive/  @ravilach @wei-harness

# Documentation ###

# Continuous Delivery Docs
/docs/continuous-delivery/ @krishi0408 @roshnisarangadharan @SushrutHarness

# Continuous Integration Docs
/docs/continuous-integration/ @nofarblue @rustd

# CODE Docs
/docs/code-repository/ @pwolf-harness @hitesharinga

# STO Docs
/docs/security-testing-orchestration/ @douglas-j-bothwell
/docs/faqs/security-testing-orchestration/ @douglas-j-bothwell

# CCM Docs
/docs/cloud-cost-management/ @rdsoze @navaneeth @Rohit-Kaliki @joeyouss @nikunj-badjatya

# CET Docs
/docs/continuous-error-tracking/ @M-Tsur

# SRM Docs
/docs/service-reliability-management/ @sunilgupta-harness

# Chaos Docs
/docs/chaos-engineering/ @neelanjan00 @SmritiSatya

# Platform Docs
/docs/platform/ @brian-f-harness @harishkammanahalli @saifeemustafaqharness

# IDP Docs
/docs/internal-developer-portal/ @Debanitrkl

# SSCA Docs
/docs/software-supply-chain-assurance/ @sunilgupta-harness @tejakummarikuntla

# IACMS Docs
/docs/infra-as-code-management/ @RickCraig @richardblack-Harness

# FF Docs
/docs/feature-flags/ @HarnessTheChaos @jenniferopal

# Cloud Operations Docs
/docs/harness-cloud-operations/ @ankit-harness

# SEI Docs
/docs/software-engineering-insights/ @codewdhruv

# FirstGen Docs ###

# CD Docs
/docs/category/continuous-delivery/ @krishi0408 @SushrutHarness @roshnisarangadharan

# Platform Docs
/docs/category/platform-firstgen/ @brian-f-harness @harishkammanahalli @saifeemustafaqharness

# SMP Docs
/docs/category/self-managed-enterprise-edition-fg/ @brian-f-harness @harishkammanahalli @saifeemustafaqharness

# CCM Docs
/docs/category/cloud-cost-management/ @rdsoze @navaneeth @Rohit-Kaliki @joeyouss

# FAQ Docs ###

# CD FAQs
/docs/faqs/continuous-delivery-faqs @krishi0408 @SushrutHarness @roshnisarangadharan

# FF FAQs
/docs/faqs/harness-feature-flag-faqs/ @HarnessTheChaos @jenniferopal

# CCM FAQs
/docs/faqs/cloud-cost-management-faqs/ @rdsoze @navaneeth @Rohit-Kaliki @joeyouss

# STO FAQs
/docs/faqs/security-testing-orchestration/ @douglas-j-bothwell

# Chaos FAQs
/docs/faqs/chaos-engineering-faq/ @neelanjan00 @SmritiSatya

# Delegate FAQs
/docs/faqs/harness-delegate-faqs/ @brian-f-harness @harishkammanahalli

# GitEx FAQs
/docs/faqs/git-exp-vs-config-as-code/ @krishi0408 @SushrutHarness @roshnisarangadharan

# SMP FAQs
/docs/faqs/self-managed-ee-faq/ @brian-f-harness @harishkammanahalli @saifeemustafaqharness

# Release Notes ###

# CD Release Notes
/release-notes/continuous-delivery.md @krishi0408 @SushrutHarness @roshnisarangadharan

# CCM Release Notes
/release-notes/cloud-cost-management.md @rdsoze

# CE Release Notes
/release-notes/chaos-engineering.md @neelanjan00 @SmritiSatya

# CET Release Notes
/release-notes/continuous-error-tracking.md @M-Tsur

# CI Release Notes
/release-notes/continuous-integration.md @nofarblue @rustd

# CODE Release Notes
/release-notes/code-repository.md @pwolf-harness @hitesharinga

# Delegate Release Notes
/release-notes/delegate.md @brian-f-harness @harishkammanahalli

# FF Release Notes
/release-notes/feature-flags.md @HarnessTheChaos @jenniferopal

# IDP Release Notes
/release-notes/internal-developer-portal.md @Debanitrkl

# Platform Release Notes
/release-notes/platform.md @brian-f-harness @harishkammanahalli @saifeemustafaqharness

# SEI Release Notes
/release-notes/software-engineering-insights.md @codewdhruv

# STO Release Notes
/release-notes/security-testing-orchestration.md @douglas-j-bothwell

# SMP
/release-notes/self-managed-enterprise-edition.md @brian-f-harness @harishkammanahalli @saifeemustafaqharness

# SRM Release Notes
/release-notes/service-reliability-management.md @sunilgupta-harness

# SSCA Release Notes
/release-notes/service-reliability-management.md @sunilgupta-harness @tejakummarikuntla

# Knowledge Base ###

# Overall KB
/kb/ @deepanshuHarness

# CI KB
/kb/continuous-integration/ @nofarblue @rustd @deepanshuHarness

# CD KB
/kb/continuous-delivery/ @krishi0408 @SushrutHarness @roshnisarangadharan

#Platform KB
/kb/platform/ @saifeemustafaqharness @brian-f-harness

#FF KB
/kb/feature-flags/ @HarnessTheChaos @jenniferopal

#CCM KB
/kb/cloud-cost-management/ @rdsoze @navaneeth @Rohit-Kaliki @joeyouss

#SRM KB
/kb/service-reliability-management/ @sunilgupta-harness

#CE KB
/kb/chaos-engineering/ @neelanjan00 @SmritiSatya

#CET KB
/kb/continuous-error-tracking/ @M-Tsur

#STO KB
/kb/security-testing-orchestration/ @douglas-j-bothwell

# Roadmap ###

#CCM Roadmap
src/components/Roadmap/data/ccmData.ts @rdsoze @navaneeth @Rohit-Kaliki @joeyouss

#CD Roadmap
src/components/Roadmap/data/cdData.ts @krishi0408 @SushrutHarness @roshnisarangadharan

#CE Roadmap
src/components/Roadmap/data/cdData.ts @krishi0408 @neelanjan00 @SmritiSatya

#CI Roadmap
src/components/Roadmap/data/ciData.ts @nofarblue @rustd

#Code Roadmap
src/components/Roadmap/data/codeData.ts @pwolf-harness @hitesharinga

#FF Roadmap
src/components/Roadmap/data/ffData.ts @HarnessTheChaos @jenniferopal

#IACM Roadmap
src/components/Roadmap/data/iacmData.ts @RickCraig @richardblack-Harness

#IDP Roadmap
src/components/Roadmap/data/idpData.ts @Debanitrkl

#Platform Roadmap
src/components/Roadmap/data/idpData.ts @brian-f-harness

#SEI Roadmap
src/components/Roadmap/data/seiData.ts @codewdhruv

#SRM Roadmap
src/components/Roadmap/data/srmData.ts @sunilgupta-harness

#SSCA Roadmap
src/components/Roadmap/data/sscaData.ts @sunilgupta-harness @tejakummarikuntla

#STO Roadmap
src/components/Roadmap/data/stoData.ts @douglas-j-bothwell
