Repository harness/developer-hub, pull requests merged in 2023-10, with the labels that each got.

#3322 Sto tutorial updates doc 3684 v2
  docs/security-testing-orchestration/get-started/onboarding-guide.md
  docs/security-testing-orchestration/get-started/static/configure-bandit-step.png
  docs/security-testing-orchestration/get-started/static/security-testing-orchestration-basics-40-new-issues.png
  docs/security-testing-orchestration/get-started/static/set-up-harness-for-sto-23_NEW.png
  docs/security-testing-orchestration/get-started/static/set-up-harness-for-sto-24.html
  docs/security-testing-orchestration/get-started/static/set-up-harness-for-sto-25-specify-variant-type.png
  docs/security-testing-orchestration/get-started/static/set-up-harness-for-sto-26.png
  docs/security-testing-orchestration/get-started/static/setup-tutorial-create-base-pipeline-select-module.png
  docs/security-testing-orchestration/get-started/static/sto-basics-tut-select-variant-field-type.png
  tutorials/security-tests/cicd-integrated-pipeline.md
  tutorials/security-tests/standalone-pipeline.md
  tutorials/security-tests/static/configure-bandit-step.png
  tutorials/security-tests/static/sto-integrated-workflows-00.png
  tutorials/security-tests/static/sto-integrated-workflows-02.png
  tutorials/security-tests/static/sto-integrated-workflows-03.png
  tutorials/security-tests/static/sto-integrated-workflows-04.png
  tutorials/security-tests/static/sto-integrated-workflows-05.png
  tutorials/security-tests/static/sto-integrated-workflows-06.png
  tutorials/security-tests/static/sto-integrated-workflows-08.png
  tutorials/security-tests/static/sto-integrated-workflows-09.png
  tutorials/security-tests/static/sto-integrated-workflows-10-snyk-with-remediation-steps.png
  tutorials/security-tests/static/sto-integrated-workflows-40-compare-results.png
  tutorials/security-tests/static/sto-standalone-workflows-15.png
  tutorials/security-tests/static/sto-standalone-workflows-16-indiv-issue-details.png
Labels: DO NOT MERGE, peer review

#3600 Added CDS-79144, ZD-50623 upon request from sourabh.awashti@harness.i…
  release-notes/delegate.md
  release-notes/platform.md
Labels: release notes, tech review, DO NOT MERGE

#3318 [CDS-75775]: documentation for 80314 delegate HF
  release-notes/delegate.md
Labels: DO NOT MERGE

#3337 adding arch diagrams for ccm onboarding
  kb/cloud-cost-management/articles/onboarding.md
  kb/cloud-cost-management/static/ccm-onboarding-aws.png
  kb/cloud-cost-management/static/ccm-onboarding-azure.png
  kb/cloud-cost-management/static/ccm-onboarding-gcp.png
  kb/cloud-cost-management/static/ccm-onboarding-k8s.png
  kb/cloud-cost-management/static/ccm-onboarding-rbac.png
Labels: KB

#3607 DOC-3808: Removed the statement about Harness GitOps not supporting c…
  docs/continuous-delivery/shared/cd-integrations-supported.md
Labels: bug, tech review

#3614 [DOC-3811] Comment out reference JSON secrets content
  docs/platform/secrets/secrets-management/add-a-google-cloud-secret-manager.md
  docs/platform/secrets/secrets-management/add-an-aws-secret-manager.md
  docs/platform/secrets/secrets-management/add-hashicorp-vault.md
  docs/platform/secrets/secrets-management/azure-key-vault.md
  docs/platform/secrets/secrets-management/custom-secret-manager.md
  docs/platform/secrets/secrets-management/reference-existing-secret-manager-secrets.md
  release-notes/delegate.md
  release-notes/platform.md
  release-notes/shared/kustomize-3-4-5-deprecation-notice.md
  release-notes/whats-new.md
Labels: tech review

#3640 STO relnotes 2023-10-05 doc-3822
  docs/security-testing-orchestration/get-started/onboarding-guide.md
  docs/security-testing-orchestration/get-started/overview.md
  docs/security-testing-orchestration/sto-techref-category/gitleaks-scanner-reference.md
  release-notes/early-access.md
  release-notes/security-testing-orchestration.md
  release-notes/whats-new.md
Labels: tech review, DO NOT MERGE

#3618 v1 draft 809xx relnotes DOC-3810
  docs/first-gen/firstgen-release-notes/harness-saa-s-release-notes.md
  release-notes/continuous-delivery.md
  release-notes/static/73123e6efdd7d7dbc7c67b4a7df71bd42b1b20c8ba4cf409f87de0749da8dc92.png
  release-notes/static/b3177e6cfcfa968777b63ee54eda683bbbb56e9683cceab996fb6ee0ac1c91de.png
  release-notes/static/c9e493ff7b202cfcccd9620aa6ea0efbce61981f08640dc3042e4a866ebbe745.png
  release-notes/static/cds-77710-set-runtime-input-as-execution-time-input.png
  release-notes/whats-new.md
Labels: release notes, DO NOT MERGE

#3606 CI RN 61xx / 809xx
  docs/continuous-integration/use-ci/run-tests/set-up-test-intelligence.md
  release-notes/continuous-integration.md
  release-notes/whats-new.md
Labels: DO NOT MERGE

#3673 SRM: Subscriptions and licenses
  docs/service-reliability-management/get-started/srm-subscription-licensing.md
Labels: pm review

#3696 [CDS-80906] Add CD service hooks to 0.9.1 patch rn
  release-notes/self-managed-enterprise-edition.md
Labels: tech review, DO NOT MERGE

#3084 [CDS-65085] Trigger explorer page - troubleshoot registered triggers
  docs/platform/11_Triggers/static/trigger-explorer.png
  docs/platform/11_Triggers/troubleshoot-registered-triggers.md
Labels: DO NOT MERGE

#3720 CD 810xx release notes
  docs/first-gen/firstgen-release-notes/harness-saa-s-release-notes.md
  release-notes/continuous-delivery.md
  release-notes/whats-new.md
Labels: draft, release notes, DO NOT MERGE, pm review

#3745 missed pushing what's new updates.
  release-notes/whats-new.md
Labels: release notes

#3635 CDS-78745: draft of content for the --clean option.
  docs/continuous-delivery/deploy-srv-diff-platforms/azure/azure-web-apps-tutorial.md
Labels: documentation, enhancement, question, draft, DO NOT MERGE

#3762 Added a release note for CDS-78745, which released with 810xx.
  release-notes/continuous-delivery.md
  release-notes/early-access.md
Labels: release notes, DO NOT MERGE, pm review

#3718 Add details of Barriers usage with Matrix.
  docs/continuous-delivery/x-platform-cd-features/cd-steps/flow-control/synchronize-deployments-using-barriers.md
Labels: draft, DO NOT MERGE, Waiting for Release

#3425 [PL-41430] Add K8s auth endpoint field
  docs/platform/secrets/secrets-management/add-hashicorp-vault.md
Labels: tech review, DO NOT MERGE

#3776 CDS 811xx/812xx release notes
  release-notes/continuous-delivery.md
  release-notes/whats-new.md
Labels: draft, release notes, tech review, DO NOT MERGE

#3816 SRM relnotes version 1.4.2 correction - removed '## October 18, 2023'…
  release-notes/whats-new.md
Labels: release notes

#3782 CI 63xx release notes
  release-notes/continuous-integration.md
Labels: DO NOT MERGE

#3834 CDS-81892: Documentation - Support for Flux managed Apps
  docs/continuous-delivery/gitops/get-started/harness-cd-git-ops-quickstart.md
  docs/continuous-delivery/gitops/get-started/static/harness-cd-git-ops-quickstart-04.png
  docs/continuous-delivery/gitops/get-started/static/harness-cd-git-ops-quickstart-13.png
  docs/continuous-delivery/gitops/use-gitops/install-a-harness-git-ops-agent.md
  docs/continuous-delivery/gitops/use-gitops/use-flux.md
Labels: documentation, enhancement, draft, tech review, DO NOT MERGE, pm review

#3891 Fix typo s/harnessed/harnesscd
  docs/platform/automation/cli/examples.md
  tutorials/cd-pipelines/infra-provisioning/cloudformation.md
  tutorials/cd-pipelines/kubernetes/helm-chart.md
  tutorials/cd-pipelines/kubernetes/kustomize.md
  tutorials/cd-pipelines/kubernetes/manifest.md
  tutorials/cd-pipelines/kubernetes/ownapp.md
  tutorials/cd-pipelines/serverless/aws-lambda.md
  tutorials/cd-pipelines/serverless/gcp-cloud-func.md
  tutorials/ci-pipelines/publish/ci-push-to-gar.md
  tutorials/platform/secrets-management.md
Labels: documentation

#3726 CDS-79505 ([FE][CD] Exclude option for the freeze window feature - Se…
  docs/continuous-delivery/cd-deployments-category/static/deployment-freeze-coverage.png
  docs/continuous-delivery/manage-deployments/deployment-freeze.md
  docs/continuous-delivery/manage-deployments/static/deployment-freeze-rule.png
Labels: documentation, draft, tech review, DO NOT MERGE

#3789 [PL-42098] Platform NG 81205 CG 81200 Delegate 23.10.81212 release notes
  docs/first-gen/firstgen-release-notes/fg-delegate.md
  docs/first-gen/firstgen-release-notes/harness-saa-s-release-notes.md
  release-notes/delegate.md
  release-notes/platform.md
  release-notes/whats-new.md
Labels: tech review, DO NOT MERGE

#3905 CDS-80356: [Documentation] K8s secrets with SOPS - first draft.
  docs/continuous-delivery/gitops/use-gitops/sops.md
Labels: documentation, draft, tech review, DO NOT MERGE

#3842 812xx ci release notes
  docs/continuous-integration/use-ci/set-up-build-infrastructure/k8s-build-infrastructure/configure-a-kubernetes-build-farm-to-use-self-signed-certificates.md
  kb/continuous-integration/continuous-integration-faqs.md
  release-notes/continuous-integration.md
  release-notes/whats-new.md
Labels: DO NOT MERGE
